<!DOCTYPE html>
<html lang="{{ language }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{{ url_for_cache('static', path='favicon.ico') }}">
    <title>
        {% block title %}
        {% trans %}Algorithmic Management Toolkit (AMT){% endtrans %}
        {% endblock %}
    </title>
    {% block scripts %}
    <script type="text/javascript" src="{{ url_for_cache('static', path='vendor/sortable/js/sortable.js') }}"></script>
    <script type="text/javascript" src="{{ url_for_cache('static', path='vendor/htmx/js/hyperscript.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for_cache('static', path='vendor/htmx/js/1.9.12.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for_cache('static', path='vendor/htmx/js/json-enc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for_cache('static', path='vendor/htmx/js/response-targets.js') }}"></script>
    <script type="text/javascript" src="{{ url_for_cache('static', path='js/amt.js') }}"></script>
    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for_cache('static', path='css/html5reset.css') }}"/>
    <link rel="stylesheet" href="{{ url_for_cache('static', path='css/layout.css') }}"/>
    {% endblock %}
</head>

<body hx-ext="response-targets">
    {% block header %}
    {% include 'header.html.j2' %}
    {% endblock %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block footer %}
    {% include 'footer.html.j2' %}
    {% endblock %}
</body>

</html>
