{% extends 'layouts/base.html.j2' %}

{% block content %}
    <div class="rvo-max-width-layout rvo-max-width-layout--md rvo-max-width-layout-inline-padding--none">

    <div style="text-align: center">
                              <span style="inline-size: 150px; block-size: 150px"
                                  class="utrecht-icon rvo-icon rvo-icon-computer rvo-icon--xl rvo-icon--hemelblauw"
                                  role="img"
                                  aria-label="Delta naar rechts"
                              ></span>
    </div>


        <p>
        De Algoritme Management Toolkit is ... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan eros at nisi volutpat, at sagittis ipsum sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean cursus, enim ac sollicitudin vestibulum, ante urna sollicitudin ex, ut mollis neque ipsum nec dui. Vestibulum maximus sapien euismod nulla commodo, et dignissim augue tempus. Morbi eleifend lacus in augue semper, at condimentum purus luctus. Nullam vel dolor lorem. Nam cursus tincidunt lacus, ut pharetra tortor cursus et. Etiam eu tortor at neque convallis imperdiet.
        </p>
    </div>
{% endblock %}
