{% extends 'algorithms/details_base.html.j2' %}
{% import 'macros/cards.html.j2' as render with context %}
{% from "macros/editable.html.j2" import editable with context %}
{% block detail_content %}
    <span class="rvo-text">{% trans %}Last updated{% endtrans %}: {{ last_edited | time_ago(language) }}
    {% trans %}ago{% endtrans %}</span>
    <div class="rvo-layout-row rvo-layout-align-items-start rvo-layout-gap--xl">
        {% if "DISABLED" == "FOR NOW" and system_card.assessments is defined and system_card.assessments|length > 0 %}
            <div>
                <h4 class="utrecht-heading-4">{% trans %}Assessment cards {% endtrans %}</h4>
                <ul class="rvo-ul rvo-ul--no-margin rvo-ul--none rvo-ul--no-padding">
                    {% for assessment in system_card.assessments %}
                        <li>
                            <a class="rvo-link rvo-link--with-icon rvo-link--zwart rvo-link--normal"
                               href="/algorithm/{{ algorithm_id }}/details/system_card/assessments/{{ assessment["name"].lower() }}">
                                <span class="utrecht-icon rvo-icon rvo-icon-document-met-lijnen rvo-icon--md rvo-icon--zwart rvo-link__icon--before"
                                      role="img"
                                      aria-label="Document met lijnen"></span>
                                {{ assessment["name"] }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if "DISABLED" == "FOR NOW" and system_card.models is defined and system_card.models|length > 0 %}
            <div>
                <h4 class="utrecht-heading-4">{% trans %}Model cards{% endtrans %}</h4>
                <ul class="rvo-ul rvo-ul--no-margin rvo-ul--none rvo-ul--no-padding">
                    {% for model in system_card.models %}
                        <li>
                            <a class="rvo-link rvo-link--with-icon rvo-link--zwart rvo-link--normal"
                               href="/algorithm/{{ algorithm_id }}/details/system_card/models/{{ model["name"].lower() }}">
                                <span class="utrecht-icon rvo-icon rvo-icon-document-met-lijnen rvo-icon--md rvo-icon--zwart rvo-link__icon--before"
                                      role="img"
                                      aria-label="Document met lijnen"></span>
                                {{ model["name"] }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="rvo-table--responsive margin-top-middle">
        <table class="rvo-table">
            <thead class="rvo-table-head">
                <tr class="rvo-table-row">
                    <th scope="col" class="rvo-table-header">{% trans %}Attribute{% endtrans %}</th>
                    <th scope="col" class="rvo-table-header">{% trans %}Value{% endtrans %}</th>
                </tr>
            </thead>
            {% for key, value in system_card %}
                {% if key not in ["status", "requirements","measures", "assessments", "models", "instruments"] %}
                    <tbody class="rvo-table-body">
                        <tr class="rvo-table-row">
                            <td class="rvo-table-cell">
                                <strong>{{ key.capitalize().replace("_", " ") }}</strong>
                            </td>
                            <td class="rvo-table-cell">
                                {{ render.render_value(key, value, 0, "algorithm/" + algorithm_id|string, "/system_card") }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
