version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "08:00"
      timezone: "Europe/Amsterdam"
    labels:
      - "dependencies"
    groups:
      allgithubactions:
        patterns:
          - "*"
    ignore:
      - dependency-name: "actions/upload-artifact*" # For the purpose of using ACT
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "08:00"
      timezone: "Europe/Amsterdam"
    labels:
      - "dependencies"
    allow:
      - dependency-type: "all"
    groups:
      allpip:
        patterns:
          - "*"

  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "08:00"
      timezone: "Europe/Amsterdam"
    labels:
      - "dependencies"
    groups:
      alldevcontainers:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "08:00"
      timezone: "Europe/Amsterdam"
    labels:
      - "dependencies"
    groups:
      allnpm:
        patterns:
          - "*"
    ignore:
      - dependency-name: "@nl-rvo/assets"
      - dependency-name: "@nl-rvo/component-library-css"
      - dependency-name: "@nl-rvo/design-tokens"
