{% extends 'layouts/base.html.j2' %}

{% block content %}
    <h1 class="margin-bottom--large">{% trans %}New Project{% endtrans %}</h1>

    <form hx-ext="json-enc" hx-post="/projects/new" hx-target-error="#errorContainer" hx-swap="innerHTML" method="post">
        {% trans %}Project name{% endtrans %} <input type="text" id="name" name="name">

        <fieldset>
            <legend>{% trans %}Selected Instruments{% endtrans %}</legend>
            {% for instrument in instruments %}
                <div class="instrument">
                    <input type="checkbox" id="{{ instrument.urn }}" name="instruments" value="{{ instrument.urn }}" /><label for="{{ instrument.urn }}">{{ instrument.name }}</label>
                </div>
            {% endfor %}
        </fieldset>

        <button type="submit">{% trans %}Create Project{% endtrans %}</button>
    </form>
    <div id="errorContainer"></div>
{% endblock %}
