# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
htmlcov/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.venv

# pytest
.pytest_cache/

# ruff linter
.ruff_cache/




