<header class="header">
    <div class="container">
        <div class="header_logo_container">
            <img class="header_logo_image" src="{{ url_for_cache('static', path='images/logo.svg') }}"/>
            <div class="header_subtitle_container">
                <span>{% trans %}Algorithm Management Toolkit{% endtrans %} ({{ version }})</span>
            </div>
        </div>
    </div>
    <nav class="header_nav">
        <div style="color: white; float: right; margin-right: 50px; width: 10em; height: 100%; display: flex; align-items: center">
            {% trans %}Language{% endtrans %}:&nbsp;
            {% for available_translation in available_translations %}
                <a {% if available_translation == language %}class="selected"{% endif %} id="langselect-{{ available_translation }}" style="color: white; text-decoration: none" href="javascript:setCookie('lang','{{ available_translation }}',9999); window.location.reload()">{{ available_translation }}</a>&nbsp;
            {% endfor %}
        </div>

    </nav>
</header>
