<header class="header">
    <div class="header_top">
        <a href="/"></a><img class="header_logo_image" src="{{ url_for_cache('static', path='images/logo.svg') }}"/></a>
        <span>{% trans %}Algorithm Management Toolkit{% endtrans %} ({{ version }})</span>
    </div>
    <div class="header_nav">
        <div class="header_nav_container">
            <nav>
                <ul>
                    <li><a href="/projects/new">{% trans %}New project{% endtrans %}</a></li>
                    <li><a href="/projects/">{% trans %}Projects{% endtrans %}</a></li>
                </ul>
            </nav>
        </div>
        <div class="language_selection">
            <span>{% trans %}Language{% endtrans %}:</span>

            {% for available_translation in available_translations %}
            <a {% if available_translation==language %}class="selected" {% endif %}
                id="langselect-{{ available_translation }}"
                href="javascript:setCookie('lang','{{ available_translation }}',9999); window.location.reload()">{{
                available_translation }}</a>
            {% endfor %}
        </div>
    </div>
</header>
