<form id="search-algorithm-form"
      hx-get="/algorithms/?skip=0"
      hx-target="#algorithm-search-results"
      hx-trigger="change #search-algorithm-form select"
      hx-include="this"
      hx-swap="innerHTML">
    <div class="amt-layout-grid rvo-layout-gap--md amt-layout-grid-columns--two">
        <div>
            <h1 class="utrecht-heading-1">{% trans %}algorithms{% endtrans %}</h1>
        </div>
        <div style="margin-left: auto">
            <a data-navigation="button:/algorithms/new" href="/algorithms/new">
                <button class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md"
                        type="button">{% trans %}New algorithm{% endtrans %}</button>
            </a>
        </div>
    </div>
    <div class="utrecht-form-fieldset rvo-form-fieldset">
        <fieldset class="utrecht-form-fieldset__fieldset utrecht-form-fieldset--html-fieldset">
            <div class="rvo-inline-form">
                <div class="rvo-layout-grid-container margin-bottom-none">
                    <div class="rvo-layout-grid rvo-layout-gap--sm rvo-layout-grid-columns--three rvo-layout-grid-layout--1fr">
                        <div class="rvo-layout-column rvo-text--bold rvo-layout-gap--sm">
                            <div>{% trans %}Search{% endtrans %}</div>
                            <div class="form-input-container">
                                <input id="algorithm-search-input"
                                       type="text"
                                       class="utrecht-textbox utrecht-textbox--html-input"
                                       dir="auto"
                                       value="{{ search }}"
                                       placeholder="{% trans %}Find algorithm...{% endtrans %}"
                                       name="search"
                                       hx-get="/algorithms/?skip=0"
                                       hx-trigger="input changed delay:500ms, search"
                                       autocomplete="off"
                                       onfocus="this.value=''" />
                                <span class="utrecht-icon rvo-icon rvo-icon-kruis rvo-icon--lg form-input-clear"
                                      role="img"
                                      aria-label="Kruis"
                                      hx-trigger="click"
                                      hx-get="/algorithms/?skip=0"
                                      hx-indicator=".htmx-indicator"
                                      hx-swap="innerHTML"
                                      onclick="document.getElementById('algorithm-search-input').value = ''"></span>
                            </div>
                        </div>
                        <div class="rvo-layout-column rvo-text--bold rvo-layout-gap--sm">
                            <div>{% trans %}Lifecycle{% endtrans %}</div>
                            <div class="rvo-select-wrapper">
                                <select id="add-lifecycle"
                                        name="add-filter-lifecycle"
                                        class="utrecht-select utrecht-select--html-select">
                                    <option value="">{% trans %}Select lifecycle{% endtrans %}</option>
                                    {% for lifecycle in lifecycles %}
                                        <option {% if "lifecycle" in filters and lifecycle.value == filters["lifecycle"].value %}selected="selected"{% endif %}
                                                value="{{ lifecycle.value }}">{{ lifecycle.display_value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="rvo-layout-column rvo-text--bold rvo-layout-gap--sm">
                            <div>{% trans %}Category{% endtrans %}</div>
                            <div class="rvo-select-wrapper">
                                <select id="add-publication-category"
                                        name="add-filter-publication-category"
                                        class="utrecht-select utrecht-select--html-select">
                                    <option value="">{% trans %}Select publication category{% endtrans %}</option>
                                    {% for publication_category in publication_categories %}
                                        <option {% if "publication-category" in filters and publication_category.value == filters["publication-category"].value %}selected="selected"{% endif %}
                                                value="{{ publication_category.value }}">
                                            {{ publication_category.display_value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="rvo-layout-row rvo-layout-gap--sm rvo-alert--padding-xs"
         style="display: flex;
                justify-content: flex-end">
        <div class="rvo-text--bold" style="white-space: nowrap">{% trans %}Group by{% endtrans %}</div>
        <div class="rvo-select-wrapper">
            <form name="htmx-grouped-form"
                  hx-target="#algorithm-search-results"
                  hx-trigger="change from:find select"
                  hx-get="/algorithms/?skip=0"
                  hx-swap="innerHTML">
                <select id="display_type"
                        name="display_type"
                        class="utrecht-select utrecht-select--html-select">
                    <option value="">{% trans %}Select group by{% endtrans %}</option>
                    {% for group_by_category in group_by_categories %}
                        <option {% if "group-by-category" in filters and group_by_category.value == filters["group-by-category"].value %}selected="selected"{% endif %}
                                value="{{ group_by_category.value }}">{{ group_by_category.display_value }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
</form>
{#53px = 45px (from the select wrapper) + an xs rvo alert padding of 8px#}
<div id="algorithm-search-results" style="margin-top: -53px">{% include 'parts/filter_list.html.j2' %}</div>
<div id="errorContainer"></div>
