<div class="rvo-footer-bg">
    <footer class="utrecht-page-footer rvo-footer rvo-footer--md">
        <div class="rvo-footer-column">
            <h3 class="utrecht-heading-3 rvo-footer-menu-title">{% trans %}Algorithm Management Toolkit{% endtrans %}</h3>
            <ul class="rvo-footer-menu">
                <li class="rvo-footer-menu-item">
                    <a
                        class="rvo-link rvo-link--with-icon rvo-link--no-underline"
                        href="#"
                    >
            <span
                class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--sm rvo-icon--wit rvo-link__icon--before"
                role="img"
                aria-label="Delta naar rechts"
            ></span>{% trans %}About us{% endtrans %}
                    </a>
                </li>
                <li class="rvo-footer-menu-item">
                    <a
                        class="rvo-link rvo-link--with-icon rvo-link--no-underline"
                        href="#"
                    >
            <span
                class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--sm rvo-icon--wit rvo-link__icon--before"
                role="img"
                aria-label="Delta naar rechts"
            ></span>{% trans %}Contact{% endtrans %}
                    </a>
                </li>

            </ul>
        </div>
    </footer>
</div>
