<form id="search-project-form"
      hx-get="/projects/?skip=0"
      hx-target="#project-search-results"
      hx-trigger="change from:select"
      hx-include="this"
      hx-swap="innerHTML">
    <div class="amt-layout-grid rvo-layout-gap--md amt-layout-grid-columns--two">
        <div>
            <h1 class="utrecht-heading-1">{% trans %}Projects{% endtrans %}</h1>
        </div>
        <div style="margin-left: auto">
            <a data-navigation="button:/projects/new" href="/projects/new">
                <button class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md"
                        type="button">{% trans %}New project{% endtrans %}</button>
            </a>
        </div>
    </div>
    <div class="utrecht-form-fieldset rvo-form-fieldset">
        <fieldset class="utrecht-form-fieldset__fieldset utrecht-form-fieldset--html-fieldset">
            <div class="rvo-inline-form">
                <div class="rvo-layout-grid-container margin-bottom-none">
                    <div class="rvo-layout-grid rvo-layout-gap--sm rvo-layout-grid-columns--three rvo-layout-grid-layout--1fr">
                        <div class="form-input-container">
                            <input id="project-search-input"
                                   type="text"
                                   class="utrecht-textbox utrecht-textbox--html-input"
                                   dir="auto"
                                   value="{{ search }}"
                                   placeholder="{% trans %}Find project...{% endtrans %}"
                                   name="search"
                                   hx-get="/projects/?skip=0"
                                   hx-trigger="input changed delay:500ms, search"
                                   autocomplete="off"
                                   onfocus="this.value=''" />
                            <span class="utrecht-icon rvo-icon rvo-icon-kruis rvo-icon--lg form-input-clear"
                                  role="img"
                                  aria-label="Kruis"
                                  hx-trigger="click"
                                  hx-get="/projects/?skip=0"
                                  hx-indicator=".htmx-indicator"
                                  hx-swap="innerHTML"
                                  onclick="document.getElementById('project-search-input').value = ''"></span>
                        </div>
                        <div class="rvo-select-wrapper">
                            <select id="add-lifecycle"
                                    name="add-filter-lifecycle"
                                    class="utrecht-select utrecht-select--html-select">
                                <option value="">{% trans %}Select lifecycle{% endtrans %}</option>
                                {% for lifecycle in lifecycles %}
                                    <option {% if "lifecycle" in filters and lifecycle.id == filters["lifecycle"].value %}selected="selected"{% endif %}
                                            value="{{ lifecycle.id }}">{{ lifecycle.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="rvo-select-wrapper">
                            <select id="add-publication-category"
                                    name="add-filter-publication-category"
                                    class="utrecht-select utrecht-select--html-select">
                                <option value="">{% trans %}Select publication category{% endtrans %}</option>
                                {% for publication_category in publication_categories %}
                                    <option {% if "publication-category" in filters and publication_category.id == filters["publication-category"].value %}selected="selected"{% endif %}
                                            value="{{ publication_category.id }}">
                                        {{ publication_category.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</form>
<div id="project-search-results">{% include 'parts/filter_list.html.j2' %}</div>
<div id="errorContainer"></div>
