{% macro render_task_card(task) -%}
    {% include "task.html.jinja" %}
{%- endmacro -%}

{% macro column(status, translations, tasks_service) -%}
    <div class="col span_1_of_4">
        <h3 class="text-center-horizontal margin-bottom--small">{{ translations[status.name] }}</h3>
        <div class="progress_cards_container sortable" data-id="{{ status.id }}" id="column-{{ status.id }}">
            {% for task in tasks_service.get_tasks(status.id) %}
                {{ render_task_card(task) }}
            {% endfor %}
        </div>
    </div>
{% endmacro -%}
