{% import "macros/form_macros.html.j2" as macros with context %}
<div class="rvo-layout-column rvo-layout-gap--xl">
    <div class="amt-flex-container">
        <h1 class="utrecht-heading-1 rvo-heading--no-margins">{% trans %}Add members{% endtrans %}</h1>
        <a onclick="amt.closeAndResetDynamicModal('modal');">
            <span class="amt-cursor-pointer utrecht-icon rvo-icon rvo-icon-kruis rvo-icon--md rvo-icon--hemelblauw"
                  role="img"
                  aria-label="{% trans %}Close{% endtrans %}"></span></a>
    </div>
    <!-- padding in the form is needed, otherwise the outline of the selected input field is cut off -->
    <form class="rvo-layout-column rvo-layout-gap--sm"
          style="padding-left: 0.5em;
                 padding-right: 0.5em"
          onkeydown="amt.prevent_submit_on_enter()"
          hx-ext="json-enc"
          hx-put="/organizations/{{ slug }}/members"
          hx-headers='{"X-CSRF-Token": "{{ csrftoken }}"}'
          hx-target-error="#errorContainer"
          hx-swap="innerHTML"
          method="post"
          id="form-{{ form.id }}">
        <div class="rvo-layout-column rvo-layout-gap--xs">{{ macros.form_field(form.id, form.fields[2]) }}</div>
        <p class="utrecht-button-group">
            <button data-target="confirm-button"
                    class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md"
                    type="submit">{% trans %}Add members{% endtrans %}</button>
            <button class="utrecht-button utrecht-button--secondary-action utrecht-button--rvo-md"
                    onclick="amt.closeAndResetDynamicModal('modal'); return false"
                    type="button">{% trans %}Cancel{% endtrans %}</button>
        </p>
    </form>
</div>
