{% extends 'layouts/base.html.j2' %}
{% from "macros/editable.html.j2" import editable with context %}
{% import "macros/form_macros.html.j2" as macros with context %}
{% import "macros/tabs.html.j2" as tabs with context %}
{% block content %}
    <div class="rvo-max-width-layout rvo-max-width-layout--md rvo-max-width-layout-inline-padding--none">
        {{ tabs.show_tabs(tab_items) }}
        <h1 class="utrecht-heading-1 rvo-margin-block-start--lg">{% trans %}Info{% endtrans %}</h1>
        <div class="rvo-table--responsive rvo-alert--padding-md">
            <table class="rvo-table">
                <tbody class="rvo-table-body">
                    <tr class="rvo-table-row">
                        <td class="rvo-table-cell">{% trans %}Name{% endtrans %}</td>
                        <td class="rvo-table-cell">{{ editable(organization, "name", "systemcard") }}</td>
                    </tr>
                    <tr class="rvo-table-row">
                        <td class="rvo-table-cell">{% trans %}Slug{% endtrans %}</td>
                        <td class="rvo-table-cell">{{ editable(organization, "slug", "systemcard") }}</td>
                    </tr>
                    <tr class="rvo-table-row">
                        <td class="rvo-table-cell">{% trans %}Created at{% endtrans %}</td>
                        <td class="rvo-table-cell">{{ organization.created_at|format_datetime(language) }}</td>
                    </tr>
                    <tr class="rvo-table-row">
                        <td class="rvo-table-cell">{% trans %}Created by{% endtrans %}</td>
                        <td class="rvo-table-cell">{{ organization.created_by.name }}</td>
                    </tr>
                    <tr class="rvo-table-row">
                        <td class="rvo-table-cell">{% trans %}Modified at{% endtrans %}</td>
                        <td class="rvo-table-cell">{{ organization.modified_at|format_datetime(language) }}</td>
                    </tr>
                    <tr class="rvo-table-row">
                        <td class="rvo-table-cell">{% trans %}Members{% endtrans %}</td>
                        <td class="rvo-table-cell">{{ macros.user_avatars(organization.users) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
