{% extends 'layouts/base.html.j2' %}
{% block content %}
    <div class="rvo-max-width-layout rvo-max-width-layout--lg rvo-max-width-layout-inline-padding--none">
        <div class="rvo-content" id="search-organization-container">
            {% include 'organizations/parts/overview_results.html.j2' %}
        </div>
    </div>
{% endblock %}
