{% extends 'algorithms/details_base.html.j2' %}
{% from "macros/editable_macros.html.j2" import editable with context %}
{% block detail_content %}
    <c-max-width-layout size="lg">
    <c-grid columns="two" division="1fr 4fr">
    <c-progress-tracker :steps="steps" />
    <div>
        <c-heading type="h2" class="rvo-layout-margin-vertical--xl">Publicatie voorbereiden</c-heading>
        <c-form-fieldset>
        <c-heading type="h5">
        Wat is belangrijk bij publicatie?
        </c-heading>
        <c-p>
        Voordat u verder gaat met het publiceren van uw algoritme, is het belangrijk om te weten aan
        welke
        criteria uw algoritme moet voldoen. Publicatie in het Algoritmeregister draagt bij aan
        transparantie
        en verantwoording over de inzet van algoritmes binnen de overheid.
        </c-p>
        <c-p text-style="bold" class="rvo-layout-margin-vertical--sm">
        Let op de volgende punten:
        </c-p>
        <c-ul>
        <c-li class="rvo-layout-margin-vertical--sm">
        <c-div class="display-block">
        <c-strong>Volledigheid van gegevens:</c-strong>
        Zorg ervoor dat alle relevante metadata, zoals doel, werking, gebruikte
        data en impacttoetsen, volledig en accuraat zijn ingevuld in uw algoritmebeschrijving.
        Onvolledige informatie kan leiden tot vertraging of afwijzing van publicatie.
        </c-div>
        </c-li>
        <c-li>
        <c-div class="display-block">
        <c-strong>Noodzaak van publicatie:</c-strong>
        Bepaal of uw algoritme valt onder de publicatieplicht, bijvoorbeeld omdat
        het een hoog-risico algoritme is volgens de Europese AI-verordening, of een directe
        impact heeft
        op burgers.
        Zorg dat u al deze informatie bij de hand heeft of reeds heeft ingevuld in de voorgaande
        tabbladen.
        </c-div>
        </c-li>
        </c-ul>
        </c-form-fieldset>
        <c-layout-flow justifyContent="end" row="true" class="rvo-layout-margin-vertical--xl">
        {% if has_publication %}
            <c-button style="margin-right: auto" @click="window.location='./status'" kind="tertiary" showIcon="before" icon="terug">Toon status</c-button>
        {% else %}
            <c-button style="margin-right: auto" @click="window.location='./connection'" kind="tertiary" showIcon="before" icon="terug">Vorige stap</c-button>
        {% endif %}
        <c-button @click="window.location='./preview'" kind="primary">Volgende stap</c-button>
        </c-layout-flow>
    </div>
    </c-grid>
    </c-max-width-layout>
{% endblock %}
