{% extends 'algorithms/details_base.html.j2' %}
{% from "macros/editable_macros.html.j2" import editable with context %}
{% block detail_content %}
    {% set status_types = {
            PublicationStatuses.PUBLISHED: 'success',
            PublicationStatuses.STATE_2: 'info',
            PublicationStatuses.STATE_1: 'warning'
        } %}
    <c-heading type="h2">Publicatie status</c-heading>
    {% if publication_missing_in_register %}
        <c-alert kind="warning" class="rvo-layout-margin-vertical--sm">
            <c-p>{% trans %}Het algoritme kan niet in het register gevonden worden maar is voorheen wel via AMT gepubliceerd. Wellicht is het uit het register verwijderd.{% endtrans %}</c-p>
            <c-p>{% trans %}De publicatie is nu ook uit AMT verwijderd.{% endtrans %}</c-p>
            <c-button @click="window.location='./explanation'" kind="primary">Opnieuw publiceren</c-button>

        </c-alert>
    {% endif %}
    <c-card outline="true" padding="sm">
    <c-layout-flow gap="md">
    <c-grid columns="two">
    <div>
        <c-heading type="h3">Status</c-heading>
        <c-tag type="{{ status_types.get(publication_status, 'error') }}" content="{{ get_localized_value('publication-status', publication_status, request).display_value | safe }}"></c-tag>
        {% if PublicationStatuses.STATE_1 == publication_status or (algorithm_summary and not algorithm_summary.current_version_released and not algorithm_summary.current_version_published) %}
            {% if (algorithm_summary and algorithm_summary.published and not algorithm_summary.current_version_released) %}
                <c-p text-style="subtle">
                Een nieuwere versie van het algoritme is aangeleverd bij het Algoritmeregister, maar nog
                niet
                vrijgegeven voor publicatie.
                </c-p>
            {% else %}
                <c-p text-style="subtle">
                Het algoritme is aangeleverd bij het Algoritmeregister, maar nog niet
                vrijgegeven voor
                publicatie.
                </c-p>
            {% endif %}
            <c-p text-style="subtle">Het vrijgeven is een verplichte controlestap vanuit het
            Algoritmeregister.
            Hiermee bevestig je dat zij kunnen gaan controleren of het algoritme voldoet aan de
            vereisten voor publicatie.
            </c-p>
            <c-button type="button" hx-get="/algorithm/{{ algorithm_id }}/release/{{ publication.lars }}">
            Publicatie vrijgeven
            </c-button>
        {% elif PublicationStatuses.STATE_2 == publication_status %}
            <c-p text-style="subtle">
            Het algoritme is aangeleverd bij het Algoritmeregister en vrijgegeven.
            Het moet nog definitief gepubliceerd worden door het Algoritmeregister.
            </c-p>
        {% elif (algorithm_summary and not algorithm_summary.current_version_published) %}
            <c-p text-style="subtle">
            Een nieuwe versie van het algoritme is aangeleverd bij het Algoritmeregister en vrijgegeven.
            Het moet nog definitief gepubliceerd worden door het Algoritmeregister.
            </c-p>
        {% endif %}
    </div>
    <div>
        <c-heading type="h3">Publicatie</c-heading>
        {% if not publication %}
            Er is nog geen publicatie informatie beschikbaar.
        {% elif publication_url is defined and publication_url %}
            <c-link href="{{ publication_url }}" target="_blank">Link naar je publicatie</c-link>
            <c-p text-style="subtle">Het algoritme is gepubliceerd op het Algoritmeregister en is voor iedereen inzichtelijk.
            </c-p>
        {% else %}
            {% if PublicationStatuses.PUBLISHED != publication_status %}
                <c-p text-style="subtle">{% trans %}Het algoritme is pas beschikbaar als het
                vrijgegeven en gepubliceerd is.{% endtrans %}</c-p>
            {% endif %}
            <c-button type="button" @click="window.open('/algorithm/{{ algorithm_id }}/preview/{{ publication.lars }}')">
            Bekijk de preview op het Algoritmeregister
            </c-button>
        {% endif %}
        {% if algorithm_summary and algorithm_summary.published and ((algorithm_summary.current_version_released and not algorithm_summary.current_version_published) or (not algorithm_summary.current_version_released and not algorithm_summary.current_version_published)) %}
            <c-button type="button" @click="window.open('/algorithm/{{ algorithm_id }}/preview/{{ publication.lars }}')">
            Bekijk de preview op het Algoritmeregister
            </c-button>
            <c-p text-style="subtle">{% trans %}Bekijk de preview van de nieuwe versie{% endtrans %}</c-p>
        {% endif %}
    </div>
    </c-grid>
    {% if publication %}
    <div>
        <c-heading type="h3">Acties</c-heading>
        <c-button @click="window.location='./prepare'" kind="primary">Gewijzigde versie aanleveren</c-button>
        <c-p text-style="subtle">
        U kunt de gegevens in het Algoritmeregister bijwerken. De werkwijze is gelijk
        aan het aanleveren van een nieuw algoritme.
        </c-p>
    </div>
    {% endif %}
    </c-layout-flow>
    </c-card>
{% endblock %}
