{% extends 'algorithms/details_base.html.j2' %}
{% from "macros/editable_macros.html.j2" import editable with context %}
{% block detail_content %}
    <c-max-width-layout size="lg">
    <c-grid columns="two" division="1fr 4fr">
    <c-progress-tracker :steps="steps" />
    <div>
        <c-heading type="h2" class="rvo-layout-margin-vertical--xl">Publiceren</c-heading>
        <div id="publication-container">
            <c-form-fieldset>
            <c-p>
            U staat op het punt om het algoritme
            <c-strong>{{ algorithm.name }}</c-strong>
            definitief te publiceren in het
            Algoritmeregister.
            </c-p>
            <c-p>
            Wat gebeurt er nu?
            </c-p>
            <c-ul>
            <c-li>
            <c-li>Na uw bevestiging wordt de publicatie vrijgegeven.</c-li>
            <c-li>De aanvraag wordt handmatig gecontroleerd.</c-li>
            <c-li>De publicatie zal binnen maximaal 1 werkdag zichtbaar zijn in het
            Algoritmeregister.
            </c-li>
            </c-ul>
            <c-p>
            De verantwoordelijkheid voor de juistheid van de gegevens blijft altijd bij uw organisatie
            liggen.
            </c-p>
            <c-layout-row gap="md">
            <c-button kind="secondary" hx-get="./send" hx-target="#publication-container" hx-swap="innerHTML" hx-disabled-elt="this">Publiceren</c-button>
            <c-button kind="primary" hx-get="./send?release=true" hx-target="#publication-container" hx-swap="innerHTML" hx-disabled-elt="this">Publiceren en vrijgeven</c-button>
            </c-layout-row>
            </c-form-fieldset>
        </div>
        <c-button style="margin-right: auto" @click="window.location='./preview'" kind="tertiary" showIcon="before" icon="terug">Vorige stap</c-button>
    </div>
    </c-grid>
    </c-max-width-layout>
{% endblock %}
