<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', path='/css/layout.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}">

  <script src="{{ url_for('static', path='/vendor/htmx/js/1.9.12.min.js') }}"></script>
  <script src="{{ url_for('static', path='/js/tad.js') }}"></script>

  {% block head %}{% endblock %}

</head>

<body>
  {% block content %}{% endblock %}
</body>

</html>
