{% macro column(project, status, translations, tasks_service) -%}
<div class="col span_1_of_4">
    <h3 class="text-center-horizontal margin-bottom--small">{{ translations[status.name] }}</h3>
    <div class="progress_cards_container sortable" data-id="{{ status.id }}" id="column-{{ status.id }}">
        {% if project is defined %}
            {% for task in tasks_service.get_tasks_for_project(project.id, status.id) %}
                {{ render_task_card_full(task) }}
            {% endfor %}
        {% else %}
            {% for task in tasks_service.get_tasks(status.id) %}
                {{ render_task_card_full(task) }}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endmacro -%}

{% macro render_task_card_full(task) -%}
<div draggable="true" class="progress_card_container" data-target-id="card-content-{{ task.id }}"
    id="card-container-{{ task.id }}" data-id="{{ task.id }}">
    {{ render_task_card_content(task) }}
</div>
{% endmacro %}

{% macro render_task_card_content(task) -%}
<div id="card-content-{{ task.id }}" data-id="{{ task.id }}">
    <h4 class="margin-bottom--extra-small">{{ task.title | truncate(100)}}</h4>
    <div>{{ task.description }}</div>
    {% if task.user_id %}
    <div class="progress_card_assignees_container">
        <img class="progress_card_assignees_image" src="{{ url_for_cache('static', path='images/img_avatar.png') }}" alt="Assigned to Avatar" />
    </div>
    {% endif %}
</div>
{% endmacro %}
