{% macro item(loop, algorithm, show_lifecycles) -%}
    <tr class="rvo-table-row"
        {% if loop.last and algorithms|length == limit %} data-marker="last-element" hx-get="/algorithms/?skip={{ next }}" hx-swap="beforeend" hx-trigger="revealed" {% endif %}>
        {% if show_lifecycles %}
            <td class="rvo-table-cell">
            {% else %}
                <td class="rvo-table-cell" style="padding-left: 0">
                {% endif %}
                <a class="rvo-link rvo-link--no-underline rvo-link--zwart"
                   href="/algorithm/{{ algorithm.id }}/details/">{{ algorithm.name }}</a>
            </td>
            {% if show_lifecycles %}
                <td class="rvo-table-cell">
                    <span class="rvo-text--subtle">{{ algorithm.lifecycle.display_value }}</span>
                </td>
            {% endif %}
            <td class="rvo-table-cell">
                <span class="rvo-text--subtle" style="white-space: nowrap">{{ algorithm.last_edited | time_ago(language) }}
                {% trans %} ago{% endtrans %}</span>
            </td>
        </tr>
    {% endmacro %}
