{% macro show_tabs(tab_items) %}
    <div class="">
        <ul class="rvo-tabs rvo-ul rvo-ul--no-margin rvo-ul--no-padding rvo-ul--icon rvo-ul--icon-option-2"
            role="tablist"
            aria-label="Tabs">
            {% for tab_item in tab_items %}
                <li role="presentation" class="rvo-tabs__item">
                    <a data-navigation="tab:{{ tab_item.get_url() }}"
                       class="rvo-link rvo-tabs__item-link rvo-link--no-underline {% if tab_item.active %}rvo-tabs__item-link--active rvo-link--active{% else %}rvo-link--normal{% endif %}"
                       role="tab"
                       aria-selected="true"
                       href="{{ tab_item.get_url() }}">{{ tab_item.display_text }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}
{% macro show_algorithm_header() %}
    <div class="rvo-content">
        <div class="amt-flex-container">
            <h1 class="utrecht-heading-1 algorithm-title">{{ algorithm.name }}</h1>
            <div class="rvo-layout-row" id="algorithm-operations-div">
                <div class="download-dropdown">
                    <a class="rvo-alert--padding-xs" onclick="amt.show_download_dropdown()">
                        <span class="utrecht-icon rvo-icon rvo-icon-downloaden rvo-icon--xl rvo-icon--hemelblauw rvo-link__icon--before"
                              role="img"
                              aria-label="Home"></span>
                    </a>
                    <div class="dropdown-underlay" onclick="amt.hide_download_dropdown()"></div>
                    <div class="dropdown-content"
                         id="dropdown-content"
                         onclick="amt.download_as_yaml('{{ algorithm.id }}', '{{ algorithm.name }}')">
                        <a>{% trans %}Download as YAML{% endtrans %}</a>
                    </div>
                </div>
                {% if permission("algorithm/" ~ algorithm.id, 'Delete', permissions) == True %}
                    <a onclick="amt.openModal('delete-modal')">
                        <span class="utrecht-icon rvo-icon rvo-icon-verwijderen rvo-icon--xl rvo-icon--hemelblauw rvo-link__icon--before"
                              role="img"
                              aria-label="Home"></span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
