<h1 class="utrecht-heading-1">{% trans %}An error occurred{% endtrans %}</h1>
<p class="rvo-paragraph rvo-paragraph--logoblauw rvo-paragraph--md">
    {% trans %}We couldn't find what you were looking for. This might be because:{% endtrans %}
</p>
<ul class="margin-top-middle margin-bottom-large rvo-ul rvo-ul--no-padding rvo-ul--icon rvo-ul--icon-option-1">
    <li>{% trans %}The link isn't correct (anymore){% endtrans %}</li>
    <li>{% trans %}The page has moved or been removed{% endtrans %}</li>
    <li>{% trans %}You don't have access to this page{% endtrans %}</li>
</ul>
<h3 class="utrecht-heading-2">{% trans %}What now?{% endtrans %}</h3>
<ul class="rvo-ul rvo-ul--no-padding rvo-ul--icon rvo-ul--icon-option-1">
    <li>{% trans %}Double-check if you typed the URL correctly{% endtrans %}</li>
    <li>
        {% trans %}Head back to the&nbsp;<a href="/">overview page</a>{% endtrans %}
    </li>
    <li>{% trans %}Contact your admin{% endtrans %}</li>
</ul>
