<div>
    {% if message|length > 1 %}
        <h2 class="utrecht-heading-3">{% trans %}There are some errors{% endtrans %}</h2>
    {% else %}
        <h2 class="utrecht-heading-3">{% trans %}There is one error:{% endtrans %}</h2>
    {% endif %}
    {% for msg in message %}
        <div>
            <span style="min-width: 70px; display: inline-block;">{{ msg['loc'][-1] | capitalize }}:</span>
            <span class="utrecht-icon rvo-icon rvo-icon-foutmelding rvo-icon--md rvo-status-icon-foutmelding rvo-status-icon-foutmelding"
                  role="img"
                  aria-label="Foutmelding"></span>
            <span class="amt-error-message">{{ msg['msg'] }}</span>
        </div>
    {% endfor %}
</div>
{% if request.state.htmx is defined and request.state.htmx %}
    {% for msg in message %}
        <div id="error-{{ msg['loc'][-1] }}"
             class="htmx-error-oob rvo-form-feedback rvo-form-feedback--error margin-bottom-small"
             hx-swap-oob="true">
            <span class="utrecht-icon rvo-icon rvo-icon-foutmelding rvo-icon--md rvo-status-icon-foutmelding rvo-status-icon-foutmelding"
                  role="img"
                  aria-label="Foutmelding"></span>
            <span>{{ msg['msg'] }}</span>
        </div>
    {% endfor %}
{% endif %}
