{% extends 'layouts/base.html.j2' %}
{% block content %}
    <div class="rvo-max-width-layout rvo-max-width-layout--lg rvo-max-width-layout-inline-padding--none">
        <div class="rvo-content margin-top-large">
            <h1 class="utrecht-heading-1">{% trans %}An error occurred{% endtrans %}</h1>
            {% include 'errors/_RequestValidationError_400.html.j2' %}
        </div>
    </div>
{% endblock %}
