{% for project in projects %}
    {% if loop.last and projects|length == limit  %}
        <li data-marker="last-element" hx-get="/projects/?skip={{ next }}&search={{ search }}" hx-swap="afterend" hx-trigger="revealed"><a href="/project/{{ project.id }}">{{ project.name }}</a></li>
    {% else %}
        <li><a href="/project/{{ project.id }}">{{ project.name }}</a></li>
    {% endif %}
{% endfor %}
