{% extends 'layouts/base.html.j2' %}

{% block content %}
    <div class="rvo-max-width-layout rvo-max-width-layout--md rvo-max-width-layout-inline-padding--none">
    <h1 class="utrecht-heading-1">Details</h1>
    <p>Dit is een placeholder pagina.</p>
    </div>
{% endblock %}
