{% extends 'projects/details_base.html.j2' %}

{% block title %} {% trans %}AMT Placeholder informatie pagina's{% endtrans %} {% endblock %}

{% block detail_content %}

    <div>To be implemented</div>

{% endblock %}
