{% extends 'layouts/base.html.j2' %}

{% block title %} {% trans %}AMT Placeholder informatie pagina's{% endtrans %} {% endblock %}

{% block content %}

    <div class="rvo-max-width-layout rvo-max-width-layout--md rvo-max-width-layout-inline-padding--none">
        <div class="rvo-content">
            <h1 class="utrecht-heading-1">{{ project.name }}</h1>
        </div>

        <div class="rvo-layout-grid-container">
            <div class="rvo-layout-grid rvo-layout-gap--sm rvo-layout-grid-columns--two rvo-layout-grid-layout--1fr">
                <div class="rvo-card rvo-card--padding-md">
                    <div class="rvo-layout-row" style="display: flex; justify-content: space-between;">
                        <h5 class="amt-widget-title rvo-link--with-icon"><span
                            class="utrecht-icon rvo-icon rvo-icon-vinkje rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before"
                            role="img" aria-label=""></span>Voldoet het algoritme aan de vereisten?</h5>
                        <a class="rvo-text--subtle rvo-text--bold">7/8 voldaan</a>
                    </div>
                    <ul class="rvo-item-list">
                        <li class="rvo-item-list__item">
                            <div class="rvo-layout-row rvo-layout-gap--sm"
                                 style="display: flex; justify-content: space-between;">
                                <div class="rvo-layout-row rvo-layout-gap--sm">

                                    <div class="rvo-status-indicator rvo-status-indicator--oranje"></div>
                                    <a class="rvo-link rvo-link--no-underline rvo-link--zwart" href="#">
                                        Corrigerende maatregelen voor non-conforme AI
                                    </a>
                                </div>

                                <a class="rvo-text--subtle">Te doen</a>
                            </div>
                        </li>
                        <li class="rvo-item-list__item">
                            <div class="rvo-layout-row rvo-layout-gap--sm"
                                 style="display: flex; justify-content: space-between;">
                                <div class="rvo-layout-row rvo-layout-gap--sm">
                                    <div class="rvo-status-indicator rvo-status-indicator--groen"></div>
                                    <a class="rvo-link rvo-link--no-underline rvo-link--zwart" href="#">
                                        Transparantie in ontwerp voor hoog-risico AI
                                    </a>
                                </div>
                                <a class="rvo-text--subtle">Voldaan</a>
                            </div>
                        </li>
                        <li class="rvo-item-list__item">
                            <div class="rvo-layout-row rvo-layout-gap--sm"
                                 style="display: flex; justify-content: space-between;">
                                <div class="rvo-layout-row rvo-layout-gap--sm">
                                    <div class="rvo-status-indicator rvo-status-indicator--groen"></div>
                                    <a class="rvo-link rvo-link--no-underline rvo-link--zwart" href="#">
                                        Beoordeling van grondrechten
                                    </a>
                                </div>
                                <a class="rvo-text--subtle">Voldaan</a>
                            </div>
                        </li>
                    </ul>
                    <a class="margin-top-large rvo-link rvo-link--normal rvo-link--with-icon" href="#">
  <span
      class="utrecht-icon rvo-icon rvo-icon-pijl-naar-rechts rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before"
      role="img"
      aria-label="Home"
  ></span>
                        Ga naar alle vereisten
                    </a>
                </div>
                <div class="rvo-card rvo-card--padding-md">
                    <div class="rvo-layout-row" style="display: flex; justify-content: space-between;">
                        <h5 class="amt-widget-title rvo-link--with-icon"><span
                            class="utrecht-icon rvo-icon rvo-icon-permanent-beta rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before"
                            role="img" aria-label=""></span>Welke instrumenten zijn uitgevoerd?</h5>
                        <a class="rvo-text--bold rvo-text--subtle">1/3 uitgevoerd</a>
                    </div>
                    <ul class="rvo-item-list">
                        <li class="rvo-item-list__item">
                            <div class="rvo-layout-row rvo-layout-gap--sm"
                                 style="display: flex; justify-content: space-between;">
                                <div class="rvo-layout-row rvo-layout-gap--sm">

                                    <div class="rvo-status-indicator rvo-status-indicator--oranje"></div>
                                    <a class="rvo-link rvo-link--no-underline rvo-link--zwart" href="#">
                                        AI Impact Assessment (AIIA)
                                    </a>
                                </div>

                                <a class="rvo-text--subtle">Te doen</a>
                            </div>
                        </li>
                        <li class="rvo-item-list__item">
                            <div class="rvo-layout-row rvo-layout-gap--sm"
                                 style="display: flex; justify-content: space-between;">
                                <div class="rvo-layout-row rvo-layout-gap--sm">
                                    <div class="rvo-status-indicator rvo-status-indicator--oranje"></div>
                                    <a class="rvo-link rvo-link--no-underline rvo-link--zwart" href="#">
                                        Impact Assessment Mensenrechten en Algoritmes
                                    </a>
                                </div>
                                <a class="rvo-text--subtle">Uitgevoerd</a>
                            </div>
                        </li>
                        <li class="rvo-item-list__item">
                            <div class="rvo-layout-row rvo-layout-gap--sm"
                                 style="display: flex; justify-content: space-between;">
                                <div class="rvo-layout-row rvo-layout-gap--sm">
                                    <div class="rvo-status-indicator rvo-status-indicator--groen"></div>
                                    <a class="rvo-link rvo-link--no-underline rvo-link--zwart" href="#">
                                        Technische documentatie voor hoog risico systemen
                                    </a>
                                </div>
                                <a class="rvo-text--subtle">Uitgevoerd</a>
                            </div>
                        </li>
                    </ul>
                    <a class="margin-top-large rvo-link rvo-link--normal rvo-link--with-icon" href="#">
  <span
      class="utrecht-icon rvo-icon rvo-icon-pijl-naar-rechts rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before"
      role="img"
      aria-label="Home"
  ></span>
                        Ga naar alle instrumenten
                    </a>
                </div>
            </div>
        </div>

        <!-- tabs container -->
        <div class="margin-top-large">
            <ul
                class="rvo-tabs rvo-ul rvo-ul--no-margin rvo-ul--no-padding rvo-ul--icon rvo-ul--icon-option-2"
                role="tablist"
                aria-label="Tabs"
            >

                {% for tab_item in tab_items %}
                    <li role="presentation" class="rvo-tabs__item">
                        <a data-navigation="tab:{{ tab_item.get_url() }}"
                           class="rvo-link rvo-tabs__item-link rvo-link--no-underline {% if tab_item.active %}rvo-tabs__item-link--active rvo-link--active{% else %}rvo-link--normal{% endif %}"
                           role="tab"
                           aria-selected="true"
                           href="{{ tab_item.get_url() }}"
                        >
                            {{ tab_item.display_text }}
                        </a>
                    </li>

                {% endfor %}

            </ul>
        </div>

        <div class="margin-top-large">

            {% block detail_content %}
                Placeholder
            {% endblock %}
        </div>

    </div>

{% endblock %}
