{% extends 'projects/details_base.html.j2' %}

{% block title %} {% trans %}AMT Placeholder information page{% endtrans %} {% endblock %}

{% block detail_content %}

<div class="rvo-accordion">
{% for requirement in requirements %}
  <details class="rvo-accordion__item">
    <summary class="rvo-accordion__item-summary">
      <h3
        class="utrecht-heading-3 rvo-accordion__item-title rvo-heading--no-margins rvo-heading--mixed"
      >
        <span
          class="utrecht-icon rvo-icon rvo-icon-delta-omlaag rvo-icon--md rvo-icon--hemelblauw rvo-accordion__item-icon--closed"
          role="img"
          aria-label="Delta omlaag"
        ></span>
        <span
          class="utrecht-icon rvo-icon rvo-icon-delta-omhoog rvo-icon--md rvo-icon--hemelblauw rvo-accordion__item-icon--open"
          role="img"
          aria-label="Delta omhoog"
        ></span>
        {{ requirement.name }}
      </h3>
      <span class="rvo-accordion-teaser">Teaser for accordion item 1</span>
    </summary>
    <div class="rvo-accordion__content">
        {{ requirement.description }}
    </div>
  </details>
{% endfor %}
</div>


{% endblock %}
