{% extends 'layouts/base.html.j2' %}
{% from "macros/editable.html.j2" import editable with context %}
{% block title %}{{ project.name }} | AMT{% endblock %}
{% block content %}
    <div id="measure-modal" class="minbzk-modal display-none">
        <div class="modal-underlay" onclick="amt.closeModal('measure-modal')"></div>
        <div class="modal-content rvo-layout-column rvo-layout-gap--md"
             style="height: auto">
            <div id="dynamic-modal-content"></div>
        </div>
    </div>
    <div id="delete-modal" class="minbzk-modal display-none">
        <div class="modal-underlay" onclick="amt.closeModal('delete-modal')"></div>
        <div class="modal-content rvo-layout-column"
             style="overflow-x: hidden;
                    height: auto;
                    width: auto">
            <div class="amt-flex-container">
                <h3 class="utrecht-heading-3 rvo-heading--no-margins">{% trans %}Delete algoritmic system{% endtrans %}</h3>
                <a onclick="amt.closeModal('delete-modal')"><span class="utrecht-icon rvo-icon rvo-icon-kruis rvo-icon--md rvo-icon--hemelblauw"
      role="img"
      aria-label="Close"></span></a>
            </div>
            <hr class="rvo-hr" />
            <p style="padding-block: 0.5em 0.4em;">
                <strong>{% trans %}Are you sure you want to delete your algoritmic system {%
                endtrans %} {{ project.name }}?</strong>
            </p>
            <p style="padding-block: 0.0em 1.25em;">
                {% trans %}Data will be stored for at least 45 days before permanent
                deletion.{%
                endtrans %}
            </p>
            <p class="utrecht-button-group">
                <button hx-headers='{"X-CSRF-Token": "{{ csrftoken }}"}'
                        hx-delete="/algorithm-system/{{ project.id }}"
                        class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md"
                        type="button">
                    {% trans %}Yes{%
                    endtrans %}
                </button>
                <button class="utrecht-button utrecht-button--secondary-action utrecht-button--rvo-md"
                        onclick="amt.closeModal('delete-modal')"
                        type="button">{% trans %}No{% endtrans %}</button>
            </p>
        </div>
    </div>
    <div class="rvo-max-width-layout rvo-max-width-layout--md rvo-max-width-layout-inline-padding--none">
        <div class="rvo-content">
            <div class="amt-flex-container">
                <h1 class="utrecht-heading-1 project-title">{{ project.name }}</h1>
                <a class="rvo-link rvo-link--normal rvo-link--with-icon"
                   onclick="amt.openModal('delete-modal')">
                    <span class="utrecht-icon rvo-icon rvo-icon-verwijderen rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before"
                          role="img"
                          aria-label="Home"></span>
                    {% trans %}Delete algorithm system{% endtrans %}
                </a>
            </div>
        </div>
        <!-- Requirements Widget -->
        <div class="rvo-layout-grid-container">
            <div class="rvo-layout-grid rvo-layout-gap--sm rvo-layout-grid-columns--two rvo-layout-grid-layout--1fr">
                <div class="rvo-card rvo-card--padding-md" style="height: 225px">
                    <div class="rvo-layout-row"
                         style="display: flex;
                                justify-content: space-between">
                        <h5 class="amt-widget-title rvo-link--with-icon">
                            <span class="utrecht-icon rvo-icon rvo-icon-vinkje rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before"
                                  role="img"
                                  aria-label=""></span>{% trans %}Does the algorithm meet the requirements?{% endtrans %}
                        </h5>
                        <a class="rvo-text--subtle rvo-text--bold">{{ requirements_state.count_0 }}/{{ requirements_state.count_1 }}
                        {% trans %}Done{% endtrans %}</a>
                    </div>
                    <ul class="rvo-item-list">
                        {% for requirement in requirements_state.states %}
                            {# Only show the first 3 elements of the instruments_state#}
                            {% if loop.index <= 3 %}
                                <li class="rvo-item-list__item">
                                    <div class="rvo-layout-row rvo-layout-gap--sm"
                                         style="display: flex;
                                                justify-content: space-between">
                                        <div class="rvo-layout-row rvo-layout-gap--sm rvo-layout-align-items-start">
                                            {% if requirement.state == "to do" %}
                                                <div class="rvo-status-indicator rvo-status-indicator--hemelblauw"></div>
                                            {% elif requirement.state == "in progress" %}
                                                <div class="rvo-status-indicator rvo-status-indicator--oranje"></div>
                                            {% else %}
                                                <div class="rvo-status-indicator rvo-status-indicator--groen"></div>
                                            {% endif %}
                                            <a class="rvo-link rvo-link--no-underline rvo-link--zwart" href="#">{{ requirement.name }}</a>
                                        </div>
                                        <div style="white-space: nowrap">
                                            {% if requirement.state == "to do" %}
                                                <a class="rvo-text--subtle">{% trans %}To do{% endtrans %}</a>
                                            {% elif requirement.state == "in progress" %}
                                                <a class="rvo-text--subtle">{% trans %}In progress{% endtrans %}</a>
                                            {% else %}
                                                <a class="rvo-text--subtle">{% trans %}Done{% endtrans %}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <a class="margin-top-large rvo-link rvo-link--normal rvo-link--with-icon rvo-layout-margin-vertical--sm"
                       href="/algorithm-system/{{ project_id }}/details/system_card/requirements"
                       style="bottom: 0;
                              position: absolute">
                        <span class="utrecht-icon rvo-icon rvo-icon-pijl-naar-rechts rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before"
                              role="img"
                              aria-label="Home"></span>
                        {% trans %}Go to all requirements{% endtrans %}
                    </a>
                </div>
                <!-- Instrument Widget -->
                <div class="rvo-card rvo-card--padding-md" style="height: 225px">
                    <div class="rvo-layout-row"
                         style="display: flex;
                                justify-content: space-between">
                        <h5 class="amt-widget-title rvo-link--with-icon">
                            <span class="utrecht-icon rvo-icon rvo-icon-permanent-beta rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before"
                                  role="img"
                                  aria-label=""></span>{% trans %}Which instruments are executed?{% endtrans %}
                        </h5>
                        <a class="rvo-text--bold rvo-text--subtle">{{ instrument_state.count_0 }}/{{ instrument_state.count_1 }}
                        {% trans %}Done{% endtrans %}</a>
                    </div>
                    <!-- Instruments widgets -->
                    <ul class="rvo-item-list">
                        {% for instrument in instrument_state.instrument_states %}
                            {# Only show the first 3 elements of the instruments_state#}
                            {% if loop.index <= 3 %}
                                <li class="rvo-item-list__item">
                                    <div class="rvo-layout-row rvo-layout-gap--sm"
                                         style="display: flex;
                                                justify-content: space-between">
                                        <div class="rvo-layout-row rvo-layout-gap--sm rvo-layout-align-items-start">
                                            {% if instrument.in_progress == 1 %}
                                                <div class="rvo-status-indicator rvo-status-indicator--oranje"></div>
                                            {% else %}
                                                <div class="rvo-status-indicator rvo-status-indicator--groen"></div>
                                            {% endif %}
                                            <a class="rvo-link rvo-link--no-underline rvo-link--zwart" href="#">{{ instrument.name }}</a>
                                        </div>
                                        <div style="white-space: nowrap">
                                            {% if instrument.in_progress == 1 %}
                                                <a class="rvo-text--subtle">{% trans %}To do{% endtrans %}</a>
                                            {% else %}
                                                <a class="rvo-text--subtle">{% trans %}Done{% endtrans %}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <a class="margin-top-large rvo-link rvo-link--normal rvo-link--with-icon rvo-layout-margin-vertical--sm"
                       href="/algorithm-system/{{ project_id }}/details/system_card/instruments"
                       style="bottom: 0;
                              position: absolute">
                        <span class="utrecht-icon rvo-icon rvo-icon-pijl-naar-rechts rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before"
                              role="img"
                              aria-label="Home"></span>
                        {% trans %}Go to all instruments{% endtrans %}
                    </a>
                </div>
            </div>
        </div>
        <!-- tabs container -->
        <div class="margin-top-large">
            <ul class="rvo-tabs rvo-ul rvo-ul--no-margin rvo-ul--no-padding rvo-ul--icon rvo-ul--icon-option-2"
                role="tablist"
                aria-label="Tabs">
                {% for tab_item in tab_items %}
                    <li role="presentation" class="rvo-tabs__item">
                        <a data-navigation="tab:{{ tab_item.get_url() }}"
                           class="rvo-link rvo-tabs__item-link rvo-link--no-underline {% if tab_item.active %}rvo-tabs__item-link--active rvo-link--active{% else %}rvo-link--normal{% endif %}"
                           role="tab"
                           aria-selected="true"
                           href="{{ tab_item.get_url() }}">{{ tab_item.display_text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="margin-top-large">
            {% block detail_content %}Placeholder{% endblock %}
        </div>
    </div>
{% endblock %}
