{% extends "layouts/base.html.j2" %}
{% block content %}
    <div class="rvo-max-width-layout rvo-max-width-layout--md rvo-max-width-layout-inline-padding--none margin-bottom-large">
        <div class="rvo-form">
            <div class="rvo-layout-column rvo-layout-gap--sm">
                <div class="rvo-form-intro">
                    <h1 class="utrecht-heading-1">{% trans %}Create a new project{% endtrans %}</h1>
                </div>
                <form class="rvo-layout-column rvo-layout-gap--sm"
                      hx-ext="json-enc"
                      hx-post="/projects/new"
                      hx-headers='{"X-CSRF-Token": "{{ csrftoken }}"}'
                      hx-target-error="#errorContainer"
                      hx-swap="innerHTML"
                      method="post"
                      id="form-new-project">
                    <div class="utrecht-form-fieldset rvo-form-fieldset">
                        <fieldset class="utrecht-form-fieldset__fieldset utrecht-form-fieldset--html-fieldset">
                            <div role="group"
                                 aria-labelledby="fieldId-label"
                                 class="utrecht-form-field utrecht-form-field--text rvo-form-field">
                                <div class="rvo-form-field__label">
                                    <label class="rvo-label rvo-label--required">{% trans %}Project name{% endtrans %}</label>
                                </div>
                                <input id="name"
                                       placeholder="{% trans %}Your project name here{% endtrans %}"
                                       name="name"
                                       type="text"
                                       class="utrecht-textbox utrecht-textbox--html-input"
                                       dir="auto"
                                       value="" />
                            </div>
                        </fieldset>
                    </div>
                    <h2 class="utrecht-heading-2 rvo-heading--no-margins">{% trans %}AI Act Profile{% endtrans %}</h2>
                    <p class="rvo-text rvo-text--no-margins">
                        {% trans %}The AI Act profile provides insight into, among other things, the type of AI system and the associated obligations from the European AI Act.{% endtrans %}
                        <a class="rvo-link rvo-link--normal"
                           href="https://ai-act-decisiontree.apps.digilab.network/">{% trans %}The AI Act decision tree {% endtrans %}</a>
                        {% trans %}helps you determine the value of these fields.{% endtrans %}
                    </p>
                    <div class="utrecht-form-fieldset rvo-form-fieldset">
                        <fieldset class="utrecht-form-fieldset__fieldset utrecht-form-fieldset--html-fieldset">
                            {% for item in ai_act_profile.radio_select %}
                            <div role="group"
                                     aria-labelledby="fieldId-label"
                                     class="utrecht-form-field utrecht-form-field--text rvo-form-field">
                                    <div class="rvo-form-field__label">
                                        <label class="rvo-label">{{ item.display_name }}</label>
                                    </div>
                                    {% for option in item.options %}
                                    <div class="rvo-radio-button__group">
                                        <label class="rvo-radio-button" for="{{ option }}">
                                            <input id="{{ option }}"
                                                   name="{{ item.target_name }}"
                                                   value="{{ option }}"
                                                   type="radio"
                                                   class="utrecht-radio-button" />
                                            {{ option }}
                                        </label>
                                    </div>
                                    {% endfor %}
                            </div>
                            {% endfor %}

                            {% for item in ai_act_profile.multiple_select %}
                            <div role="group"
                                 aria-labelledby="fieldId-label"
                                 class="utrecht-form-field utrecht-form-field--text rvo-form-field">
                                <div class="rvo-form-field__label">
                                    <label class="rvo-label">{{ item.display_name }}</label>
                                </div>
                                {% for option in item.options %}
                                    <div class="rvo-checkbox__group">
                                        <label class="rvo-checkbox rvo-checkbox--not-checked"
                                               for="{{ option }}">
                                            <input id="{{ option }}" name="{{ item.target_name }}" class="rvo-checkbox__input" type="checkbox" value="{{ option }}" />{{ option }}</label> </div>
                                {% endfor %}
                            </div>
                            {% endfor %}

                            {% for item in ai_act_profile.binary_select %}
                                <div role="group"
                                     aria-labelledby="fieldId-label"
                                     class="utrecht-form-field utrecht-form-field--text rvo-form-field">
                                    <div class="rvo-form-field__label">
                                        <label class="rvo-label">{{ item.display_name }}</label>
                                    </div>
                                    <div class="rvo-radio-button__group">
                                        <label class="rvo-radio-button" for="{{ item.options[0] }}">
                                            <input id="{{ item.options[0] }}"
                                                   name="{{ item.target_name }}"
                                                   value="{{ item.options[0] }}"
                                                   type="radio"
                                                   class="utrecht-radio-button" />
                                            {% trans %}Yes{% endtrans %}
                                        </label>
                                    </div>
                                    <div class="rvo-radio-button__group">
                                        <label class="rvo-radio-button" for="{{ item.options[1] }}">
                                            <input id="{{ item.options[1] }}"
                                                   name="{{ item.target_name }}"
                                                   value="{{ item.options[1] }}"
                                                   type="radio"
                                                   class="utrecht-radio-button" />
                                            {% trans %}No{% endtrans %}
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                    <h2 class="utrecht-heading-2 rvo-heading--no-margins">{% trans %}Instruments{% endtrans %}</h2>
                    <p class="rvo-text rvo-text--no-margins">
                        {% trans %}Overview of instruments for the responsible development, deployment, assessment and monitoring of algorithms and AI-systems.{% endtrans %}
                    </p>
                    <div class="utrecht-form-fieldset rvo-form-fieldset">
                        <fieldset class="utrecht-form-fieldset__fieldset utrecht-form-fieldset--html-fieldset">
                            <div role="group"
                                 aria-labelledby="fieldId-label"
                                 class="utrecht-form-field utrecht-form-field--text rvo-form-field">
                                <div class="rvo-form-field__label">
                                    <label class="rvo-label">{% trans %}Choose one or more instruments{% endtrans %}</label>
                                </div>
                                {% for instrument in instruments %}
                                    <div class="rvo-checkbox__group">
                                        <label class="rvo-checkbox rvo-checkbox--not-checked"
                                               for="{{ instrument.urn }}">
                                            <input id="{{ instrument.urn }}" name="instruments" class="rvo-checkbox__input" type="checkbox" value="{{ instrument.urn }}" />{{ instrument.name }}</label> </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                    <p class="utrecht-button-group">
                        <button class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md"
                                type="submit"
                                id="button-new-project-create">{% trans %}Create Project{% endtrans %}</button>
                    </p>
                </form>
                <div id="errorContainer"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
