{% extends 'projects/details_base.html.j2' %}
{# disable macro caching, see // https://jinja.palletsprojects.com/en/3.0.x/templates/#import-context-behavior #}
{% import 'macros/tasks.html.j2' as render with context %}
{% block detail_content %}
    <div class="container margin-top-large">
        <form id="cardMovedForm"
              hx-patch="/algorithm-system/move_task"
              hx-ext="json-enc"
              hx-headers='{"X-CSRF-Token": "{{ csrftoken }}"}'
              hx-target-5
              None="#errorContainer"
              hx-trigger="cardmoved"
              hx-swap="outerHTML"
              hx-target="#board"
              class="">
            <input type="hidden" name="taskId" value="">
            <input type="hidden" name="statusId" value="">
            <input type="hidden" name="previousSiblingId" value="">
            <input type="hidden" name="nextSiblingId" value="">
        </form>
        <div id="errorContainer"></div>
        <div class="rvo-layout-grid-container margin-bottom-large">
            <div class="rvo-layout-grid rvo-layout-gap--sm rvo-layout-grid-columns--four rvo-layout-grid-layout--1fr">
                {% for status in statuses %}{{ render.column(project, status, translations, tasks_by_status) }}{% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
