{% extends 'algorithms/details_base.html.j2' %}
{% from "macros/editable.html.j2" import editable with context %}
{% block detail_content %}
    <div class="rvo-table--responsive rvo-alert--padding-md">
        <table class="rvo-table">
            <tbody class="rvo-table-body">
                <tr class="rvo-table-row">
                    <td class="rvo-table-cell">{% trans %}Name{% endtrans %}</td>
                    <td class="rvo-table-cell">{{ editable(algorithm, "name", "systemcard") }}</td>
                </tr>
                <tr class="rvo-table-row">
                    <td class="rvo-table-cell">{% trans %}Organization{% endtrans %}</td>
                    <td class="rvo-table-cell">{{ editable(algorithm, "organization.name", "select_my_organizations") }}</td>
                </tr>
                <tr class="rvo-table-row">
                    <td class="rvo-table-cell">{% trans %}Description{% endtrans %}</td>
                    <td class="rvo-table-cell">{{ editable(algorithm, "system_card.description", "systemcard") }}</td>
                </tr>
                <tr class="rvo-table-row">
                    <td class="rvo-table-cell">{% trans %}Repository{% endtrans %}</td>
                    <td class="rvo-table-cell">{{ editable(algorithm, "system_card.provenance.uri", "systemcard") }}</td>
                </tr>
                <tr class="rvo-table-row rvo-max-width-layout--sm">
                    <td class="rvo-table-cell">{% trans %}Algorithm code{% endtrans %}</td>
                    <td class="rvo-table-cell">NL-AI-VALIDATIE-383672821-PI234</td>
                </tr>
                <tr class="rvo-table-row">
                    <td class="rvo-table-cell">{% trans %}Lifecycle{% endtrans %}</td>
                    <td class="rvo-table-cell">{{ editable(algorithm, "lifecycle", "systemcard") }}</td>
                </tr>
                <tr class="rvo-table-row">
                    <td class="rvo-table-cell">{% trans %}Last updated{% endtrans %}</td>
                    <td class="rvo-table-cell">{{ last_edited|format_datetime(language) }}</td>
                </tr>
                <tr class="rvo-table-row">
                    <td class="rvo-table-cell">{% trans %}Labels{% endtrans %}</td>
                    <td class="rvo-table-cell">
                        {% for label in system_card.labels %}
                            <a class="rvo-tag rvo-tag--active rvo-tag--default rvo-tag--info">{{ label.name }}</a>
                        {% endfor %}
                    </td>
                </tr>
                <tr class="rvo-table-row">
                    <td class="rvo-table-cell">{% trans %}References{% endtrans %}</td>
                    <td class="rvo-table-cell">
                        {% for reference in system_card.references %}
                            <a href={{ reference.link }} target="_blank">{{ reference.name }}</a>
                            {% if not loop.last %}<br \>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
