{% extends 'algorithms/details_base.html.j2' %}
{% import "macros/form_macros.html.j2" as macros with context %}
{% block detail_content %}
    <div class="rvo-accordion">
        <div id="measure-modal" class="minbzk-modal display-none">
            <div class="modal-underlay" onclick="amt.closeModal('measure-modal')"></div>
            <div class="modal-content rvo-layout-column rvo-layout-gap--md"
                 style="height: auto">
                <div id="dynamic-modal-content"></div>
            </div>
        </div>
        {% for (requirement, completed_measures_count, measures) in requirements_and_measures %}
            <details class="rvo-accordion__item">
                <summary class="rvo-accordion__item-summary margin-bottom-large">
                    <h3 class="utrecht-heading-3 rvo-accordion__item-title rvo-heading--no-margins rvo-heading--mixed">
                        <span class="utrecht-icon rvo-icon rvo-icon-delta-omlaag rvo-icon--md rvo-icon--hemelblauw rvo-accordion__item-icon--closed"
                              role="img"
                              aria-label="Delta omlaag"></span>
                        <span class="utrecht-icon rvo-icon rvo-icon-delta-omhoog rvo-icon--md rvo-icon--hemelblauw rvo-accordion__item-icon--open"
                              role="img"
                              aria-label="Delta omhoog"></span>
                        {{ requirement.name }}
                    </h3>
                    <div class="rvo-accordion-teaser">
                        <div class="rvo-layout">{{ requirement.description }}</div>
                        <div class="rvo-layout-row rvo-layout-gap--sm">
                            {% if completed_measures_count == 0 %}
                                <div class="rvo-status-indicator rvo-status-indicator--hemelblauw"></div>
                            {% elif completed_measures_count < measures | length %}
                                <div class="rvo-status-indicator rvo-status-indicator--oranje"></div>
                            {% else %}
                                <div class="rvo-status-indicator rvo-status-indicator--groen"></div>
                            {% endif %}
                            {{ completed_measures_count }} / {{ measures | length }} {% trans %}measure executed{% endtrans %}
                        </div>
                    </div>
                </summary>
                {% for measure in measures %}
                    <div class="rvo-accordion__content">
                        <div class="rvo-layout-row rvo-layout-gap--sm rvo-layout-align-items-start rvo-layout-margin-horizontal--xl">
                            {% if measure.state == "to do" %}
                                <div class="rvo-status-indicator rvo-status-indicator--oranje-300"></div>
                            {% elif measure.state == "in progress" %}
                                <div class="rvo-status-indicator rvo-status-indicator--hemelblauw"></div>
                            {% elif measure.state == "in review" %}
                                <div class="rvo-status-indicator rvo-status-indicator--oranje"></div>
                            {% elif measure.state == "done" %}
                                <div class="rvo-status-indicator rvo-status-indicator--groen"></div>
                            {% elif measure.state == "not implemented" %}
                                <div class="rvo-status-indicator rvo-status-indicator--hemelblauw-300"></div>
                            {% else %}
                                {# This should not happen, red could be for overdue.#}
                                <div class="rvo-status-indicator rvo-status-indicator--rood"></div>
                            {% endif %}
                            <div class="rvo-layout-column">
                                <h4 class="utrecht-heading-4 rvo-heading--no-margins">{{ loop.index }}. {{ measure.name }}</h4>
                                <p class="rvo-text">{{ measure.value }}</p>
                                <a class="rvo-link rvo-link--normal rvo-link--with-icon"
                                   hx-trigger="click"
                                   hx-target="#dynamic-modal-content"
                                   hx-get="/algorithm/{{ algorithm_id }}/measure/{{ measure.urn }}"
                                   hx-swap="innerHTML"
                                   onclick="amt.openModal('measure-modal')">
                                    <span class="utrecht-icon rvo-icon rvo-icon-pijl-naar-rechts rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before"
                                          role="img"
                                          aria-label="Home"></span>
                                    {% trans %}Edit{% endtrans %}
                                </a>
                                {{ macros.user_avatars(measure_task_functions[measure.urn]) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </details>
        {% endfor %}
    </div>
{% endblock %}
