interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:aiia:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"AI
          Impact Assessment (AIIA)\",\"description\":\"Het AI Impact Assessment (AIIA)
          is een hulpmiddel voor het maken van afwegingen bij het inzetten van kunstmatige
          intelligentie (artificial intelligence, AI) in een project. Het AIIA dient
          als instrument voor het gesprek en het vastleggen van het denkproces zodat
          onder andere de verantwoording, kwaliteit en reproduceerbaarheid worden vergroot.\",\"urn\":\"urn:nl:aivt:tr:aiia:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"Ministerie
          van Infrastructuur en Waterstaat\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.rijksoverheid.nl/documenten/rapporten/2022/11/30/ai-impact-assessment-ministerie-van-infrastructuur-en-waterstaat\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"Geef
          een korte beschrijving van het beoogde AI-systeem (titel, algemene omschrijving,
          probleemstelling, en het domein)\",\"urn\":\"urn:nl:aivt:tr:aiia:1.0:1.1\",\"labels\":[{\"key\":\"topic\",\"value\":\"Doel
          van het systeem\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Opdrachtgever\",\"Projectleider\"],\"lifecycle\":[\"Probleemanalyse\"],\"links\":[{\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.1.1\"},{\"systemcard_path\":\".description\",\"version\":\">0.1a1\"}],\"required_status\":true,\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"Waarom
          is er voor de huidige techniek gekozen? (hierbij is het van belang dat alle
          afwegingen van robuustheid tot mensenrechten, impact op gebruiker en eindgebruiker,
          verantwoordingsplicht etc. zijn meegenomen in het antwoord)\",\"ur[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:iama:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"Impact
          Assessment Mensenrechten en Algoritmes (IAMA)\",\"description\":\"Het IAMA
          helpt om de risico's voor mensenrechten bij het gebruik van algoritmen in
          kaart te brengen en [...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:aia-05?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Datasets
          voor hoog-risico-AI-systemen voldoen aan kwaliteitscriteria","description":"\nAI-systemen
          met een hoog risico die technieken gebruiken die het trainen van AI-modellen
          met data omvatten, worden ontwikkeld op basis van datasets voor training,
          validatie en tests die voldoen aan de kwaliteitscriteria telkens wanneer dergelijke
          datasets worden gebruikt.\n","explanation":"AI-systemen met een hoog risico
          die data gebruiken voor het trainen van AI-modellen, moeten gebaseerd zijn
          op datasets die voldoen aan specifieke [kwaliteitscriteria](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/3-dat-01-datakwaliteit/index.html).
          \n\nDeze criteria zorgen ervoor dat de data geschikt zijn voor [training,
          validatie en tests](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:aia-13?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Logs
          van hoog-risico-AI-systemen worden zes maanden bewaard door de aanbieder.","description":"\nLogs
          van hoog-risico-AI-systemen worden zes maanden bewaard door de aanbieder.\n","explanation":"Aanbieders
          van AI-systemen met een hoog risico moeten de automatisch gegenereerde logs
          bewaren volgens de voorschriften van artikel 12, lid 1, zolang deze logs onder
          hun controle vallen.\n\nDeze logs moeten ten minste zes maanden worden bewaard,
          tenzij anders bepaald door Unie- of nationale wetgeving met betrekking tot
          gegevensbescherming, om te voldoen aan de relevante voorschriften en verantwoordingsplicht.\n\n\nHet
          niet of onvoldoende bewaren van logs kan het vermogen belemmeren om incidenten
          te analyseren, naleving te controleren en verantwoordelijkheid vast te stellen
          bij mogelijke problemen met het AI-systeem.\n","urn":"urn:nl:ak:ver:aia-13","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/vereisten/aia-13-bewaartermijn-voor-gegenereerde-logs/index.html","subject":["technische-robuustheid-en-veiligheid"],"lifecycle":["ontwerp","monitoring-en-beheer","uitfaseren"],"links":["urn:nl:ak:mtr:owp-15","urn:nl:ak:mtr:owp-16","urn:nl:ak:mtr:owp-22","urn:nl:ak:mtr:owp-24","urn:nl:ak:mtr:owp-28","urn:nl:ak:mtr:owk-04"],"ai_act_profile":[{"type":["AI-systeem","AI-systeem
          voor algemene doeleinden"],"open_source":[],"risk_group":["hoog-risico AI"],"systemic_risk":[],"transparency_obligations":[],"role":["aanbieder"],"conformity_assessment_body":[]}],"always_applicable":0,"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:aut-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Auteursrechten
          zijn beschermd.","description":"\nAuteursrechten en naburige rechten mogen
          niet geschonden worden bij het ontwikkelen, testen en gebruiken van algoritmes.\n","explanation":[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:avg-07?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Organisaties
          zijn transparant over het verwerken van persoonsgegevens","description":"\nDe
          verwerking van persoonsgegevens moet transparant zijn.\n","explanation":"Een
          betrokken[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:arc-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Informatie
          over algoritmes wordt in goede, geordende en toegankelijke staat gebracht,
          bewaard en vernietigd wanneer nodig.","description":"\nInformatie over algoritmes
          wordt in [...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:awb-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Organisaties
          die algoritmes gebruiken voor publieke taken nemen besluiten zorgvuldig.","description":"Organisaties
          die algoritmes gebruiken voor publieke taken nemen besluiten zorgvuldig.[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:grw-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Algoritmes
          schenden geen grondrechten of mensenrechten.\",\"description\":\"Fundamentele
          vrijheden, mensenrechten en grondrechten worden beschermd bij de inzet van
          al[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:woo-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Iedereen
          kan openbare informatie over algoritmes vinden of aanvragen","description":"\nEen
          bestuursorgaan draagt er zorg voor dat de documenten die het ontvangt, vervaardigt
          of [...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:bio-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Computersystemen
          zijn voldoende beveiligd tegen ongelukken en cyberaanvallen","description":"Informatie
          en informatiesystemen moeten op de juiste manier worden beveiligd.\n","explanation"[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:bzk-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Impactvolle
          algoritmes en hoog-risico-AI-systemen staan in het Nederlandse Algoritmeregister","description":"Bestuursorganen
          publiceren algoritmes met impact en hoog-risico-AI-systemen in[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:dat-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Databanken
          worden alleen gebruikt met toestemming van de databank-producent.\",\"description\":\"Het
          is verboden om zonder goedkeuring van de producent een databank op te vrage[...]
[...]
