interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/invalid?version=latest
    response:
      body:
        string: '{"detail":"invalid urn: invalid"}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 400
        message: Bad Request
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"Impact
          Assessment Mensenrechten en Algoritmes (IAMA)\",\"description\":\"Het IAMA
          helpt om de risico's voor mensenrechten bij het gebruik van algoritmen in
          kaart te brengen en maatregelen te nemen om deze aan te pakken.\",\"urn\":\"urn:nl:aivt:tr:iama:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.rijksoverheid.nl/documenten/rapporten/2021/02/25/impact-assessment-mensenrechten-en-algoritmes\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"Licht
          uw voorstel voor het gebruik/de inzet van een algoritme toe. Wat is de aanleiding
          hiervoor geweest? Voor welk probleem moet het algoritme een oplossing bieden?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.1.1\",\"labels\":[{\"key\":\"topic\",\"value\":\"Aanleiding
          en probleemdefinitie\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Behoeftesteller\",\"Gemandateerd
          verantwoordelijke(n)\",\"Projectleider\",\"Domeinspecialist\",\"Gebruiker\"],\"lifecycle\":[\"Probleemanalyse\"],\"links\":[{\"text\":\"DPIA
          vraag 1\"},{\"urn\":\"urn:nl:aivt:tr:aiia:1.0:1.1\"}],\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"Wat
          is het doel dat bereikt dient te worden met de inzet van het algoritme? Wat
          is hierbij het hoofddoel en wat zijn subdoelen?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.2.1\",\"lab[...]
