interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:iama:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"Impact
          Assessment Mensenrechten en Algoritmes (IAMA)\",\"description\":\"Het IAMA
          helpt om de risico's voor mensenrechten bij het gebruik van algoritmen in
          kaart te brengen en maatregelen te nemen om deze aan te pakken.\",\"urn\":\"urn:nl:aivt:tr:iama:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.rijksoverheid.nl/documenten/rapporten/2021/02/25/impact-assessment-mensenrechten-en-algoritmes\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"Licht
          uw voorstel voor het gebruik/de inzet van een algoritme toe. Wat is de aanleiding
          hiervoor geweest? Voor welk probleem moet het algoritme een oplossing bieden?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.1.1\",\"labels\":[{\"key\":\"topic\",\"value\":\"Aanleiding
          en probleemdefinitie\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Behoeftesteller\",\"Gemandateerd
          verantwoordelijke(n)\",\"Projectleider\",\"Domeinspecialist\",\"Gebruiker\"],\"lifecycle\":[\"Probleemanalyse\"],\"links\":[{\"text\":\"DPIA
          vraag 1\"},{\"urn\":\"urn:nl:aivt:tr:aiia:1.0:1.1\"}],\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"Wat
          is het doel dat bereikt dient te worden met de inzet van het algoritme? Wat
          is hierbij het hoofddoel en wat zijn subdoelen?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.2.1\",\"lab[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:aia-08?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Hoog-risico-AI-systemen
          zijn op een transparante manier ontwikkeld en ontworpen.","description":"\nHoog-risico-AI-systemen
          zijn op een transparante manier ontwikkeld en ontworpen.\n","explanation":"AI-systemen
          met een hoog risico worden ontworpen en ontwikkeld met een hoge mate van transparantie,
          zodat gebruikers de output van het systeem kunnen begrijpen en correct kunnen
          gebruiken. \n\nDit zorgt ervoor dat de aanbieders en gebruikers kunnen voldoen
          aan de verplichtingen zoals uiteengezet in de relevante regelgeving, waardoor
          de betrouwbaarheid en verantwoordelijkheid van het gebruik van deze systemen
          worden verzekerd. \n\nIn artikel 13 lid 3 is een overzicht gegeven van de
          informatie die gebruikersinstructies tenminste moeten bevatten. \n","urn":"urn:nl:ak:ver:aia-08","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/vereisten/aia-08-transparantie-aan-gebruiksverantwoordelijken/index.html","subject":["transparantie"],"lifecycle":["ontwerp","ontwikkelen","monitoring-en-beheer"],"links":["urn:nl:ak:mtr:owp-05","urn:nl:ak:mtr:owp-15","urn:nl:ak:mtr:owp-16","urn:nl:ak:mtr:owp-21","urn:nl:ak:mtr:owp-22","urn:nl:ak:mtr:owp-23","urn:nl:ak:mtr:owp-24","urn:nl:ak:mtr:owp-28","urn:nl:ak:mtr:owp-31","urn:nl:ak:mtr:owp-32","urn:nl:ak:mtr:owp-33","urn:nl:ak:mtr:ver-05","urn:nl:ak:mtr:imp-04","urn:nl:ak:mtr:imp-09"],"ai_act_profile":[{"type":["AI-systeem","AI-systeem
          voor algemene doeleinden"],"open_source":[],"risk_group":["hoog-risico AI"],"systemic_risk":[],"transparency_obligations":[],"role":["aanbieder"],"conformity_assessment_body":[]}],"always_applicable":0,"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:dat-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          waardevolle data vindbaar, toegankelijk, interoperabel en herbruikbaar (FAIR)
          binnen en buiten de eigen organisatie.\",\"description\":\"\\nMaak waardevolle
          data vin[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl//instruments/urn/urn:nl:aivt:tr:iama:1.0?version=latest
    response:
      body:
        string: '{"detail":"Not Found"}'
      headers:
        content-type:
          - application/json
      status:
        code: 404
        message: Not Found
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl//requirements/urn/urn:nl:ak:ver:aia-08?version=latest
    response:
      body:
        string: '{"detail":"Not Found"}'
      headers:
        content-type:
          - application/json
      status:
        code: 404
        message: Not Found
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl//measures/urn/urn:nl:ak:mtr:dat-02?version=latest
    response:
      body:
        string: '{"detail":"Not Found"}'
      headers:
        content-type:
          - application/json
      status:
        code: 404
        message: Not Found
[...]
