interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"AI
          Impact Assessment (AIIA)\",\"description\":\"Het AI Impact Assessment (AIIA)
          is een hulpmiddel voor het maken van afwegingen bij het inzetten van kunstmatige
          intelligentie (artificial intelligence, AI) in een project. Het AIIA dient
          als instrument voor het gesprek en het vastleggen van het denkproces zodat
          onder andere de verantwoording, kwaliteit en reproduceerbaarheid worden vergroot.\",\"urn\":\"urn:nl:aivt:tr:aiia:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"Ministerie
          van Infrastructuur en Waterstaat\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.rijksoverheid.nl/documenten/rapporten/2022/11/30/ai-impact-assessment-ministerie-van-infrastructuur-en-waterstaat\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"Geef
          een korte beschrijving van het beoogde AI-systeem (titel, algemene omschrijving,
          probleemstelling, en het domein)\",\"urn\":\"urn:nl:aivt:tr:aiia:1.0:1.1\",\"labels\":[{\"key\":\"topic\",\"value\":\"Doel
          van het systeem\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Opdrachtgever\",\"Projectleider\"],\"lifecycle\":[\"Probleemanalyse\"],\"links\":[{\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.1.1\"},{\"systemcard_path\":\".description\",\"version\":\">0.1a1\"}],\"required_status\":true,\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"Waarom
          is er voor de huidige techniek gekozen? (hierbij is het van belang dat alle
          afwegingen van robuustheid tot mensenrechten, impact op gebruiker en eindgebruiker,
          verantwoordingsplicht etc. zijn meegenomen in het antwoord)\",\"ur[...]
