interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"instruments","path":"instruments","download_url":"https://task-registry.apps.digilab.network/instruments","links":{"self":"https://task-registry.apps.digilab.network/instruments"},"entries":[{"type":"file","size":32897,"name":"iama.yaml","path":"instruments/iama.yaml","urn":"urn:nl:aivt:tr:iama:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0"}},{"type":"file","size":60271,"name":"aiia.yaml","path":"instruments/aiia.yaml","urn":"urn:nl:aivt:tr:aiia:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0"}},{"type":"file","size":5187,"name":"conformity_assessment_eu_ai_act.yaml","path":"instruments/conformity_assessment_eu_ai_act.yaml","urn":"urn:nl:aivt:tr:ca:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0"}},{"type":"file","size":14009,"name":"technical_docs_for_high_risk_ai.yaml","path":"instruments/technical_docs_for_high_risk_ai.yaml","urn":"urn:nl:aivt:tr:td:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0"}}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"EU-conformiteitsverklaring
          voor hoog-risico AI-systemen\",\"description\":\"EU-conformiteitsverklaring
          van een AI-systeem met een hoog risico wordt ondertekend door de ontwikkelaar
          voordat dit systeem in de handel wordt gebracht of in gebruik wordt gesteld.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"European
          Union\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.europarl.europa.eu/doceo/document/TA-9-2024-0138-FNL-COR01_NL.pdf\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"location\":\"$LOCATION\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"De
          naam en het type van het AI-systeem, evenals eventuele aanvullende ondubbelzinnige
          verwijzingen waarmee het AI-systeem kan worden ge\xEFdentificeerd en getraceerd.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0:1.0\",\"labels\":[{\"key\":\"topic\",\"value\":\"EU-conformiteitsverklaring\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Projectleider\",\"Aanbieder\"],\"lifecycle\":[],\"links\":[{\"systemcard_path\":\".name\",\"version\":\">0.1a1\"},{\"systemcard_path\":\".description\",\"version\":\">0.1a1\"}],\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"location\":\"$LOCATION\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"De
          naam en het adres van de aanbieder en, indien van toepassing, zijn gemachtigde.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0:2.0\",\"labels\":[{\"key\":\"topic\",\"[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".assessments[]","schema_version":"1.1.0","name":"Technische
          documentatie voor hoog-risico AI-systemen","description":"De technische documentatie
          van een AI-systeem met een hoog risico wordt opgesteld voordat dit systeem
          in de handel wordt gebracht of in gebruik wordt gesteld.","urn":"urn:nl:aivt:tr:td:1.0","language":"nl","owners":[{"organization":"European
          Union","name":"","email":"","role":""}],"date":"","url":"https://www.europarl.europa.eu/doceo/document/TA-9-2024-0138-FNL-COR01_NL.pdf","template":{"question":"$QUESTION","answer":"$ANSWER","remarks":"$REMARKS","timestamp":"$TIMESTAMP","location":"$LOCATION","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]},"tasks":[{"question":"Wat
          is het beoogde doel van het AI-systeem?","urn":"urn:nl:aivt:tr:td:1.0:1.a.1","labels":[{"key":"topic","value":"Algemene
          beschrijving AI-systeem"}],"type":["open_question"],"suggested_roles":[],"lifecycle":[],"links":[{"text":"DPIA
          vraag 4"},{"urn":"urn:nl:aivt:tr:1.0:1.2.1"},{"systemcard_path":".goal_and_impact","version":">0.1a1"}],"template":{"question":"$QUESTION","answer":"$ANSWER","remarks":"$REMARKS","timestamp":"$TIMESTAMP","location":"$LOCATION","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}},{"question":"Wat
          is de naam van de aanbieder van het AI-systeem?","urn":"urn:nl:aivt:tr:td:1.0:1.a.2","labels":[{"key":"topic","value":"Algemene
          beschrij[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"requirements","path":"requirements","download_url":"https://task-registry.apps.digilab.network/requirements","links":{"self":"https://task-registry.apps.digilab.network/requirements"},"entries":[{"type":"file","size":2524,"name":"aia-19-toegankelijkheidseisen.yaml","path":"requirements/aia-19-toe[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"measures","path":"measures","download_url":"https://task-registry.apps.digilab.network/measures","links":{"self":"https://task-registry.apps.digilab.network/measures"},"entries":[{"type":"file","size":738,"name":"1-pba-04-betrek-belanghebbenden.yaml","path":"measures/1-pba-04-betrek-belanghebbenden.y[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:org-05?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Sluit
          algoritmegovernance aan op bestaande governancestructuren binnen de organisatie.","description":"Sluit
          algoritmegovernance aan op bestaande governancestructuren binnen de organisatie.","explanation":"","urn":"urn:nl:ak:mtr:org-05","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/0-org-05-bestaande-governance/index.html","subject":["governance"],"suggested_roles":["projectleider","beleid-en-advies"],"lifecycle":["organisatieverantwoordelijkheden"],"links":[],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          waardevolle data vindbaar, toegankelijk, interoperabel en herbruikbaar (FAIR)
          binnen en buiten de eigen organisatie.\",\"description\":\"Maak waardevolle
          da[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owp-06?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Inventariseer
          welke grondrechten het algoritme kan schenden en maak een belangenafweging","description":"","explanation":"","urn":"urn:nl:ak:mtr:owp-06","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/2-owp-06-afwegen-grondrechten/index.html","subject":["fundamentele-rechten"],"suggested_roles":["projectleider","beleid-en-advies"],"lifecycle":["probleemanalyse","ontwerp","verificatie-en-validatie","monitoring-en-beheer"],"links":["urn:nl:ak:ver:grw-01","urn:nl:ak:ver:aia-27"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:imp-04?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Publiceer
          impactvolle algoritmes en hoog-risico-AI-systemen in het Algoritmeregister","description":"Publiceer
          het algoritme  in het [Nederlandse Algoritmeregister](../hulpmiddelen/algoritmeregister.md).  ","explanation":"","urn":"urn:nl:ak:mtr:imp-04","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/6-imp-04-publiceren-algoritmeregister/index.html","subject":["transparantie"],"suggested_roles":["projectleider","beleid-en-advies"],"lifecycle":["implementatie","monitoring-en-beheer"],"links":["urn:nl:ak:ver:bzk-01","urn:nl:ak:ver:aia-08","urn:nl:ak:ver:avg-07","urn:nl:ak:ver:awb-01"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owk-05?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Kies
          energiezuinige programmeermethoden","description":"","explanation":"","urn":"urn:nl:ak:mtr:owk-05","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/4-owk-05-energiezuinige-programmeermethoden/index.html","subject":["duurzaamheid"],"suggested_roles":["ontwikkelaar"],"lifecycle":["ontwikkelen"],"links":[],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:mon-05?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Meten,
          monitoren en rapporteren van milieu-impact van algoritmes","description":"","explanation":"Tref
          bijvoorbeeld de volgende maatregelen, wanneer je de milieu-impact van algoritmes
          gaat inventariseren of monitoren:","urn":"urn:nl:ak:mtr:mon-05","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/7-mon-05-meten-milieu-impact/index.html","subject":["duurzaamheid"],"suggested_roles":["ontwikkelaar","beleid-en-advies","projectleider"],"lifecycle":["ontwerp","monitoring-en-beheer"],"links":[],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:pba-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          het doel van het algoritme","description":"Het doel en de eventuele subdoelen
          van het algoritme moeten zo specifiek mogelijk zijn geformuleerd, en waar
          mogelijk g[...]
[...]
