interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"Impact
          Assessment Mensenrechten en Algoritmes (IAMA)\",\"description\":\"Het IAMA
          helpt om de risico's voor mensenrechten bij het gebruik van algoritmen in
          kaart te brengen en maatregelen te nemen om deze aan te pakken.\",\"urn\":\"urn:nl:aivt:tr:iama:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.rijksoverheid.nl/documenten/rapporten/2021/02/25/impact-assessment-mensenrechten-en-algoritmes\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"Licht
          uw voorstel voor het gebruik/de inzet van een algoritme toe. Wat is de aanleiding
          hiervoor geweest? Voor welk probleem moet het algoritme een oplossing bieden?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.1.1\",\"labels\":[{\"key\":\"topic\",\"value\":\"Aanleiding
          en probleemdefinitie\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Behoeftesteller\",\"Gemandateerd
          verantwoordelijke(n)\",\"Projectleider\",\"Domeinspecialist\",\"Gebruiker\"],\"lifecycle\":[\"Probleemanalyse\"],\"links\":[{\"text\":\"DPIA
          vraag 1\"},{\"urn\":\"urn:nl:aivt:tr:aiia:1.0:1.1\"}],\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"Wat
          is het doel dat bereikt dient te worden met de inzet van het algoritme? Wat
          is hierbij het hoofddoel en wat zijn subdoelen?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.2.1\",\"lab[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"AI
          Impact Assessment (AIIA)\",\"description\":\"Het AI Impact Assessment (AIIA)
          is een hulpmiddel voor het maken van afwegingen bij het inzetten van kunstmatige
          intell[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aia-22?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Hoog-risico-AI-systemen
          worden gebruikt volgens de gebruiksaanwijzing","description":"Gebruiksverantwoordelijken
          van AI-systemen met een hoog risico nemen passende technische en organisatorische
          maatregelen om te waarborgen dat zij dergelijke systemen gebruiken in overeenstemming
          met de gebruiksaanwijzingen die bij de systemen zijn gevoegd, in overeenstemming
          met de leden 3 en 6 van artikel 26 van de AI-verordening.","explanation":"Gebruiksverantwoordelijken
          van AI-systemen met een hoog risico moeten geschikte maatregelen nemen om
          ervoor te zorgen dat zij deze systemen gebruiken volgens de bijgevoegde instructies.\nDe
          gebruiksverantwoordelijke zorgt ervoor dat de inputdata relevant en voldoende
          representatief zijn voor het beoogde doel van het AI-systeem met een hoog
          risico, voor zover hij daar controle over heeft.\n","urn":"urn:nl:ak:ver:aia-22","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/vereisten/aia-22-gebruiksverantwoordelijken-maatregelen/index.html","subject":["governance"],"lifecycle":["organisatieverantwoordelijkheden","implementatie"],"links":[],"ai_act_profile":[{"type":["AI-systeem","AI-systeem
          voor algemene doeleinden"],"open_source":[],"risk_category":["hoog-risico
          AI"],"systemic_risk":[],"transparency_obligations":[],"role":["gebruiksverantwoordelijke"]}],"always_applicable":0,"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:avg-04?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Persoonsgegevens
          en andere data verwerken gebeurt proportioneel en subsidiair","description":"Gegevensverwerking
          moet in verhouding staan tot het beoogde doel en persoonsgegevens[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:awb-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Organisaties
          die algoritmes gebruiken voor publieke taken gaan zorgvuldig te werk","description":"De
          ontwikkeling en het gebruik van algoritmes en AI-systemen komt zorgvuldig
   [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:arc-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Informatie
          over algoritmes wordt gedocumenteerd volgens de Archiefwet","description":"Overheidsorganen
          zijn verplicht de onder hen berustende archiefbescheiden in goede, geordend[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aut-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Auteursrechten
          zijn beschermd","description":"Auteursrechten mogen niet geschonden worden
          bij het ontwikkelen en gebruiken van algoritmes en AI.","explanation":"","urn":"urn:nl:a[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:dat-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Databanken
          worden alleen gebruikt met toestemming van de databank-producent\",\"description\":\"Het
          is verboden om zonder goedkeuring van de producent een databank op [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:bzk-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Impactvolle
          algoritmes en hoog-risico-AI-systemen staan in het Nederlandse Algoritmeregister","description":"Bestuursorganen
          publiceren algoritmes met impact en hoog-risico-AI-sy[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:woo-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Iedereen
          kan openbare informatie over algoritmes vinden of aanvragen","description":"Een
          bestuursorgaan draagt er zorg voor dat de documenten die het ontvangt, vervaardigt
      [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:bio-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Computersystemen
          zijn voldoende beveiligd tegen ongelukken en cyberaanvallen","description":"Informatie
          en informatiesystemen moeten op de juiste manier worden beveiligd.","expla[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:grw-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Algoritmes
          schenden geen grondrechten of mensenrechten\",\"description\":\"Fundamentele
          vrijheden, mensenrechten en grondrechten worden beschermd bij de inzet van
    [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: http://testserver/algorithm/1/details/system_card/assessments/iama
    response:
      body:
        string:
          "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n
          \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n
          \   <link rel=\"icon\" type=\"image/x-icon\" href=\"/static/dist/@nl-rvo/assets/images/favicon/favicon.ico?etag=2623c3cf4644b245049d6e64a45e9a0b\">\n
          \   <title>\n        \n        Algorithmic Management Toolkit (AMT)\n        \n
          \   </title>\n    \n    \n        \n          <script type=\"text/javascript\"
          src=\"/static/dist/amt.js?etag=3ee5bf711702eb84442113b096590d5d\"></script>\n
          \       \n    \n        \n          <script type=\"module\" src=\"/static/dist/@nl-rvo/design-tokens/index.mjs?etag=b9177e180ef3d1a30d38cb1beb5e5aa7\"></script>\n
          \       \n    \n    <script type=\"text/javascript\" src=\"/static/vendor/htmx/js/json-enc.js?etag=e35a4cdbede2e811870937f9a33bf98c\"></script>\n
          \   <script type=\"text/javascript\" src=\"/stat[...]
