interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/instruments/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"instruments","path":"instruments","download_url":"https://task-registry.rijksapp.nl/instruments","links":{"self":"https://task-registry.rijksapp.nl/instruments"},"entries":[{"type":"file","size":32897,"name":"iama.yaml","path":"instruments/iama.yaml","urn":"urn:nl:aivt:tr:iama:1.0","download_url":"https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:iama:1.0","links":{"self":"https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:iama:1.0"}},{"type":"file","size":60271,"name":"aiia.yaml","path":"instruments/aiia.yaml","urn":"urn:nl:aivt:tr:aiia:1.0","download_url":"https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:aiia:1.0","links":{"self":"https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:aiia:1.0"}},{"type":"file","size":5187,"name":"conformity_assessment_eu_ai_act.yaml","path":"instruments/conformity_assessment_eu_ai_act.yaml","urn":"urn:nl:aivt:tr:ca:1.0","download_url":"https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:ca:1.0","links":{"self":"https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:ca:1.0"}},{"type":"file","size":14009,"name":"technical_docs_for_high_risk_ai.yaml","path":"instruments/technical_docs_for_high_risk_ai.yaml","urn":"urn:nl:aivt:tr:td:1.0","download_url":"https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:td:1.0","links":{"self":"https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:td:1.0"}}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:iama:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"Impact
          Assessment Mensenrechten en Algoritmes (IAMA)\",\"description\":\"Het IAMA
          helpt om de risico's voor mensenrechten bij het gebruik van algoritmen in
          kaart te brengen en maatregelen te nemen om deze aan te pakken.\",\"urn\":\"urn:nl:aivt:tr:iama:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.rijksoverheid.nl/documenten/rapporten/2021/02/25/impact-assessment-mensenrechten-en-algoritmes\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"Licht
          uw voorstel voor het gebruik/de inzet van een algoritme toe. Wat is de aanleiding
          hiervoor geweest? Voor welk probleem moet het algoritme een oplossing bieden?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.1.1\",\"labels\":[{\"key\":\"topic\",\"value\":\"Aanleiding
          en probleemdefinitie\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Behoeftesteller\",\"Gemandateerd
          verantwoordelijke(n)\",\"Projectleider\",\"Domeinspecialist\",\"Gebruiker\"],\"lifecycle\":[\"Probleemanalyse\"],\"links\":[{\"text\":\"DPIA
          vraag 1\"},{\"urn\":\"urn:nl:aivt:tr:aiia:1.0:1.1\"}],\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"Wat
          is het doel dat bereikt dient te worden met de inzet van het algoritme? Wat
          is hierbij het hoofddoel en wat zijn subdoelen?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.2.1\",\"lab[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:ca:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"EU-conformiteitsverklaring
          voor hoog-risico AI-systemen\",\"description\":\"EU-conformiteitsverklaring
          van een AI-systeem met een hoog risico wordt ondertekend door de ontwikkelaar
          voordat dit systeem in de handel wordt gebracht of in gebruik wordt gesteld.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"European
          Union\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.europarl.europa.eu/doceo/document/TA-9-2024-0138-FNL-COR01_NL.pdf\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"location\":\"$LOCATION\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"De
          naam en het type van het AI-systeem, evenals eventuele aanvullende ondubbelzinnige
          verwijzingen waarmee het AI-systeem kan worden ge\xEFdentificeerd en getraceerd.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0:1.0\",\"labels\":[{\"key\":\"topic\",\"value\":\"EU-conformiteitsverklaring\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Projectleider\",\"Aanbieder\"],\"lifecycle\":[],\"links\":[{\"systemcard_path\":\".name\",\"version\":\">0.1a1\"},{\"systemcard_path\":\".description\",\"version\":\">0.1a1\"}],\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"location\":\"$LOCATION\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"De
          naam en het adres van de aanbieder en, indien van toepassing, zijn gemachtigde.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0:2.0\",\"labels\":[{\"key\":\"topic\",\"[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:td:1.0?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".assessments[]","schema_version":"1.1.0","name":"Technische
          documentatie voor hoog-risico AI-systemen","description":"De technische documentatie
          van een AI-systeem met een hoog risico wordt opgesteld voordat dit systeem
          in de handel wordt[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/instruments/urn/urn:nl:aivt:tr:aiia:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"AI
          Impact Assessment (AIIA)\",\"description\":\"Het AI Impact Assessment (AIIA)
          is een hulpmiddel voor het maken van afwegingen bij het inzetten van kunstmatige
          intelligentie ([...]
