interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Controleer
          de datakwaliteit\",\"description\":\"Stel vast of de gebruikte data van voldoende
          kwaliteit is voor de beoogde toepassing.\\n\",\"explanation\":\"- Stel functionele
          eisen voor de datakwaliteit vast en [analyseer structureel of er aan deze
          eisen wordt voldaan](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/7-mon-05-evalueer-bij-veranderingen-in-data/index.html).
          \\n\\n- De kwaliteit van de data die als input voor het algoritme wordt gebruikt
          is bepalend voor de uitkomsten van het algoritme. Hier wordt soms ook naar
          gerefereerd als *garbage in = garbage ou[...]
