interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:pba-06?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Stel
          een multidisciplinair team samen bij het ontwikkelen of inkopen van algoritmes.\",\"description\":\"Stel
          een multidisciplinair team samen bij het ontwikkelen of inkopen van algoritmes.\\n\",\"explanation\":\"-
          Bij een project gericht op het ontwikkelen of inkopen van algoritmes is het
          belangrijk dat betrokkenen al in een vroeg stadium samenwerken. Dit betekent
          dat zowel een interne opdrachtgever als het ontwikkelingsteam of de afdeling
          inkoop tijdig worden aangehaakt om te zorgen voor een goed afgestemd proces.\\n-
          Wanneer het gaat om het ontwikkelen of inkopen van algoritmes, is een multidisciplinair
          team wenselijk. Zo'n team brengt rele[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:org-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Bepaal
          of er genoeg experts beschikbaar zijn\",\"description\":\"\\nBepaal welke
          expertise en capaciteit noodzakelijk is voor het ontwikkelen, inkopen en gebruiken
       [...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owp-04?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          welke techniek gebruikt wordt voor de beoogde toepassing","description":"Beschrijf
          welke techniek gebruikt wordt voor de beoogde toepassing. \n","explanation":"-
          [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:pba-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          het probleem dat het algoritme moet oplossen","description":"Formuleer en
          documenteer wat de aanleiding is om een algoritme in te willen zetten. \nFormuleer
          duidelijk de probleemdefinitie en probleemafbakening waarvoor het algoritme
          een oplossing zou moeten vormen. \n","explanation":"Formuleer de probleemdefinitie
          en probleemafbakening zo concreet en precies mogelijk. Maak dit waar mogelijk
          kwantificeerbaar. \n\nHet algoritme dient niet het onderliggende probleem.
          \nZonder eenduidigheid over het op te lossen probleem is geen sturing op en
          verantwoording over het algoritme mogelijk. \n","urn":"urn:nl:ak:mtr:pba-01","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/1-pba-01-formuleren-probleemdefinitie/index.html","subject":["governance","transparantie"],"suggested_roles":["projectleider"],"lifecycle":["probleemanalyse"],"links":["urn:nl:ak:ver:awb-01"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:imp-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Stel
          een werkinstructie op voor gebruikers.\",\"description\":\"Stel een werkinstructie
          op voor gebruikers zodat zij weten hoe het algoritme correct gebruikt kan
          worden en hoe ze om kunnen gaan met de (veiligheids)risico's. \\n\",\"explanation\":\"Het
          is belangrijk dat gebruikers een werkinstructie ontvangen met informatie over
          hoe zij met het algoritme kunnen en moeten werken. Hierin worden zaken beschreven
          als:\\n\\n- Op wat voor manier het algoritme ondersteunt bij het uitvoeren
          van (wettelijke) taken en hoe het past in de werkwijze. \\n- Wat de mogelijkheden
          en beperkingen zijn bij het gebruik van het algoritme. Op welke manieren mag
          het algoritme gebruikt worden? En op welke manieren niet?\\n- Welke informatie
          mag er worden ingevoerd in het systeem? En welke informatie niet?\\n- Wat
          de impact is van het gebruik van het algoritme op de samenleving en[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:ver-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Evalueer
          de nauwkeurigheid van het algoritme\",\"description\":\"Test en evalueer de
          nauwkeurigheid van het algoritme om te zorgen dat deze accurate uitkomsten
          g[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owk-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          een noodplan voor het stoppen van het algoritme\",\"description\":\"\\nStel
          een duidelijk proces op voor situaties waarin het algoritme niet meer werkt
          zoal[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:mon-07?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Stel
          een plan op voor continue monitoring\",\"description\":\"Maak een plan voor
          wat er continu gemonitord moet worden tijdens het gebruik van het algoritme.
          Dit[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:mon-05?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          een evaluatieplan voor tijdens het gebruik van het algoritme\",\"description\":\"Maak
          een evaluatieplan voor wanneer het algoritme in gebruik is. \\nDit plan bevat
          wanneer, wat en hoe er ge\xEBvalueerd dient te worden om te valideren of het
          model nog in lijn is met de [vastgestelde doelstelling](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/1-pba-02-formuleren-doelstelling/index.html).
          \\n\",\"explanation\":\"Het evaluatieplan moet aangeven op welke momenten
          er wordt ge\xEBvalueerd, wat er opnieuw wordt ge\xEBvalueerd en hoe dat wordt
          gedaan. \\n\\nVoor het opstellen van het evaluatieplan zijn de volgende stappen
          nodig:\\n\\n1. [Bepaal of periodieke controle noodzakelijk is](#bepaal-of-periodieke-controle-noodzakelijk-is)\\n2.
          [Bepaal bij welke gebeurtenissen het algoritme ge\xEBvalueerd moet worden](#bepaal-bij-welke-gebeurtenissen-het-algoritme-geevalueerd-moet-worden)\\n3.
          [Bepaal wat er ge\xEBvalueerd moet worden](#bepaal-wat-er-geevalueerd-moet-worden)\\n\\n###
          Bepaal of periodieke controle noodzakelijk is\\nStel vast of er periodieke
          momenten zijn vanuit bijvoorbee[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Controleer
          de datakwaliteit\",\"description\":\"Stel vast of de gebruikte data van voldoende
          kwaliteit is voor de beoogde toepassing.\\n\",\"explanation\":\"- Stel functio[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-08?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Zorg
          dat je controle of eigenaarschap hebt over de data","description":"De organisatie
          heeft volledige controle of eigenaarschap over de data. Wanneer dit niet mogelijk
          is, zijn afspraken gemaakt om de functionele eisen te waarborgen.\n","explanation":"Wanneer
          een algoritme ontwikkeld of ingekocht wordt, is het belangrijk om [toegang
          tot de gebruikte data](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/3-dat-02-fair-data/index.html)
          goed te regelen.\nMaak bijvoorbeeld afspraken over wie ervoor zorgt dat de
          data:\n\n- op een centrale plek beschikbaar wordt gesteld\n- van voldoende
          [kwaliteit](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/3-dat-01-datakwaliteit/index.html)
          is\n- goed beveiligd is\n\nWanneer een algoritme wordt ontwikkeld door een
          derde partij en dus niet wordt beheerd door de eigen organisatie, maak je
          duidelijke afspraken over eigenaarschap van de data. Dat geldt zowel voor
          de inputdata als de outputdat[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:uit-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Bij
          uitfaseren en doorontwikkeling wordt correct omgegaan met data en modelinformatie.\",\"description\":\"Verwijder
          bij [uitfasering](https://minbzk.github.io/Algoritmeka[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: http://testserver/algorithm/1/details/system_card/compliance
    response:
      body:
        string:
          "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n
          \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n
          \   <link rel=\"icon\" type=\"image/x-icon\" href=\"/static/dist/@nl-rvo/assets/images/favicon/favicon.ico?etag=72468084736f22cc85d357218f5d2ec8\">\n
          \   <title>\n        testalgorithm1 | AMT\n    </title>\n    \n    \n        \n
          \         <script type=\"text/javascript\" src=\"/static/dist/amt.js?etag=662b320fe0d63dabccbb08990828e20d\"></script>\n
          \       \n    \n        \n          <script type=\"module\" src=\"/static/dist/@nl-rvo/design-tokens/index.mjs?etag=d1e69147f8a6b4f059708b747418020b\"></script>\n
          \       \n    \n    <script type=\"text/javascript\" src=\"/static/vendor/htmx/js/json-enc.js?etag=73c270c2deb80a8758471378bb47da4b\"></script>\n
          \   <script type=\"text/javascript\" src=\"/static/vendor/[...]
