interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"instruments","path":"instruments","download_url":"https://task-registry.apps.digilab.network/instruments","links":{"self":"https://task-registry.apps.digilab.network/instruments"},"entries":[{"type":"file","size":14009,"name":"technical_docs_for_high_risk_ai.yaml","path":"instruments/technical_docs_for_high_risk_ai.yaml","urn":"urn:nl:aivt:tr:td:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0"}},{"type":"file","size":32897,"name":"iama.yaml","path":"instruments/iama.yaml","urn":"urn:nl:aivt:tr:iama:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0"}},{"type":"file","size":5187,"name":"conformity_assessment_eu_ai_act.yaml","path":"instruments/conformity_assessment_eu_ai_act.yaml","urn":"urn:nl:aivt:tr:ca:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0"}},{"type":"file","size":60271,"name":"aiia.yaml","path":"instruments/aiia.yaml","urn":"urn:nl:aivt:tr:aiia:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0"}}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"Impact
          Assessment Mensenrechten en Algoritmes (IAMA)\",\"description\":\"Het IAMA
          helpt om de risico's voor mensenrechten bij het gebruik van algoritmen in
          kaart te brengen en maatregelen te nemen om deze aan te pakken.\",\"urn\":\"urn:nl:aivt:tr:iama:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.rijksoverheid.nl/documenten/rapporten/2021/02/25/impact-assessment-mensenrechten-en-algoritmes\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"Licht
          uw voorstel voor het gebruik/de inzet van een algoritme toe. Wat is de aanleiding
          hiervoor geweest? Voor welk probleem moet het algoritme een oplossing bieden?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.1.1\",\"labels\":[{\"key\":\"topic\",\"value\":\"Aanleiding
          en probleemdefinitie\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Behoeftesteller\",\"Gemandateerd
          verantwoordelijke(n)\",\"Projectleider\",\"Domeinspecialist\",\"Gebruiker\"],\"lifecycle\":[\"Probleemanalyse\"],\"links\":[{\"text\":\"DPIA
          vraag 1\"},{\"urn\":\"urn:nl:aivt:tr:aiia:1.0:1.1\"}],\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"Wat
          is het doel dat bereikt dient te worden met de inzet van het algoritme? Wat
          is hierbij het hoofddoel en wat zijn subdoelen?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.2.1\",\"lab[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"AI
          Impact Assessment (AIIA)\",\"description\":\"Het AI Impact Assessment (AIIA)
          is een hulpmiddel voor het maken van afwegingen bij het inzetten van kunstmatige
          intell[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"measures","path":"measures","download_url":"https://task-registry.apps.digilab.network/measures","links":{"self":"https://task-registry.apps.digilab.network/measures"},"entries":[{"type":"file","size":2075,"name":"3-dat-03-persoonsgegevens-beschrijven.yaml","path":"measures/3-dat-03-persoonsgegevens-[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-03?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          welke persoonsgegevens het algoritme gebruikt en waarom","description":"Er
          is een overzicht opgesteld welke persoonsgegevens mogen worden verwerkt en
          om welke categorie persoonsgegevens het gaat. Het principe van dataminimalisatie
          is toegepast, zodat het minimum aantal persoonsgegevens wordt verwerkt om
          het beoogde doel te bereiken. ","explanation":"- Er is een overzicht opgesteld
          welke persoonsgegevens mogen worden verwerkt mogen worden verwerkt.\n- Bij
          de persoonsgegevens is aangegeven om wat voor categorie persoonsgegevens het
          gaat.\n- Per kenmerk is toegelicht waarom deze noodzakelijk is om te verwerken
          voor het ontwikkelen en gebruiken van het algoritme of AI-systeem.\n- Het
          principe van dataminimalisatie is toegepast, wat betekent dat een keuze is
          gemaakt of een persoonsgegevens al dan niet strikt noodzakelijk is om het
          doel te bereiken of dat verwerking ervan achterwege kan blijven.\n- Voor [het
          beschermen van deze persoonsgegevens](3-dat-05-pseudonimiseren-anonimiseren.md)
          wordt per kenmerk aangegeven op welke manier deze kan worden beschermd (anonimiseren,
          pseudonomiseren, aggregeren). \n- Een [DPIA](../instrumenten/DPIA.md) kan
          worden gebruikt om bovenstaande activiteiten uit te voeren.\n  \n## Bijbehorende
          vereiste(n)\n\n<!-- list_vereisten_on_maatregelen_page -->","urn":"urn:nl:ak:mtr:dat-03","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/3-dat-03-persoonsgegevens-beschrijven/index.html","subject":["privacy-en-gegevensbescherming"],"suggested_roles":["projectleider","ontwikkelaar"],"lifecycle":["dataverkenning-en-datapreparatie","ontwikkelen","verificatie-en-validatie"],"links":["urn:nl:ak:ver:avg-01","urn:nl:ak:ver:avg-04"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:pba-03?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          waarom een algoritme het probleem moet oplossen","description":"","explanation":"-
          Bepaal waarom het gewenst of nodig is om een algoritme in te zetten, en of
          er o[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owp-04?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          welke techniek gebruikt wordt voor de beoogde toepassing","description":"","explanation":"
          ## Bijbehorende vereiste(n)\n<!-- list_vereisten_on_maatregelen_page -->","urn":"urn:nl:ak:mtr:owp-04","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/2-owp-04-gebruikte-techniek/index.html","subject":["technische-robuustheid-en-veiligheid"],"suggested_roles":["ontwikkelaar"],"lifecycle":["ontwerp"],"links":["urn:nl:ak:ver:awb-01","urn:nl:ak:ver:aia-06","urn:nl:ak:ver:aia-10"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:neem_vereiste_op_als_subgunningscriteria?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Neem
          de vereiste op als een subgunningscriteria bij gunningscriteria beste prijs-kwaliteitverhouding.","description":"","explanation":"","urn":"urn:nl:ak:mtr:[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:schending_auteursrechten_output_onderdeel_conceptovereenkomst?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Garantie
          in conceptovereenkomst dat aanbieder auteursrechten niet schendt met de output","description":"Neem
          in de conceptovere[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:aansprakelijkheidsvoorwaarden_aanbieder_onderdeel_beoordelingsmatrix?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Aansprakelijkheidsvoorwaarden
          worden beoordeeld in de aanbesteding","description":"Maak de aansprakelijkheidsvoorwaarden
         [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:creeer_ruimte_voor_samenwerking_in_contract?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Cre\xEBer
          ruimte in het contract om opdrachtgever en aanbieder/opdrachtnemer te laten
          samenwerken om deze vereiste te realiseren.\",\"[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:maak_vereiste_onderdeel_van_service_level_agreement?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          de vereiste onderdeel van Service Level Agreement","description":"","explanation":"","urn":"urn:nl:ak:mtr:maak_vereiste_onderdeel_van_service_[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:menselijke_tussenkomst_projectplan_en_dchargedocument?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Menselijke
          tussenkomst is een vast onderdeel in een projecptlan of een d\xE9chargedocument\",\"description\":\"Neem
          het elem[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:org-03?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          een plan voor het omgaan met risico\u2019s\",\"description\":\"\",\"explanation\":\"\",\"urn\":\"urn:nl:ak:mtr:org-03\",\"language\":\"nl\",\"owners\":[{\"organization\":\"Algoritmekader\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://minbzk.github.io/Algoritmekader/maatregelen/0-org-03-toepassen_risicobeheer/index.html\",\"subject\":[\"governance\"],\"suggested_roles\":[\"projectleider\",\"beleid-en-advies\"],\"lifecycle\":[\"organisatieverantwoordelijkheden\"],\"links\":[\"urn:nl:ak:ver:aia-03\",\"urn:nl:ak:ver:awb-01\"],\"template\":{\"requirement\":\"$REQUIREMENT\",\"remarks\":\"$REMARKS\",\"status\":\"$STATUS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}}"
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:maak_vereisten_voor_algoritmes_en_AI-systemen_onder_van_contractvoorwaarden?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          vereisten voor algoritmes en AI-systemen onderdeel van contractvoorwaarden","description":"","explanation":"","urn":"u[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:leveren_bewijs_niet_schenden_auteursrechten_output?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Bewijs
          laten leveren dat auteursrechten niet worden geschonden met de output\",\"description\":\"Maak
          het al dan niet kunnen le[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:mon-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Beveilig
          de software\",\"description\":\"\",\"explanation\":\"Er zijn beheersmaatregelen
          die kunnen helpen bij het zorgen voor een goede beveiliging van verschillende
          (software-)componenten van een algoritme of systeem. Hierbij kan worden gedacht
          aan:\\nHet toepassen van wachtwoordbeheer. [Baseline Informatiebeveiliging
          Overheid](https://www.digitaleoverheid.nl/overzicht-van-alle-onderwerpen/cybersecurity/bio-en-ensia/baseline-informatiebeveiliging-overheid/),
          de [NCSC Handreiking voor implementatie van detectieoplossingen](https://www.ncsc.nl/documenten/publicaties/2019/mei/01/handreiking-voor-implementatie-van-detectie-oplossingen)
          en het [Impact Assessment Mensenrechten en Algoritmes](../instrumenten/IAMA.md)[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:contractuele_afspraken_data_en_artefacten?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Contractuele
          afspraken over data en artefacten\",\"description\":\"Maak (contractuele)
          afspraken met de aanbieder wie eigenaar is van de[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:vaststellen_benodigde_kennisoverdracht_en_ondersteuning?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"De
          mate waarin aanbieder kennisoverdracht en ondersteuning bij implementatie
          biedt is onderdeel van de aanbesteding","description":"L[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owk-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          een noodplan voor het stoppen van het algoritme","description":"","explanation":"","urn":"urn:nl:ak:mtr:owk-02","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/4-owk-02-stopzetten-gebruik/index.html","subject":["governance","menselijke-controle"],"suggested_roles":["projectleider","ontwikkelaar"],"lifecycle":["ontwikkelen","implementatie"],"links":["urn:nl:ak:ver:aia-18","urn:nl:ak:ver:awb-01","urn:nl:ak:ver:aia-11","urn:nl:ak:ver:grw-01","urn:nl:ak:ver:aia-29","urn:nl:ak:ver:grw-02","urn:nl:ak:ver:aia-19","urn:nl:ak:ver:aia-09","urn:nl:ak:ver:avg-04","urn:nl:ak:ver:aia-24"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:imp-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          een openbaar besluit over de inzet van het algoritme","description":"","explanation":"","urn":"urn:nl:ak:mtr:imp-01","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/6-imp-01-politiek-bestuurlijk-besluit/index.html","subject":["governance","transparantie"],"suggested_roles":["projectleider"],"lifecycle":["organisatieverantwoordelijkheden","implementatie"],"links":["urn:nl:ak:ver:awb-01","urn:nl:ak:ver:aia-08","urn:nl:ak:ver:awb-02"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:bespreek_vereiste_met_aanbieder?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bespreek
          de vereiste met aanbieder of opdrachtnemer","description":"","explanation":"","urn":"urn:nl:ak:mtr:bespreek_vereiste_met_aanbieder","language":"nl","owners":[[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:maak_vereiste_onderdeel_van_contractovereenkomst?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          de vereiste onderdeel van de contractovereenkomst","description":"","explanation":"","urn":"urn:nl:ak:mtr:maak_vereiste_onderdeel_van_contractove[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:ver-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Toets
          het algoritme op bias","description":"","explanation":"","urn":"urn:nl:ak:mtr:ver-01","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/5-ver-02-biasanalyse/index.html","subject":["bias-en-non-discriminatie"],"suggested_roles":["projectleider","beleid-en-advies","ontwikkelaar","jurist"],"lifecycle":["ontwerp","verificatie-en-validatie","monitoring-en-beheer"],"links":["urn:nl:ak:ver:grw-02","urn:nl:ak:ver:aia-29","urn:nl:ak:ver:grw-01"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:bepalende_invloed_besluit_richting_personen?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bepaal
          of de output bepalende invloed heeft in een besluit richting personen","description":"Ga
          na of het algoritme of AI-systeem bepalende invlo[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:schending_auteursrechten_trainingsdata_onderdeel_conceptovereenkomst?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Garantie
          in conceptovereenkomst dat auteursrechten niet worden geschonden met de trainingsdata","description":"Neem
          in d[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:getroffen_maatregelen_van_aanbieder_voorkomen_schending_auteursrechten?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Verken
          maatregelen van aanbieder om schending auteursrechten te voorkomen","description":"Verken
          of aanbieder maatrege[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:leveren_bewijs_onderdeel_beoordeling_inschrijving?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          het leveren van bewijs voor het voldoen aan de vereiste onderdeel van de beoordeling
          van een inschrijving","description":"","explanati[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:omgaan_restrisico's_aanbiede_onderdeel_beoordelingsmaatrix?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Restrisico''s
          met betrekking tot schending auteursrechten zijn inzichtelijk gemaakt","description":"Maak
          in de beoordelingsmatrix,[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:vaststellen_aanleveren_informatie_technische_documentatie?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Vul
          technische documentatie van aanbieder aan met informatie vanuit de gebruiksverantwoordelijke","description":"Bespreek
          met het p[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:risico-analyse_informatiebeveiliging_leverancier?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Voer
          een risico-analyse met de leverancier uit op het gebied van informatiebeveiliging
          bij een uitbestedingstraject","description":"","explanation":"","urn":"urn:nl:ak:mtr:risico-analyse_informatiebeveiliging_leverancier","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/risico-analyse_informatiebeveiliging_leverancier/index.html","subject":["technische-robuustheid-en-veiligheid","publieke-inkoop"],"suggested_roles":["projectleider"],"lifecycle":["ontwerp","ontwikkelen","verificatie-en-validatie","implementatie","monitoring-en-beheer"],"links":["urn:nl:ak:ver:bio-01"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:uitvoeren_audit_voor_naleving_vereiste?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Neem
          het kunnen uitvoeren van een audit over de vereiste op in contractvoorwaarden
          en de contractovereenkomst","description":"","explanation":"","urn"[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:vaststellen_passend_trainingsniveau_door_aanbieder?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Vaststellen
          niveau van benodigde training voor gebruik algoritmen en AI-systemen","description":"Laat
          de aanbieder aangeven op welk niveau[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:maak_de_vereiste_onderdeel_van_programma_van_eisen?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          de vereiste onderdeel van het programma van eisen","description":"","explanation":"","urn":"urn:nl:ak:mtr:maak_de_vereiste_onderdeel_van_progra[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:leveren_bewijs_niet_schenden_auteursrechten_trainingsdata?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bewijs
          laten leveren dat auteursrechten niet worden geschonden met de trainingsdata","description":"Maak
          het al dan niet kunnen lev[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: http://testserver/algorithm-system/1/details/system_card/requirements
    response:
      body:
        string:
          "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n
          \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n
          \   <link rel=\"icon\" type=\"image/x-icon\" href=\"/static/dist/@nl-rvo/assets/images/favicon/favicon.ico?etag=2623c3cf4644b245049d6e64a45e9a0b\">\n
          \   <title>\n        testproject1 | AMT\n    </title>\n    \n    \n        \n
          \         <script type=\"text/javascript\" src=\"/static/dist/amt.js?etag=3ee5bf711702eb84442113b096590d5d\"></script>\n
          \       \n    \n        \n          <script type=\"module\" src=\"/static/dist/@nl-rvo/design-tokens/index.mjs?etag=2f803d0ce3fa3cc501beab5caaac1766\"></script>\n
          \       \n    \n    <script type=\"text/javascript\" src=\"/static/vendor/htmx/js/json-enc.js?etag=e35a4cdbede2e811870937f9a33bf98c\"></script>\n
          \   <script type=\"text/javascript\" src=\"/static/vendor/[...]
