interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"instruments","path":"instruments","download_url":"https://task-registry.apps.digilab.network/instruments","links":{"self":"https://task-registry.apps.digilab.network/instruments"},"entries":[{"type":"file","size":32897,"name":"iama.yaml","path":"instruments/iama.yaml","urn":"urn:nl:aivt:tr:iama:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0"}},{"type":"file","size":60271,"name":"aiia.yaml","path":"instruments/aiia.yaml","urn":"urn:nl:aivt:tr:aiia:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0"}},{"type":"file","size":5187,"name":"conformity_assessment_eu_ai_act.yaml","path":"instruments/conformity_assessment_eu_ai_act.yaml","urn":"urn:nl:aivt:tr:ca:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0"}},{"type":"file","size":14009,"name":"technical_docs_for_high_risk_ai.yaml","path":"instruments/technical_docs_for_high_risk_ai.yaml","urn":"urn:nl:aivt:tr:td:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0"}}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"Impact
          Assessment Mensenrechten en Algoritmes (IAMA)\",\"description\":\"Het IAMA
          helpt om de risico's voor mensenrechten bij het gebruik van algoritmen in
          kaart te brengen en maatregelen te nemen om deze aan te pakken.\",\"urn\":\"urn:nl:aivt:tr:iama:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.rijksoverheid.nl/documenten/rapporten/2021/02/25/impact-assessment-mensenrechten-en-algoritmes\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"Licht
          uw voorstel voor het gebruik/de inzet van een algoritme toe. Wat is de aanleiding
          hiervoor geweest? Voor welk probleem moet het algoritme een oplossing bieden?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.1.1\",\"labels\":[{\"key\":\"topic\",\"value\":\"Aanleiding
          en probleemdefinitie\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Behoeftesteller\",\"Gemandateerd
          verantwoordelijke(n)\",\"Projectleider\",\"Domeinspecialist\",\"Gebruiker\"],\"lifecycle\":[\"Probleemanalyse\"],\"links\":[{\"text\":\"DPIA
          vraag 1\"},{\"urn\":\"urn:nl:aivt:tr:aiia:1.0:1.1\"}],\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"Wat
          is het doel dat bereikt dient te worden met de inzet van het algoritme? Wat
          is hierbij het hoofddoel en wat zijn subdoelen?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.2.1\",\"lab[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"EU-conformiteitsverklaring
          voor hoog-risico AI-systemen\",\"description\":\"EU-conformiteitsverklaring
          van een AI-systeem met een hoog risico wordt ondertekend door de ontwikkelaar
          voordat dit systeem in de handel wordt gebracht of in gebruik wordt gesteld.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"European
          Union\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.europarl.europa.eu/doceo/document/TA-9-2024-0138-FNL-COR01_NL.pdf\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"location\":\"$LOCATION\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"De
          naam en het type van het AI-systeem, evenals eventuele aanvullende ondubbelzinnige
          verwijzingen waarmee het AI-systeem kan worden ge\xEFdentificeerd en getraceerd.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0:1.0\",\"labels\":[{\"key\":\"topic\",\"value\":\"EU-conformiteitsverklaring\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Projectleider\",\"Aanbieder\"],\"lifecycle\":[],\"links\":[{\"systemcard_path\":\".name\",\"version\":\">0.1a1\"},{\"systemcard_path\":\".description\",\"version\":\">0.1a1\"}],\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"location\":\"$LOCATION\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"De
          naam en het adres van de aanbieder en, indien van toepassing, zijn gemachtigde.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0:2.0\",\"labels\":[{\"key\":\"topic\",\"[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".assessments[]","schema_version":"1.1.0","name":"Technische
          documentatie voor hoog-risico AI-systemen","description":"De technische documentatie
          van een AI-systeem met een hoog risico wordt opgesteld voordat dit systeem
          in de han[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"AI
          Impact Assessment (AIIA)\",\"description\":\"Het AI Impact Assessment (AIIA)
          is een hulpmiddel voor het maken van afwegingen bij het inzetten van kunstmatige
          intell[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"requirements","path":"requirements","download_url":"https://task-registry.apps.digilab.network/requirements","links":{"self":"https://task-registry.apps.digilab.network/requirements"},"entries":[{"type":"file","size":3418,"name":"aia-19-toegankelijkheidseisen.yaml","path":"requirements/aia-19-toe[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aia-19?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Hoog-risico-AI-systemen
          voldoen aan de toegankelijkheidseisen.\",\"description\":\"\\nAanbieders van
          AI-systemen met een hoog risico zorgen ervoor dat het AI-systeem met een hoog
          risico voldoet aan de toegankelijkheidseisen overeenkomstig de Richtlijnen
          (EU) 2016/2102 en (EU) 2019/882.\\n\",\"explanation\":\"Gezien het toenemende
          belang en gebruik van AI-systemen moet de toepassing van universele ontwerpbeginselen
          op alle nieuwe technologie\xEBn en diensten zorgen voor volledige en gelijke
          toegang voor iedereen die mogelijk gevolgen ondervindt van of gebruikmaakt
          van AI-technologie\xEBn, met inbegrip van personen met een handicap, op een
          manier waarbij ten volle rekening wordt gehouden met hun inherente waardigheid
          en diversiteit. \\n\\nA[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:avg-10?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Besluiten
          die levens kunnen be\xEFnvloeden, zijn niet volledig geautomatiseerd.\",\"description\":\"\\nBetrokkenen
          hebben het recht om niet onderworpen te worden aan e[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:arc-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Informatie
          over algoritmes wordt in goede, geordende en toegankelijke staat gebracht,
          bewaard en vernietigd wanneer nodig.","description":"\nInformatie over algoritmes
          wordt in goede, geordende en toegankelijke staat gebracht, bewaard en vernietigd
          wanneer nodig. \n","explanation":"Overheden moeten informatie over algoritmes
          in goede, geordende en toegankelijke staat brengen en bewaren. Ook moeten
          ze zorgen voor de vernietiging van archiefbescheiden die daarvoor in aanmerking
          komen. \n\nOp basis van deze informatie moet bijvoorbeeld gereconstrueerd
          kunnen worden hoe besluiten, ook in de context van algoritmes, tot stand zijn
          gekomen. Informatie over algoritmes moet daarom op basis van de selectielijst
          bewaard en vernietigd worden.\n","urn":"urn:nl:ak:ver:arc-01","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/vereisten/arc-01-archiefwet/index.html","subject":["transparantie","data"],"lifecycle":["uitfaseren","monitoring-en-beheer","ontwikkelen"],"links":["urn:nl:ak:mtr:owp-09","urn:nl:ak:mtr:owp-15","urn:nl:ak:mtr:owp-16","urn:nl:ak:mtr:owp-21","urn:nl:ak:mtr:owp-22","urn:nl:ak:mtr:owp-24","urn:nl:ak:mtr:owp-28","urn:nl:ak:mtr:dat-03","urn:nl:ak:mtr:uit-01"],"ai_act_profile":[{"type":[],"open_source":[],"risk_group":[],"systemic_risk":[],"transparency_obligations":[],"role":[],"conformity_assessment_body":[]}],"always_applicable":1,"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:woo-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Iedereen
          kan openbare informatie over algoritmes vinden of aanvragen","description":"\nEen
          bestuursorgaan draagt er zorg voor dat de documenten die het ontvangt, vervaardigt
    [...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:awb-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Organisaties
          kunnen duidelijk uitleggen waarom en hoe algoritmes leiden tot een besluit","description":"Een
          besluit berust op een deugdelijke en kenbare motivering.\n","explanati[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:bio-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Computersystemen
          zijn voldoende beveiligd tegen ongelukken en cyberaanvallen","description":"Informatie
          en informatiesystemen moeten op de juiste manier worden beveiligd.\n","exp[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:dat-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Databanken
          worden alleen gebruikt met toestemming van de databank-producent.\",\"description\":\"Het
          is verboden om zonder goedkeuring van de producent een databank op[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:grw-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Algoritmes
          discrimineren niet.","description":"Allen die zich in Nederland bevinden,
          worden in gelijke gevallen gelijk behandeld.\nDirecte en indirecte discriminatie
          we[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aut-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Auteursrechten
          zijn beschermd.","description":"\nAuteursrechten en naburige rechten mogen
          niet geschonden worden bij het ontwikkelen, testen en gebruiken van algoritmes.\n","expl[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:bzk-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Impactvolle
          algoritmes en hoog-risico-AI-systemen staan in het Nederlandse Algoritmeregister","description":"Bestuursorganen
          publiceren algoritmes met impact en hoog-risico-AI-sy[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"measures","path":"measures","download_url":"https://task-registry.apps.digilab.network/measures","links":{"self":"https://task-registry.apps.digilab.network/measures"},"entries":[{"type":"file","size":2389,"name":"1-pba-04-betrek-belanghebbenden.yaml","path":"measures/1-pba-04-betrek-belanghebbenden.[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owk-04?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          logbestanden waarin staat wie wanneer toegang had tot de data en de code\",\"description\":\"Zorg
          ervoor dat logbestanden worden gecre\xEBerd waarin informatie wordt [...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owp-26?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Laat
          de aanbieder aangeven welke mate van opleiding en ondersteuning bij de implementatie
          nodig is om de beoogde algoritmes verantwoord te gebruiken.","description":"\nLaat
         [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:pba-04?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Overleg
          regelmatig met belanghebbenden\",\"description\":\"\\nBreng in kaart welke
          belanghebbenden er zijn en betrek hen op verschillende momenten in de levenscyclus.\\n\"[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:org-04?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Zorg
          voor politiek-bestuurlijk bewustzijn, betrokkenheid, en verantwoordelijkheid.","description":"Zorg
          voor politiek-bestuurlijk bewustzijn, betrokkenheid, en verantwoordelijkheid.
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:imp-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Doe
          aselecte steekproeven om algoritmes met 'risicogestuurde selectie\u2019 te
          controleren\",\"description\":\"Uitvoeren van aselecte steekproeven als aanvulling
         [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:ver-04?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Zorg
          voor een representatieve testomgeving\",\"description\":\"Test het algoritme
          in verschillende scenario\u2019s en omstandigheden die zoveel mogelijk overeenkomen
     [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:mon-06?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Meten,
          monitoren en rapporteren van milieu-impact van algoritmes\",\"description\":\"Inventariseer
          en monitor de milieu-impact van algoritmes (bijvoorbeeld door het doen v[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:imp-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Stel
          een werkinstructie op voor gebruikers.\",\"description\":\"Stel een werkinstructie
          op voor gebruikers zodat zij weten hoe het algoritme correct gebruikt kan
          worden en hoe ze om kunnen gaan met de (veiligheids)risico's. \\n\",\"explanation\":\"Het
          is belangrijk dat gebruikers een werkinstructie ontvangen met informatie over
          hoe zij met het algoritme kunnen en moeten werken. Hierin worden zaken beschreven
          als:\\n\\n- Op wat voor manier het algoritme ondersteunt bij het uitvoeren
          van (wettelijke) taken en hoe het past in de werkwijze. \\n- Wat de mogelijkheden
          en beperkingen zijn bij het gebruik van het algoritme. Op welke manieren mag
          het algoritme gebruikt worden? En op welke manieren niet?\\n- Welke informatie
          mag er worden ingevoerd in het systeem? En welke informatie niet?\\n- Wat
          de impact is van het gebruik van het algoritme op de samenleving en[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:mon-05?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          een evaluatieplan voor tijdens het gebruik van het algoritme\",\"description\":\"Maak
          een evaluatieplan voor wanneer het algoritme in gebruik is. \\nDit plan bevat
          wanneer, wat en hoe er ge\xEBvalueerd dient te worden om te valideren of het
          model nog in lijn is met de [vastgestelde doelstelling](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/1-pba-02-formuleren-doelstelling/index.html).
          \\n\",\"explanation\":\"Het evaluatieplan moet aangeven op welke momenten
          er wordt ge\xEBvalueerd, wat er opnieuw wordt ge\xEBvalueerd en hoe dat wordt
          gedaan. \\n\\nVoor het opstellen van het evaluatieplan zijn de volgende stappen
          nodig:\\n\\n1. [Bepaal of periodieke controle noodzakelijk is](#bepaal-of-periodieke-controle-noodzakelijk-is)\\n2.
          [Bepaal bij welke gebeurtenissen het algoritme ge\xEBvalueerd moet worden](#bepaal-bij-welke-gebeurtenissen-het-algoritme-geevalueerd-moet-worden)\\n3.
          [Bepaal wat er ge\xEBvalueerd moet worden](#bepaal-wat-er-geevalueerd-moet-worden)\\n\\n###
          Bepaal of periodieke controle noodzakelijk is\\nStel vast of er periodieke
          momenten zijn vanuit bijvoorbee[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          waardevolle data vindbaar, toegankelijk, interoperabel en herbruikbaar (FAIR)
          binnen en buiten de eigen organisatie.\",\"description\":\"\\nMaak waardevolle
         [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-08?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Zorg
          dat je controle of eigenaarschap hebt over de data","description":"De organisatie
          heeft volledige controle of eigenaarschap over de data. Wanneer dit niet mogelijk
          is, zijn afspraken gemaakt om de functionele eisen te waarborgen.\n","explanation":"Wanneer
          een algoritme ontwikkeld of ingekocht wordt, is het belangrijk om [toegang
          tot de gebruikte data](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/3-dat-02-fair-data/index.html)
          goed te regelen.\nMaak bijvoorbeeld afspraken over wie ervoor zorgt dat de
          data:\n\n- op een centrale plek beschikbaar wordt gesteld\n- van voldoende
          [kwaliteit](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/3-dat-01-datakwaliteit/index.html)
          is\n- goed beveiligd is\n\nWanneer een algoritme wordt ontwikkeld door een
          derde partij en dus niet wordt beheerd door de eigen organisatie, maak je
          duidelijke afspraken over eigenaarschap van de data. Dat geldt zowel voor
          de inputdata als de outputdat[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owp-34?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Identificeer
          en implementeer technische interventies die robuustheid vergroten\",\"description\":\"Bepaal
          in het ontwerp welke technische interventies bijdragen aan de [robuustheid](../../onderwerpen/technische-robuustheid-en-veiligheid.md#wat-is-technisch-robuust-en-veilig)
          van het algoritme. Deze keuzes moeten in lijn zijn met het [beoogde doel](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/1-pba-02-formuleren-doelstelling/index.html)
          en de context. \\n\",\"explanation\":\"Maak in de ontwerpfase de volgende
          afwegingen:\\n\\n- **Identificeer en implementeer technische interventies
          die de robuustheid vergroten**\\n\\n    In het ontwerp en in de training kunnen
          extra interventies worden genomen die de robuustheid vergroten. Dit kan op
          verschillende niveaus. Denk bijvoorbeeld aan: \\n    \\n    - *Data Augmentation*:
          op data niveau kan de dataset uitgebreid worden met variaties op de oorspronkelijke
          data, bijvoorbeeld door het toevoegen van extra ruis aan de datas[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:uit-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Bij
          uitfaseren en doorontwikkeling wordt correct omgegaan met data en modelinformatie.\",\"description\":\"Verwijder
          bij [uitfasering](https://minbzk.github.io/Algoritmeka[...]
[...]
