interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"instruments","path":"instruments","download_url":"https://task-registry.apps.digilab.network/instruments","links":{"self":"https://task-registry.apps.digilab.network/instruments"},"entries":[{"type":"file","size":32897,"name":"iama.yaml","path":"instruments/iama.yaml","urn":"urn:nl:aivt:tr:iama:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0"}},{"type":"file","size":60271,"name":"aiia.yaml","path":"instruments/aiia.yaml","urn":"urn:nl:aivt:tr:aiia:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0"}},{"type":"file","size":5187,"name":"conformity_assessment_eu_ai_act.yaml","path":"instruments/conformity_assessment_eu_ai_act.yaml","urn":"urn:nl:aivt:tr:ca:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0"}},{"type":"file","size":14009,"name":"technical_docs_for_high_risk_ai.yaml","path":"instruments/technical_docs_for_high_risk_ai.yaml","urn":"urn:nl:aivt:tr:td:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0"}}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"EU-conformiteitsverklaring
          voor hoog-risico AI-systemen\",\"description\":\"EU-conformiteitsverklaring
          van een AI-systeem met een hoog risico wordt ondertekend door de ontwikkelaar
          voordat dit systeem in de handel wordt gebracht of in gebruik wordt gesteld.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"European
          Union\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.europarl.europa.eu/doceo/document/TA-9-2024-0138-FNL-COR01_NL.pdf\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"location\":\"$LOCATION\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"De
          naam en het type van het AI-systeem, evenals eventuele aanvullende ondubbelzinnige
          verwijzingen waarmee het AI-systeem kan worden ge\xEFdentificeerd en getraceerd.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0:1.0\",\"labels\":[{\"key\":\"topic\",\"value\":\"EU-conformiteitsverklaring\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Projectleider\",\"Aanbieder\"],\"lifecycle\":[],\"links\":[{\"systemcard_path\":\".name\",\"version\":\">0.1a1\"},{\"systemcard_path\":\".description\",\"version\":\">0.1a1\"}],\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"location\":\"$LOCATION\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"De
          naam en het adres van de aanbieder en, indien van toepassing, zijn gemachtigde.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0:2.0\",\"labels\":[{\"key\":\"topic\",\"[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".assessments[]","schema_version":"1.1.0","name":"Technische
          documentatie voor hoog-risico AI-systemen","description":"De technische documentatie
          van een AI-systeem met een hoog risico wordt opgesteld voordat dit systeem
          in de handel wordt gebracht of in gebruik wordt gesteld.","urn":"urn:nl:aivt:tr:td:1.0","language":"nl","owners":[{"organization":"European
          Union","name":"","email":"","role":""}],"date":"","url":"https://www.europarl.europa.eu/doceo/document/TA-9-2024-0138-FNL-COR01_NL.pdf","template":{"question":"$QUESTION","answer":"$ANSWER","remarks":"$REMARKS","timestamp":"$TIMESTAMP","location":"$LOCATION","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]},"tasks":[{"question":"Wat
          is het beoogde doel van het AI-systeem?","urn":"urn:nl:aivt:tr:td:1.0:1.a.1","labels":[{"key":"topic","value":"Algemene
          beschrijving AI-systeem"}],"type":["open_question"],"suggested_roles":[],"lifecycle":[],"links":[{"text":"DPIA
          vraag 4"},{"urn":"urn:nl:aivt:tr:1.0:1.2.1"},{"systemcard_path":".goal_and_impact","version":">0.1a1"}],"template":{"question":"$QUESTION","answer":"$ANSWER","remarks":"$REMARKS","timestamp":"$TIMESTAMP","location":"$LOCATION","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}},{"question":"Wat
          is de naam van de aanbieder van het AI-systeem?","urn":"urn:nl:aivt:tr:td:1.0:1.a.2","labels":[{"key":"topic","value":"Algemene
          beschrij[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"requirements","path":"requirements","download_url":"https://task-registry.apps.digilab.network/requirements","links":{"self":"https://task-registry.apps.digilab.network/requirements"},"entries":[{"type":"file","size":3219,"name":"aia-19-toegankelijkheidseisen.yaml","path":"requirements/aia-19-toe[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aia-19?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Hoog-risico-AI-systemen
          voldoen aan de toegankelijkheidseisen.\",\"description\":\"Aanbieders van
          AI-systemen met een hoog risico zorgen ervoor dat het AI-systeem met een hoog
          risico voldoet aan de toegankelijkheidseisen overeenkomstig de Richtlijnen
          (EU) 2016/2102 en (EU) 2019/882.\",\"explanation\":\"Gezien het toenemende
          belang en gebruik van AI-systemen moet de toepassing van universele ontwerpbeginselen
          op alle nieuwe technologie\xEBn en diensten zorgen voor volledige en gelijke
          toegang voor iedereen die mogelijk gevolgen ondervindt van of gebruikmaakt
          van AI-technologie\xEBn, met inbegrip van personen met een handicap, op een
          manier waarbij ten volle rekening wordt gehouden met hun inherente waardigheid
          en diversiteit. \\n\\nA[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:avg-13?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Een
          Data Protection Impact Assessment (DPIA) wordt uitgevoerd wanneer de verwerking
          van persoonsgegevens waarschijnlijk een hoog risico met zich meebrengt voor
          de rechten en vrijheden van natuurlijke personen","description":"Een gegevensbeschermingseffectbeoordeling
          (DPIA) is verplicht, indien een verwerking van persoonsgegevens waarschijnlijk
          een hoog risico inhoudt voor de rechten en vrijheden van natuurlijke personen.","explanation":"","urn":"urn:nl:ak:ver:avg-13","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/vereisten/avg-13-dpia-verplicht/index.html","subject":["privacy-en-gegevensbescherming"],"lifecycle":["ontwerp","dataverkenning-en-datapreparatie","verificatie-en-validatie"],"links":["urn:nl:ak:mtr:owp-09","urn:nl:ak:mtr:owp-12","urn:nl:ak:mtr:owp-13","urn:nl:ak:mtr:owp-14","urn:nl:ak:mtr:owp-19","urn:nl:ak:mtr:owp-21","urn:nl:ak:mtr:owp-25","urn:nl:ak:mtr:owk-03"],"ai_act_profile":[{"type":[],"open_source":[],"risk_group":[],"systemic_risk":[],"transparency_obligations":[],"role":[],"conformity_assessment_body":[]}],"always_applicable":1,"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:awb-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Organisaties
          die algoritmes gebruiken voor publieke taken nemen besluiten zorgvuldig.","description":"Organisaties
          die algoritmes gebruiken voor publieke taken nemen besluiten zo[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:woo-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Iedereen
          kan openbare informatie over algoritmes vinden of aanvragen","description":"Een
          bestuursorgaan draagt er zorg voor dat de documenten die het ontvangt, vervaardigt
      [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:bzk-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Impactvolle
          algoritmes en hoog-risico-AI-systemen staan in het Nederlandse Algoritmeregister","description":"Bestuursorganen
          publiceren algoritmes met impact en hoog-risico-AI-sy[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:grw-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Algoritmes
          schenden geen grondrechten of mensenrechten\",\"description\":\"Fundamentele
          vrijheden, mensenrechten en grondrechten worden beschermd bij de inzet van
    [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:arc-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Informatie
          over algoritmes wordt gedocumenteerd volgens de Archiefwet","description":"Overheidsorganen
          zijn verplicht de onder hen berustende archiefbescheiden in goede, geordend[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:bio-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Computersystemen
          zijn voldoende beveiligd tegen ongelukken en cyberaanvallen","description":"Informatie
          en informatiesystemen moeten op de juiste manier worden beveiligd.","expla[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:dat-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Databanken
          worden alleen gebruikt met toestemming van de databank-producent\",\"description\":\"Het
          is verboden om zonder goedkeuring van de producent een databank op [...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aut-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Auteursrechten
          zijn beschermd","description":"Auteursrechten mogen niet geschonden worden
          bij het ontwikkelen en gebruiken van algoritmes.","explanation":"","urn":"urn:nl:ak:ver:[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"measures","path":"measures","download_url":"https://task-registry.apps.digilab.network/measures","links":{"self":"https://task-registry.apps.digilab.network/measures"},"entries":[{"type":"file","size":905,"name":"2-owp-31-genereren-bronvermelding.yaml","path":"measures/2-owp-31-genereren-bronvermeldi[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owp-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          welke data gebruikt wordt voor de beoogde toepassing","description":"","explanation":"
          \n## Bijbehorende vereiste(n) { data-search-exclude }\n??? expander \"Bekijk
          alle vereisten\"\n    <!-- list_vereisten_on_maatregelen_page -->","urn":"urn:nl:ak:mtr:owp-02","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/2-owp-11-gebruikte-data/index.html","subject":["data"],"suggested_roles":["ontwikkelaar","beleid-en-advies"],"lifecycle":["ontwerp","dataverkenning-en-datapreparatie"],"links":["urn:nl:ak:ver:aia-05"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owk-05?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Kies
          energiezuinige programmeermethoden","description":"","explanation":"","urn":"urn:nl:ak:mtr:owk-05","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/4-owk-05-energiezuinige-programmeermethoden/index.html","subject":["duurzaamheid"],"suggested_roles":["ontwikkelaar"],"lifecycle":["ontwikkelen"],"links":[],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:org-05?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Sluit
          algoritmegovernance aan op bestaande governancestructuren binnen de organisatie.","description":"Sluit
          algoritmegovernance aan op bestaande governancestructuren binnen de organisatie.","explanation":"","urn":"urn:nl:ak:mtr:org-05","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/0-org-05-bestaande-governance/index.html","subject":["governance"],"suggested_roles":["projectleider","beleid-en-advies"],"lifecycle":["organisatieverantwoordelijkheden"],"links":[],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:imp-03?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Richt
          de juiste menselijke controle in van het algoritme\",\"description\":\"\",\"explanation\":\"Algoritmes
          ondersteunen vaak beslissingen en besluitvorming van overheids[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          waardevolle data vindbaar, toegankelijk, interoperabel en herbruikbaar (FAIR)
          binnen en buiten de eigen organisatie.\",\"description\":\"Maak waardevolle
          da[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:mon-05?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Meten,
          monitoren en rapporteren van milieu-impact van algoritmes","description":"","explanation":"Tref
          bijvoorbeeld de volgende maatregelen, wanneer je de milieu-impact van algoritmes
          gaat inventariseren of monitoren:","urn":"urn:nl:ak:mtr:mon-05","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/7-mon-05-meten-milieu-impact/index.html","subject":["duurzaamheid"],"suggested_roles":["ontwikkelaar","beleid-en-advies","projectleider"],"lifecycle":["ontwerp","monitoring-en-beheer"],"links":[],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:pba-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          het doel van het algoritme","description":"Het doel en de eventuele subdoelen
          van het algoritme moeten zo specifiek mogelijk zijn geformuleerd, en waar
          mogelijk g[...]
[...]
