interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"instruments","path":"instruments","download_url":"https://task-registry.apps.digilab.network/instruments","links":{"self":"https://task-registry.apps.digilab.network/instruments"},"entries":[{"type":"file","size":14009,"name":"technical_docs_for_high_risk_ai.yaml","path":"instruments/technical_docs_for_high_risk_ai.yaml","urn":"urn:nl:aivt:tr:td:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0"}},{"type":"file","size":32897,"name":"iama.yaml","path":"instruments/iama.yaml","urn":"urn:nl:aivt:tr:iama:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0"}},{"type":"file","size":5187,"name":"conformity_assessment_eu_ai_act.yaml","path":"instruments/conformity_assessment_eu_ai_act.yaml","urn":"urn:nl:aivt:tr:ca:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0"}},{"type":"file","size":60271,"name":"aiia.yaml","path":"instruments/aiia.yaml","urn":"urn:nl:aivt:tr:aiia:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0"}}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".assessments[]","schema_version":"1.1.0","name":"Technische
          documentatie voor hoog-risico AI-systemen","description":"De technische documentatie
          van een AI-systeem met een hoog risico wordt opgesteld voordat dit systeem
          in de handel wordt gebracht of in gebruik wordt gesteld.","urn":"urn:nl:aivt:tr:td:1.0","language":"nl","owners":[{"organization":"European
          Union","name":"","email":"","role":""}],"date":"","url":"https://www.europarl.europa.eu/doceo/document/TA-9-2024-0138-FNL-COR01_NL.pdf","template":{"question":"$QUESTION","answer":"$ANSWER","remarks":"$REMARKS","timestamp":"$TIMESTAMP","location":"$LOCATION","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]},"tasks":[{"question":"Wat
          is het beoogde doel van het AI-systeem?","urn":"urn:nl:aivt:tr:td:1.0:1.a.1","labels":[{"key":"topic","value":"Algemene
          beschrijving AI-systeem"}],"type":["open_question"],"suggested_roles":[],"lifecycle":[],"links":[{"text":"DPIA
          vraag 4"},{"urn":"urn:nl:aivt:tr:1.0:1.2.1"},{"systemcard_path":".goal_and_impact","version":">0.1a1"}],"template":{"question":"$QUESTION","answer":"$ANSWER","remarks":"$REMARKS","timestamp":"$TIMESTAMP","location":"$LOCATION","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}},{"question":"Wat
          is de naam van de aanbieder van het AI-systeem?","urn":"urn:nl:aivt:tr:td:1.0:1.a.2","labels":[{"key":"topic","value":"Algemene
          beschrijving AI-systeem"}],"type":["open_question"],"suggested_roles":[],"lifecycle":[],"links":[{"systemcard_path":"[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"Impact
          Assessment Mensenrechten en Algoritmes (IAMA)\",\"description\":\"Het IAMA
          helpt om de risico's voor mensenrechten bij het gebruik van algoritmen in
          kaart te br[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"EU-conformiteitsverklaring
          voor hoog-risico AI-systemen\",\"description\":\"EU-conformiteitsverklaring
          van een AI-systeem met een hoog risico wordt ondertekend door de ontwikkelaa[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"AI
          Impact Assessment (AIIA)\",\"description\":\"Het AI Impact Assessment (AIIA)
          is een hulpmiddel voor het maken van afwegingen bij het inzetten van kunstmatige
          intell[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"requirements","path":"requirements","download_url":"https://task-registry.apps.digilab.network/requirements","links":{"self":"https://task-registry.apps.digilab.network/requirements"},"entries":[{"type":"file","size":2032,"name":"aia-08-transparantie-aan-gebruiksverantwoordelijken.yaml","path":"r[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aia-08?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Hoog-risico-AI-systemen
          zijn op een transparante manier ontwikkeld en ontworpen","description":"AI-systemen
          met een hoog risico worden op zodanige wijze ontworpen en ontwikkeld dat de
          werking ervan voldoende transparant is om gebruiksverantwoordelijken in staat
          te stellen de output van een systeem te interpreteren en op passende wijze
          te gebruiken.\nEen passende soort en mate van transparantie wordt gewaarborgd
          met het oog op de naleving van de relevante verplichtingen van de aanbieder
          en de gebruiksverantwoordelijke zoals uiteengezet in afdeling 3 van Artikel
          13 van de AI verordening.","explanation":"","urn":"urn:nl:ak:ver:aia-08","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/vereisten/aia-08-transparantie-aan-gebruiksverantwoordelijken/index.html","subject":["transparantie"],"lifecycle":["ontwerp","ontwikkelen","monitoring-en-beheer"],"links":["urn:nl:ak:mtr:owp-05","urn:nl:ak:mtr:ver-03","urn:nl:ak:mtr:imp-01","urn:nl:ak:mtr:imp-04","urn:nl:ak:mtr:bespreek_vereiste_met_aanbieder","urn:nl:ak:mtr:creeer_ruimte_voor_samenwerking_in_contract","urn:nl:ak:mtr:leveren_bewijs_onderdeel_beoordeling_inschrijving","urn:nl:ak:mtr:maak_de_vereiste_onderdeel_van_programma_van_eisen","urn:nl:ak:mtr:maak_vereiste_onderdeel_van_contractovereenkomst","urn:nl:ak:mtr:maak_vereisten_voor_algoritmes_en_AI-systemen_onder_van_contractvoorwaarden","urn:nl:ak:mtr:neem_vereiste_op_als_subgunningscriteria","urn:nl:ak:mtr:uitvoeren_audit_voor_naleving_vereiste"],"ai_act_profile":[{"type":["AI-systeem","AI-systeem
          voor algemene doeleinden"],"open_source":[],"risk_category":["hoog-risico
          AI"],"systemic_risk":[],"transparency_obligations":[],"role":["aanbieder"]}],"always_applicable":0,"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:avg-07?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Organisaties
          zijn transparant over het verwerken van persoonsgegevens","description":"De
          verwerking van persoonsgegevens moet transparant zijn.","explanation":"Een
          betr[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:grw-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Algoritmes
          discrimineren niet","description":"Allen die zich in Nederland bevinden, worden
          in gelijke gevallen gelijk behandeld.\nDirecte en indirecte discriminatie
          weg[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:dat-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Databanken
          worden alleen gebruikt met toestemming van de databank-producent\",\"description\":\"Het
          is verboden om zonder goedkeuring van de producent een databank op [...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aut-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Auteursrechten
          zijn beschermd","description":"Auteursrechten mogen niet geschonden worden
          bij het ontwikkelen en gebruiken van algoritmes en AI.","explanation":"","urn":"urn:nl:a[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:woo-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Iedereen
          kan openbare informatie over algoritmes vinden of aanvragen","description":"Een
          bestuursorgaan draagt er zorg voor dat de documenten die het ontvangt, vervaardigt
      [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aia-11?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Hoog-risico-AI-systemen
          zijn voorzien van een kwaliteitsbeheersysteem\",\"description\":\"Aanbieders
          van AI-systemen met een hoog risico voorzien in een systeem voor kwaliteitsbeheer
          dat de naleving van deze verordening waarborgt.\\nDit systeem wordt op systematische
          en ordelijke wijze gedocumenteerd in de vorm van schriftelijke beleidslijnen,
          procedures en instructies en omvat ten minste de aspecten vermeld in artikel
          17 AI-verordening.\",\"explanation\":\"Aanbieders van AI-systemen met een
          hoog risico moeten een kwaliteitsbeheersysteem implementeren om te garanderen
          dat ze voldoen aan de AI-verordening.\\nDit systeem omvat gedocumenteerde
          beleidslijnen, procedures en instructies, en behandelt beknopt de volgende
          aspecten:\\n\\n1. een strategie voor de naleving van de regelgeving, inclusief
          de naleving van de conformiteitsbeoordelingsprocedures en de procedures voor
          het beheer van de wijzigingen van het AI-systeem met een hoog risico;\\n2.
          technieken, procedures en systematische maatregelen die moeten worden toegepast
          voor het ontwerp, de controle van het ontwerp en de verificatie van het ontwerp
          van het AI-systeem met een hoog risico;\\n3. technieken, procedures [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:awb-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Organisaties
          kunnen duidelijk uitleggen waarom en hoe algoritmes leiden tot een besluit","description":"Een
          besluit berust op een deugdelijke motivering\n","explanation":"Een bes[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:bzk-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Impactvolle
          algoritmes en hoog-risico-AI-systemen staan in het Nederlandse Algoritmeregister","description":"Bestuursorganen
          publiceren algoritmes met impact en hoog-risico-AI-sy[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:bio-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Computersystemen
          zijn voldoende beveiligd tegen ongelukken en cyberaanvallen","description":"Informatie
          en informatiesystemen moeten op de juiste manier worden beveiligd.","expla[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:arc-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Informatie
          over algoritmes wordt gedocumenteerd volgens de Archiefwet","description":"Overheidsorganen
          zijn verplicht de onder hen berustende archiefbescheiden in goede, geordend[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"measures","path":"measures","download_url":"https://task-registry.apps.digilab.network/measures","links":{"self":"https://task-registry.apps.digilab.network/measures"},"entries":[{"type":"file","size":2075,"name":"3-dat-03-persoonsgegevens-beschrijven.yaml","path":"measures/3-dat-03-persoonsgegevens-[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-03?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          welke persoonsgegevens het algoritme gebruikt en waarom","description":"Er
          is een overzicht opgesteld welke persoonsgegevens mogen worden verwerkt en
          om welke cat[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:pba-03?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          waarom een algoritme het probleem moet oplossen","description":"","explanation":"-
          Bepaal waarom het gewenst of nodig is om een algoritme in te zetten, en of
          er o[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:neem_vereiste_op_als_subgunningscriteria?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Neem
          de vereiste op als een subgunningscriteria bij gunningscriteria beste prijs-kwaliteitverhouding.","description":"","explanation":"","urn":"urn:nl:ak:mtr:[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:org-03?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          een plan voor het omgaan met risico\u2019s\",\"description\":\"\",\"explanation\":\"\",\"urn\":\"urn:nl:ak:mtr:org-03\",\"language\":\"nl\",\"owners\":[{\"organization\":\"Algoritmekader\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://minbzk.github.io/Algoritmekader/maatregelen/0-org-03-toepassen_risicobeheer/index.html\",\"subject\":[\"governance\"],\"suggested_roles\":[\"projectleider\",\"beleid-en-advies\"],\"lifecycle\":[\"organisatieverantwoordelijkheden\"],\"links\":[\"urn:nl:ak:ver:aia-03\",\"urn:nl:ak:ver:awb-01\"],\"template\":{\"requirement\":\"$REQUIREMENT\",\"remarks\":\"$REMARKS\",\"status\":\"$STATUS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}}"
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:aansprakelijkheidsvoorwaarden_aanbieder_onderdeel_beoordelingsmatrix?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Aansprakelijkheidsvoorwaarden
          worden beoordeeld in de aanbesteding","description":"Maak de aansprakelijkheidsvoorwaarden
         [...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owp-08?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bepaal
          welke documenten voor hoe lang gearchiveerd moeten worden","description":"Stel
          vast welke documenten, (samengesteld geheel van) data/informatie van/in het
          algoritme [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:mon-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Beveilig
          de software\",\"description\":\"\",\"explanation\":\"Er zijn beheersmaatregelen
          die kunnen helpen bij het zorgen voor een goede beveiliging van verschillende
          (software-)componenten van een algoritme of systeem. Hierbij kan worden gedacht
          aan:\\nHet toepassen van wachtwoordbeheer. [Baseline Informatiebeveiliging
          Overheid](https://www.digitaleoverheid.nl/overzicht-van-alle-onderwerpen/cybersecurity/bio-en-ensia/baseline-informatiebeveiliging-overheid/),
          de [NCSC Handreiking voor implementatie van detectieoplossingen](https://www.ncsc.nl/documenten/publicaties/2019/mei/01/handreiking-voor-implementatie-van-detectie-oplossingen)
          en het [Impact Assessment Mensenrechten en Algoritmes](../instrumenten/IAMA.md)[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:imp-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          een openbaar besluit over de inzet van het algoritme","description":"","explanation":"","urn":"urn:nl:ak:mtr:imp-01","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/6-imp-01-politiek-bestuurlijk-besluit/index.html","subject":["governance","transparantie"],"suggested_roles":["projectleider"],"lifecycle":["organisatieverantwoordelijkheden","implementatie"],"links":["urn:nl:ak:ver:awb-01","urn:nl:ak:ver:aia-08","urn:nl:ak:ver:awb-02"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owk-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          een noodplan voor het stoppen van het algoritme","description":"","explanation":"","urn":"urn:nl:ak:mtr:owk-02","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/4-owk-02-stopzetten-gebruik/index.html","subject":["governance","menselijke-controle"],"suggested_roles":["projectleider","ontwikkelaar"],"lifecycle":["ontwikkelen","implementatie"],"links":["urn:nl:ak:ver:aia-18","urn:nl:ak:ver:awb-01","urn:nl:ak:ver:aia-11","urn:nl:ak:ver:grw-01","urn:nl:ak:ver:aia-29","urn:nl:ak:ver:grw-02","urn:nl:ak:ver:aia-19","urn:nl:ak:ver:aia-09","urn:nl:ak:ver:avg-04","urn:nl:ak:ver:aia-24"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:maak_vereisten_voor_algoritmes_en_AI-systemen_onder_van_contractvoorwaarden?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          vereisten voor algoritmes en AI-systemen onderdeel van contractvoorwaarden","description":"","explanation":"","urn":"u[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:ver-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Toets
          het algoritme op bias","description":"","explanation":"","urn":"urn:nl:ak:mtr:ver-01","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/5-ver-02-biasanalyse/index.html","subject":["bias-en-non-discriminatie"],"suggested_roles":["projectleider","beleid-en-advies","ontwikkelaar","jurist"],"lifecycle":["ontwerp","verificatie-en-validatie","monitoring-en-beheer"],"links":["urn:nl:ak:ver:grw-02","urn:nl:ak:ver:aia-29","urn:nl:ak:ver:grw-01"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:maak_vereiste_onderdeel_van_contractovereenkomst?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          de vereiste onderdeel van de contractovereenkomst","description":"","explanation":"","urn":"urn:nl:ak:mtr:maak_vereiste_onderdeel_van_contractove[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:bepalende_invloed_besluit_richting_personen?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bepaal
          of de output bepalende invloed heeft in een besluit richting personen","description":"Ga
          na of het algoritme of AI-systeem bepalende invlo[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:leveren_bewijs_onderdeel_beoordeling_inschrijving?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          het leveren van bewijs voor het voldoen aan de vereiste onderdeel van de beoordeling
          van een inschrijving","description":"","explanati[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:contractuele_afspraken_data_en_artefacten?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Contractuele
          afspraken over data en artefacten\",\"description\":\"Maak (contractuele)
          afspraken met de aanbieder wie eigenaar is van de[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:vaststellen_aanleveren_informatie_technische_documentatie?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Vul
          technische documentatie van aanbieder aan met informatie vanuit de gebruiksverantwoordelijke","description":"Bespreek
          met het p[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:risico-analyse_informatiebeveiliging_leverancier?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Voer
          een risico-analyse met de leverancier uit op het gebied van informatiebeveiliging
          bij een uitbestedingstraject","description":"","explanation":"","urn":"urn:nl:ak:mtr:risico-analyse_informatiebeveiliging_leverancier","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/risico-analyse_informatiebeveiliging_leverancier/index.html","subject":["technische-robuustheid-en-veiligheid","publieke-inkoop"],"suggested_roles":["projectleider"],"lifecycle":["ontwerp","ontwikkelen","verificatie-en-validatie","implementatie","monitoring-en-beheer"],"links":["urn:nl:ak:ver:bio-01"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:leveren_bewijs_niet_schenden_auteursrechten_output?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Bewijs
          laten leveren dat auteursrechten niet worden geschonden met de output\",\"description\":\"Maak
          het al dan niet kunnen le[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:bespreek_vereiste_met_aanbieder?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bespreek
          de vereiste met aanbieder of opdrachtnemer","description":"","explanation":"","urn":"urn:nl:ak:mtr:bespreek_vereiste_met_aanbieder","language":"nl","owners":[[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:leveren_bewijs_niet_schenden_auteursrechten_trainingsdata?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bewijs
          laten leveren dat auteursrechten niet worden geschonden met de trainingsdata","description":"Maak
          het al dan niet kunnen lev[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:omgaan_restrisico's_aanbiede_onderdeel_beoordelingsmaatrix?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Restrisico''s
          met betrekking tot schending auteursrechten zijn inzichtelijk gemaakt","description":"Maak
[...]
