interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"requirements","path":"requirements","download_url":"https://task-registry.rijksapp.nl/requirements","links":{"self":"https://task-registry.rijksapp.nl/requirements"},"entries":[{"type":"file","size":3418,"name":"aia-19-toegankelijkheidseisen.yaml","path":"requirements/aia-19-toegankelijkheidseisen.yaml","urn":"urn:nl:ak:ver:aia-19","download_url":"https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:aia-19","links":{"self":"https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:aia-19"}},{"type":"file","size":9664,"name":"avg-10-recht-op-niet-geautomatiseerde-besluitvorming.yaml","path":"requirements/avg-10-recht-op-niet-geautomatiseerde-besluitvorming.yaml","urn":"urn:nl:ak:ver:avg-10","download_url":"https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:avg-10","lin[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:aia-19?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Hoog-risico-AI-systemen
          voldoen aan de toegankelijkheidseisen.\",\"description\":\"\\nAanbieders van
          AI-systemen met een hoog risico zorgen ervoor dat het AI-systeem met een hoog
          risico voldoet aan de toegankelijkheidseisen overeenkomstig de Richtlijnen
          (EU) 2016/2102 en (EU) 2019/882.\\n\",\"explanation\":\"Gezien het toenemende
          belang en gebruik van AI-systemen moet de toepassing van universele ontwerpbeginselen
          op alle nieuwe technologie\xEBn en diensten zorgen voor volledige en gelijke
          toegang voor iedereen die mogelijk gevolgen ondervindt van of gebruikmaakt
          van AI-technologie\xEBn, met inbegrip van personen met een handicap, op een
          manier waarbij ten volle rekening wordt gehouden met hun inherente waardigheid
          en diversiteit. \\n\\nA[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:avg-10?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Besluiten
          die levens kunnen be\xEFnvloeden, zijn niet volledig geautomatiseerd.\",\"description\":\"\\nBetrokkenen
          hebben het recht om niet onderworpen te worden aan een enkel [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:grw-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Algoritmes
          schenden geen grondrechten of mensenrechten.\",\"description\":\"Fundamentele
          vrijheden, mensenrechten en grondrechten worden beschermd bij de inzet van
          al[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:aia-37?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Klachtrecht
          voor aanbieders verder in AI-waardeketen.\",\"description\":\"\\nAanbieders
          verder in de AI-waardeketen hebben het recht een klacht in te dienen wegens
          inbreuk op de AI verordening bij het AI-bureau.\\n\",\"explanation\":\"Aanbieders
          verder in de AI-waardeketen hebben het recht om een klacht in te dienen bij
          het AI-bureau in het geval van een inbreuk op de AI-verordening.\\n\\nDit
          biedt hen een mechanisme om actie te ondernemen bij schendingen van de regels
          met betrekking tot AI-modellen voor algemene doeleinden die zij ge\xEFntrigeerd
          hebben in AI-systemen.\\n\\nHet AI-bureau kan dan passende maatregelen nemen
          om de naleving van de verordening te handhaven en eventuele geschillen tussen
          aanbieders op te lossen.\\n\\n\\nGebrek aan klachtrecht verhindert het AI-bureau
          om tijdig en zorgvuldig te kunnen ingrijpen bij overtreding van de AI-verordening.\\n\",\"urn\":\"urn:nl:ak:ver:aia-37\",\"language\":\"nl\",\"owners\":[{\"organization\":\"Algoritmekader\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/vereisten/aia-37-recht-klacht-indienen-bij-ai-bureau/index.html\",\"subject\":[\"fundamentele-rechten\"],\"lifecycle\":[\"organisatieverantwoordelijkheden\"],\"links\":[\"urn:nl:ak:mtr:owp-15\",\"urn:nl:ak:mtr:owp-16\",\"urn:nl:ak:mtr:owp-22\",\"urn:nl:ak:mtr:owp-24\",\"urn:nl:ak:mtr:owp-28\",\"urn:nl:ak:mtr:owp-32\"],\"ai_act_profile\":[{\"type\":[],\"open_source\":[],\"risk_group\":[],\"systemic_risk\":[],\"transparency_obligations\":[],\"role\":[],\"conformity_assessment_body\":[]}],\"always_applicable\":0,\"template\":{\"requirement\":\"$REQUIREMENT\",\"remarks\":\"$REMARKS\",\"status\":\"$STATUS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}}"
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:bio-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Computersystemen
          zijn voldoende beveiligd tegen ongelukken en cyberaanvallen","description":"Informatie
          en informatiesystemen moeten op de juiste manier worden beveiligd.\n","explanation"[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:arc-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Informatie
          over algoritmes wordt in goede, geordende en toegankelijke staat gebracht,
          bewaard en vernietigd wanneer nodig.","description":"\nInformatie over algoritmes
          wordt in [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:awb-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Organisaties
          die algoritmes gebruiken voor publieke taken nemen besluiten zorgvuldig.","description":"Organisaties
          die algoritmes gebruiken voor publieke taken nemen besluiten zorgvuldig.[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:woo-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Iedereen
          kan openbare informatie over algoritmes vinden of aanvragen","description":"\nEen
          bestuursorgaan draagt er zorg voor dat de documenten die het ontvangt, vervaardigt
          of [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:aut-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Auteursrechten
          zijn beschermd.","description":"\nAuteursrechten en naburige rechten mogen
          niet geschonden worden bij het ontwikkelen, testen en gebruiken van algoritmes.\n","explanation":[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:dat-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Databanken
          worden alleen gebruikt met toestemming van de databank-producent.\",\"description\":\"Het
          is verboden om zonder goedkeuring van de producent een databank op te vrage[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:bzk-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Impactvolle
          algoritmes en hoog-risico-AI-systemen staan in het Nederlandse Algoritmeregister","description":"Bestuursorganen
          publiceren algoritmes met impact en hoog-risico-AI-systemen in[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:owp-15?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bespreek
          de vereisten die gelden voor een verantwoorde inzet van algoritmes met aanbieders.","description":"\nBespreek
          de vereiste die gelden voor een verantwoorde inzet van algoritmes met ee[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:owp-16?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          vereisten voor algoritmes onderdeel van algemene inkoopvoorwaarden en de contractovereenkomst.","description":"\nMaak
          vereisten voor algoritmes onderdeel van contractvoorwaarden en de contractovereeenkomst.\n","explanation":"-
          Door vereisten die gelden voor algoritmes onderdeel te maken van contractvoorwaarden,
          is voor een aanbieder vooraf duidelijk aan welke voorwaarden zij moeten voldoen
          als zijn algoritmes willen aanbieden aan overheidsorganisaties.\n- Het is
          van belang om een afweging te maken welke vereisten voor algoritmes als [''algemene
          contractvoorwaarden''](../hulpmiddelen/inkoopvoorwaarden.md) kunnen gelden
          en welke aanvullend in een contractovereenkomst moeten worden opgenomen.\n","urn":"urn:nl:ak:mtr:owp-16","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/2-owp-16-vereisten-onderdeel-algemene-inkoopvoorwaarden-en-contractovereenkomst/index.html","subject":["publieke-inkoop","transparantie"],"suggested_roles":["projectleider","beleid-en-advies"],"lifecycle":["ontwerp"],"links":["urn:nl:ak:ver:aia-01","urn:nl:ak:ver:aia-02","urn:nl:ak:ver:aia-03","urn:nl:ak:ver:aia-04","urn:nl:ak:ver:aia-05","urn:nl:ak:ver:aia-06","urn:nl:ak:ver:aia-07","urn:nl:ak:ver:aia-08","urn:nl:ak:ver:aia-09","urn:nl:ak:ver:aia-10","urn:nl:ak:ver:aia-11","urn:nl:ak:ver:aia-12","urn:nl:ak:ver:aia-13","urn:nl:ak:ver:aia-14","urn:nl:ak:ver:aia-15","urn:nl:ak:ver:aia-16","urn:nl:ak:ver:aia-17","urn:nl:ak:ver:aia-18","urn:nl:ak:ver:a[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:imp-03?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Richt
          de juiste menselijke controle in van het algoritme\",\"description\":\"Richt
          (technische) controlemechanismen in voor menselijke tussenkomst (of: menselijke
          control[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:owk-03?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Analyseer
          de privacy-risico\u2019s en neem maatregelen om deze risico\u2019s laag te
          houden\",\"description\":\"Uitvoeren risicoanalyse en formuleren mitigerende
          maatrege[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:ver-03?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Toets
          het algoritme op bias\",\"description\":\"Analyseer of het gebruik van het
          algoritme of het proces daaromheen leidt tot onwenselijke of onrechtmatige
          verschillen in[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:dat-04?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bescherm
          persoonsgegevens door data te anonimiseren, pseudonimiseren of te aggregeren","description":"\nPas
          maatregelen toe als pseudonimiseren, anonimisering of aggregeren van persoonsgegeve[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:mon-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Beveilig
          de software\",\"description\":\"Zorg voor een goede beveiliging van de verschillende
          softwarecomponenten van een algoritme.\\nBepaal of de data voldoende is beveiligd
    [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:org-11?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          afspraken over het beheer van gebruikers\",\"description\":\"\\nRicht gebruikersbeheer
          in, waarmee bepaald wordt wie toegang heeft tot wat, en wat er bijvoorbeeld
          ge[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:uit-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Bij
          uitfaseren en doorontwikkeling wordt correct omgegaan met data en modelinformatie.\",\"description\":\"Verwijder
          bij [uitfasering](https://minbzk.github.io/Algoritmekader/leven[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:pba-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          het probleem dat het algoritme moet oplossen","description":"Formuleer en
          documenteer wat de aanleiding is om een algoritme in te willen zetten. \nFormuleer
          duidelijk de p[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:imp-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Stel
          een werkinstructie op voor gebruikers.\",\"description\":\"Stel een werkinstructie
          op voor gebruikers zodat zij weten hoe het algoritme correct gebruikt kan
          worden en hoe ze om kunnen gaan met de (veiligheids)risico's. \\n\",\"explanation\":\"Het
          is belangrijk dat gebruikers een werkinstructie ontvangen met informatie over
          hoe zij met het algoritme kunnen en moeten werken. Hierin worden zaken beschreven
          als:\\n\\n- Op wat voor manier het algoritme ondersteunt bij het uitvoeren
          van (wettelijke) taken en hoe het past in de werkwijze. \\n- Wat de mogelijkheden
          en beperkingen zijn bij het gebruik van het algoritme. Op welke manieren mag
          het algoritme gebruikt worden? En op welke manieren niet?\\n- Welke informatie
          mag er worden ingevoerd in het systeem? En welke informatie niet?\\n- Wat
          de impact is van het gebruik van het algoritme op de samenleving en[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:mon-05?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          een evaluatieplan voor tijdens het gebruik van het algoritme\",\"description\":\"Maak
          een evaluatieplan voor wanneer het algoritme in gebruik is. \\nDit plan bevat
          wanneer, wat en hoe er ge\xEBvalueerd dient te worden om te valideren of het
          model nog in lijn is met de [vastgestelde doelstelling](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/1-pba-02-formuleren-doelstelling/index.html).
          \\n\",\"explanation\":\"Het evaluatieplan moet aangeven op welke momenten
          er wordt ge\xEBvalueerd, wat er opnieuw wordt ge\xEBvalueerd en hoe dat wordt
          gedaan. \\n\\nVoor het opstellen van het evaluatieplan zijn de volgende stappen
          nodig:\\n\\n1. [Bepaal of periodieke controle noodzakelijk is](#bepaal-of-periodieke-controle-noodzakelijk-is)\\n2.
          [Bepaal bij welke gebeurtenissen het algoritme ge\xEBvalueerd moet worden](#bepaal-bij-welke-gebeurtenissen-het-algoritme-geevalueerd-moet-worden)\\n3.
          [Bepaal wat er ge\xEBvalueerd moet worden](#bepaal-wat-er-geevalueerd-moet-worden)\\n\\n###
          Bepaal of periodieke controle noodzakelijk is\\nStel vast of er periodieke
          momenten zijn vanuit bijvoorbee[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:dat-08?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Zorg
          dat je controle of eigenaarschap hebt over de data","description":"De organisatie
          heeft volledige controle of eigenaarschap over de data. Wanneer dit niet mogelijk
          is, zijn afspraken gemaakt om de functionele eisen te waarborgen.\n","explanation":"Wanneer
          een algoritme ontwikkeld of ingekocht wordt, is het belangrijk om [toegang
          tot de gebruikte data](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/3-dat-02-fair-data/index.html)
          goed te regelen.\nMaak bijvoorbeeld afspraken over wie ervoor zorgt dat de
          data:\n\n- op een centrale plek beschikbaar wordt gesteld\n- van voldoende
          [kwaliteit](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/3-dat-01-datakwaliteit/index.html)
          is\n- goed beveiligd is\n\nWanneer een algoritme wordt ontwikkeld door een
          derde partij en dus niet wordt beheerd door de eigen organisatie, maak je
          duidelijke afspraken over eigenaarschap van de data. Dat geldt zowel voor
          de inputdata als de outputdat[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl//requirements/
    response:
      body:
        string: '{"detail":"Not Found"}'
      headers:
        content-type:
          - application/json
      status:
        code: 404
        message: Not Found
[...]
