interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:pba-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          het doel van het algoritme","description":"Het doel en de eventuele subdoelen
          van het algoritme moeten zo specifiek mogelijk zijn geformuleerd, en waar
          mogelijk gekwantificeerd. \nMaak de consequenties van het algoritme specifiek
          en zorg dat het doel van het algoritme formeel is vastgesteld en vastgelegd.
          ","explanation":"- Het doel van de inzet van een algoritme dient zo concreet
          en specifiek mogelijk gedefinieerd te worden. \nIndien er meerdere doelen
          zijn, is het belangrijk om een zekere rangorde te maken: wat zijn de belangrijkste
          doelen? En waarom?\nWelke doelen zijn subdoelen, waarvoor het minder belangrijk
          is om deze te realiseren?\n\n- Indien mogelijk, dienen de doelstellingen gekwantificeerd
          te worden (SMART). \n\n- Om te zorgen voor voldoende draagvlak voor de beoogde
          doelen, is het noodzaak om [voldoende belanghebbenden te betrekken](1-pba-04-betrek-belanghebbenden.md).
          \nHierbij kan het ook helpen om burgers te betrekken bij de totstandkoming
          van de doelstellingen, bijvoorbeeld door middel van een burgerpanel of het
          betrekken van belangengroepen. ","urn":"urn:nl:ak:mtr:pba-02","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/1-pba-02-formuleren-doelstelling/index.html","subject":["governance","transparantie"],"suggested_roles":["projectleider"],"lifecycle":["probleemanalyse"],"links":["urn:nl:ak:ver:awb-01"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owp-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          de rollen en verantwoordelijkheden voor het ontwikkelen en gebruiken van algoritmes","description":"","explanation":"","urn":"urn:nl:ak:mtr:owp-01","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/2-owp-01-rollen-en-verantwoordelijkheden/index.html","subject":["governance"],"suggested_roles":["projectleider"],"lifecycle":["ontwerp","implementatie","monitoring-en-beheer"],"links":["urn:nl:ak:ver:avg-06","urn:nl:ak:ver:awb-01"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:org-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bepaal
          of er genoeg experts beschikbaar zijn","description":"","explanation":"","urn":"urn:nl:ak:mtr:org-01","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/0-org-01-benodigde-expertise-en-capaciteit/index.html","subject":["governance"],"suggested_roles":["projectleider","beleid-en-advies"],"lifecycle":["organisatieverantwoordelijkheden"],"links":["urn:nl:ak:ver:awb-01","urn:nl:ak:ver:aia-21"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:imp-03?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Richt
          de juiste menselijke controle in van het algoritme\",\"description\":\"\",\"explanation\":\"Algoritmes
          ondersteunen vaak beslissingen en besluitvorming van overheids[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owk-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          een noodplan voor het stoppen van het algoritme","description":"","explanation":"","urn":"urn:nl:ak:mtr:owk-02","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/4-owk-02-stopzetten-gebruik/index.html","subject":["governance","menselijke-controle"],"suggested_roles":["projectleider","ontwikkelaar"],"lifecycle":["ontwikkelen","implementatie"],"links":["urn:nl:ak:ver:aia-18","urn:nl:ak:ver:awb-01","urn:nl:ak:ver:aia-11","urn:nl:ak:ver:grw-01","urn:nl:ak:ver:aia-27","urn:nl:ak:ver:grw-02","urn:nl:ak:ver:aia-19","urn:nl:ak:ver:aia-09","urn:nl:ak:ver:avg-04","urn:nl:ak:ver:aia-22"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:ver-03?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Controleer
          regelmatig of het algoritme voldoet aan alle wetten en regels en het eigen
          beleid","description":"","explanation":"","urn":"urn:nl:ak:mtr:ver-03","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/5-ver-03-vertaling-wetgeving-naar-systeem/index.html","subject":["governance","transparantie"],"suggested_roles":["jurist"],"lifecycle":["verificatie-en-validatie"],"links":["urn:nl:ak:ver:awb-01","urn:nl:ak:ver:aia-08","urn:nl:ak:ver:awb-02","urn:nl:ak:ver:aia-05"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-08?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Zorg
          dat je controle of eigenaarschap hebt over de data","description":"","explanation":"","urn":"urn:nl:ak:mtr:dat-08","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/3-dat-08-eigenaarschap-data/index.html","subject":["data","publieke-inkoop"],"suggested_roles":["projectleider"],"lifecycle":["dataverkenning-en-datapreparatie"],"links":["urn:nl:ak:ver:aia-05","urn:nl:ak:ver:dat-01","urn:nl:ak:ver:aut-01"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:mon-04?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Monitor
          regelmatig op veranderingen in de data. Bij veranderingen evalueer je de prestaties
          en output van het algoritme.","description":"","explanation":"","urn":"urn:nl:ak:mtr:mon-04","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/7-mon-04-evalueer-bij-veranderingen-in-data/index.html","subject":["data","technische-robuustheid-en-veiligheid"],"suggested_roles":["ontwikkelaar"],"lifecycle":["monitoring-en-beheer"],"links":["urn:nl:ak:ver:aia-05","urn:nl:ak:ver:aia-11","urn:nl:ak:ver:aia-10","urn:nl:ak:ver:avg-05"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: http://testserver/algorithm/1/details/system_card/requirements
    response:
      body:
        string:
          "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n
          \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n
          \   <link rel=\"icon\" type=\"image/x-icon\" href=\"/static/favicon.ico?etag=668376cacf56da58c12b7bcd12edcebb\">\n
          \   <title>\n        testalgorithm1 | AMT\n    </title>\n    \n    \n        \n
          \         <script type=\"text/javascript\" src=\"/static/dist/amt.js?etag=159e9e0725bca2bd1131f28bf8a323d3\"></script>\n
          \       \n    \n        \n          <script type=\"module\" src=\"/static/dist/@nl-rvo/design-tokens/index.mjs?etag=c83f3139b2f59c9b6c2cd8f1e1da2312\"></script>\n
          \       \n    \n    <script type=\"text/javascript\" src=\"/static/vendor/htmx/js/json-enc.js?etag=63e6601589d97b27e989c0f87240befc\"></script>\n
          \   <script type=\"text/javascript\" src=\"/static/vendor/[...]
