interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"Impact
          Assessment Mensenrechten en Algoritmes (IAMA)\",\"description\":\"Het IAMA
          helpt om de risico's voor mensenrechten bij het gebruik van algoritmen in
          kaart te brengen en maatregelen te nemen om deze aan te pakken.\",\"urn\":\"urn:nl:aivt:tr:iama:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.rijksoverheid.nl/documenten/rapporten/2021/02/25/impact-assessment-mensenrechten-en-algoritmes\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"Licht
          uw voorstel voor het gebruik/de inzet van een algoritme toe. Wat is de aanleiding
          hiervoor geweest? Voor welk probleem moet het algoritme een oplossing bieden?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.1.1\",\"labels\":[{\"key\":\"topic\",\"value\":\"Aanleiding
          en probleemdefinitie\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Behoeftesteller\",\"Gemandateerd
          verantwoordelijke(n)\",\"Projectleider\",\"Domeinspecialist\",\"Gebruiker\"],\"lifecycle\":[\"Probleemanalyse\"],\"links\":[{\"text\":\"DPIA
          vraag 1\"},{\"urn\":\"urn:nl:aivt:tr:aiia:1.0:1.1\"}],\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"Wat
          is het doel dat bereikt dient te worden met de inzet van het algoritme? Wat
          is hierbij het hoofddoel en wat zijn subdoelen?\",\"urn\":\"urn:nl:aivt:tr:iama:1.0:1.2.1\",\"lab[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"AI
          Impact Assessment (AIIA)\",\"description\":\"Het AI Impact Assessment (AIIA)
          is een hulpmiddel voor het maken van afwegingen bij het inzetten van kunstmatige
          intell[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aia-05?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Datasets
          voor Hoog-risico-AI-systemen voldoen aan kwaliteitscriteria","description":"AI-systemen
          met een hoog risico die technieken gebruiken die het trainen van AI-modellen
          met data omvatten, worden ontwikkeld op basis van datasets voor training,
          validatie en tests die voldoen aan de kwaliteitscriteria telkens wanneer dergelijke
          datasets worden gebruikt.","explanation":"","urn":"urn:nl:ak:ver:aia-05","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/vereisten/aia-05-data-kwaliteitscriteria/index.html","subject":["data"],"lifecycle":["dataverkenning-en-datapreparatie","verificatie-en-validatie"],"links":["urn:nl:ak:mtr:org-02","urn:nl:ak:mtr:owp-02","urn:nl:ak:mtr:dat-01","urn:nl:ak:mtr:ver-03","urn:nl:ak:mtr:bespreek_vereiste_met_aanbieder","urn:nl:ak:mtr:creeer_ruimte_voor_samenwerking_in_contract","urn:nl:ak:mtr:leveren_bewijs_onderdeel_beoordeling_inschrijving","urn:nl:ak:mtr:maak_de_vereiste_onderdeel_van_programma_van_eisen","urn:nl:ak:mtr:maak_vereiste_onderdeel_van_contractovereenkomst","urn:nl:ak:mtr:maak_vereiste_onderdeel_van_service_level_agreement","urn:nl:ak:mtr:maak_vereisten_voor_algoritmes_en_AI-systemen_onder_van_contractvoorwaarden","urn:nl:ak:mtr:neem_vereiste_op_als_subgunningscriteria","urn:nl:ak:mtr:uitvoeren_audit_voor_naleving_vereiste"],"ai_act_profile":[{"type":["AI-systeem","AI-systeem
          voor algemene doeleinden"],"open_source":[],"risk_category":["hoog-risico
          AI"],"systemic_risk":[],"transparency_obligations":[],"role":["aanbieder"]}],"always_applicable":0,"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:awb-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Organisaties
          die algoritmes gebruiken voor publieke taken gaan zorgvuldig te werk","description":"De
          ontwikkeling en het gebruik van algoritmes en AI-systemen komt zorgvuldig
   [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:avg-03?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Persoonsgegevens
          worden zo min mogelijk verwerkt\",\"description\":\"De verwerking van persoonsgegevens
          moet minimaal worden gehouden, dat wil zeggen dat die verwerkin[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aut-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Auteursrechten
          zijn beschermd","description":"Auteursrechten mogen niet geschonden worden
          bij het ontwikkelen en gebruiken van algoritmes en AI.","explanation":"","urn":"urn:nl:a[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:arc-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Informatie
          over algoritmes wordt gedocumenteerd volgens de Archiefwet","description":"Overheidsorganen
          zijn verplicht de onder hen berustende archiefbescheiden in goede, geordend[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:bzk-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Impactvolle
          algoritmes en hoog-risico-AI-systemen staan in het Nederlandse Algoritmeregister","description":"Bestuursorganen
          publiceren algoritmes met impact en hoog-risico-AI-sy[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:grw-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Algoritmes
          schenden geen grondrechten of mensenrechten\",\"description\":\"Fundamentele
          vrijheden, mensenrechten en grondrechten worden beschermd bij de inzet van
    [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:bio-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Computersystemen
          zijn voldoende beveiligd tegen ongelukken en cyberaanvallen","description":"Informatie
          en informatiesystemen moeten op de juiste manier worden beveiligd.","expla[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:woo-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Iedereen
          kan openbare informatie over algoritmes vinden of aanvragen","description":"Een
          bestuursorgaan draagt er zorg voor dat de documenten die het ontvangt, vervaardigt
      [...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:dat-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Databanken
          worden alleen gebruikt met toestemming van de databank-producent\",\"description\":\"Het
          is verboden om zonder goedkeuring van de producent een databank op [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:org-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bepaal
          of er genoeg experts beschikbaar zijn","description":"","explanation":"","urn":"urn:nl:ak:mtr:org-01","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/0-org-01-benodigde-expertise-en-capaciteit/index.html","subject":["governance"],"suggested_roles":["projectleider","beleid-en-advies"],"lifecycle":["organisatieverantwoordelijkheden"],"links":["urn:nl:ak:ver:awb-01"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owp-03?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Beschrijf
          voor welk doel het algoritme persoonsgegevens gebruikt en waarom dit mag\",\"description\":\"Het
          doel voor het verwerken van persoonsgegevens met een algoritme o[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:ver-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Controleer
          regelmatig of het algoritme werkt zoals het bedoeld is","description":"","explanation":"","urn":"urn:nl:ak:mtr:ver-01","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/5-ver-01-functioneren-in-lijn-met-doeleinden/index.html","subject":["technische-robuustheid-en-veiligheid","bias-en-non-discriminatie"],"suggested_roles":["projectleider","ontwikkelaar"],"lifecycle":["ontwikkelen","verificatie-en-validatie","monitoring-en-beheer"],"links":["urn:nl:ak:ver:awb-01","urn:nl:ak:ver:aia-10"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:pba-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          het probleem dat het algoritme moet oplossen","description":"","explanation":"","urn":"urn:nl:ak:mtr:pba-01","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/1-pba-01-formuleren-probleemdefinitie/index.html","subject":["governance","menselijke-controle"],"suggested_roles":["projectleider"],"lifecycle":["probleemanalyse"],"links":["urn:nl:ak:ver:awb-01"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:imp-04?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Publiceer
          impactvolle algoritmes en hoog-risico-AI-systemen in het Algoritmeregister","description":"Publiceer
          het algoritme  in het [Nederlandse Algoritmeregister](../hulpmiddelen/algoritmeregister.md).  ","explanation":"","urn":"urn:nl:ak:mtr:imp-04","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/6-imp-04-publiceren-algoritmeregister/index.html","subject":["transparantie"],"suggested_roles":["projectleider","beleid-en-advies"],"lifecycle":["implementatie","monitoring-en-beheer"],"links":["urn:nl:ak:ver:bzk-01","urn:nl:ak:ver:aia-08","urn:nl:ak:ver:avg-07","urn:nl:ak:ver:awb-01"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owk-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          een noodplan voor het stoppen van het algoritme","description":"","explanation":"","urn":"urn:nl:ak:mtr:owk-02","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/4-owk-02-stopzetten-gebruik/index.html","subject":["governance","menselijke-controle"],"suggested_roles":["projectleider","ontwikkelaar"],"lifecycle":["ontwikkelen","implementatie"],"links":["urn:nl:ak:ver:aia-18","urn:nl:ak:ver:awb-01","urn:nl:ak:ver:aia-11","urn:nl:ak:ver:grw-01","urn:nl:ak:ver:aia-29","urn:nl:ak:ver:grw-02","urn:nl:ak:ver:aia-19","urn:nl:ak:ver:aia-09","urn:nl:ak:ver:avg-04","urn:nl:ak:ver:aia-24"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:uitvoeren_audit_voor_naleving_vereiste?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Neem
          het kunnen uitvoeren van een audit over de vereiste op in contractvoorwaarden
          en de contractovereenkomst","description":"","explanation":"","urn"[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:maak_vereisten_voor_algoritmes_en_AI-systemen_onder_van_contractvoorwaarden?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          vereisten voor algoritmes en AI-systemen onderdeel van contractvoorwaarden","description":"","explanation":"","urn":"u[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:maak_de_vereiste_onderdeel_van_programma_van_eisen?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          de vereiste onderdeel van het programma van eisen","description":"","explanation":"","urn":"urn:nl:ak:mtr:maak_de_vereiste_onderdeel_van_progra[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:creeer_ruimte_voor_samenwerking_in_contract?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Cre\xEBer
          ruimte in het contract om opdrachtgever en aanbieder/opdrachtnemer te laten
          samenwerken om deze vereiste te realiseren.\",\"[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:maak_vereiste_onderdeel_van_contractovereenkomst?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          de vereiste onderdeel van de contractovereenkomst","description":"","explanation":"","urn":"urn:nl:ak:mtr:maak_vereiste_onderdeel_van_contractove[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:bespreek_vereiste_met_aanbieder?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bespreek
          de vereiste met aanbieder of opdrachtnemer","description":"","explanation":"","urn":"urn:nl:ak:mtr:bespreek_vereiste_met_aanbieder","language":"nl","owners":[[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:leveren_bewijs_onderdeel_beoordeling_inschrijving?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          het leveren van bewijs voor het voldoen aan de vereiste onderdeel van de beoordeling
          van een inschrijving","description":"","explanati[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:maak_vereiste_onderdeel_van_service_level_agreement?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          de vereiste onderdeel van Service Level Agreement","description":"","explanation":"","urn":"urn:nl:ak:mtr:maak_vereiste_onderdeel_van_service_[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:neem_vereiste_op_als_subgunningscriteria?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Neem
          de vereiste op als een subgunningscriteria bij gunningscriteria beste prijs-kwaliteitverhouding.","description":"","explanation":"","urn":"urn:nl:ak:mtr:[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Controleer
          de datakwaliteit","description":"","explanation":"","urn":"urn:nl:ak:mtr:dat-01","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/maatregelen/3-dat-01-datakwaliteit/index.html","subject":["data"],"suggested_roles":["ontwikkelaar"],"lifecycle":["dataverkenning-en-datapreparatie"],"links":["urn:nl:ak:ver:avg-05","urn:nl:ak:ver:aia-05"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:mon-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Beveilig
          de software\",\"description\":\"\",\"explanation\":\"Er zijn beheersmaatregelen
          die kunnen helpen bij het zorgen voor een goede beveiliging van verschillende
          (software-)componenten van een algoritme of systeem. Hierbij kan worden gedacht
          aan:\\nHet toepassen van wachtwoordbeheer. [Baseline Informatiebeveiliging
          Overheid](https://www.digitaleoverheid.nl/overzicht-van-alle-onderwerpen/cybersecurity/bio-en-ensia/baseline-informatiebeveiliging-overheid/),
          de [NCSC Handreiking voor implementatie van detectieoplossingen](https://www.ncsc.nl/documenten/publicaties/2019/mei/01/handreiking-voor-implementatie-van-detectie-oplossingen)
          en het [Impact Assessment Mensenrechten en Algoritmes](../instrumenten/IAMA.md)[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:aansprakelijkheidsvoorwaarden_aanbieder_onderdeel_beoordelingsmatrix?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Aansprakelijkheidsvoorwaarden
          worden beoordeeld in de aanbesteding","description":"Maak de aansprakelijkheidsvoorwaarden
         [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:leveren_bewijs_niet_schenden_auteursrechten_trainingsdata?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bewijs
          laten leveren dat auteursrechten niet worden geschonden met de trainingsdata","description":"Maak
          het al dan niet kunnen lev[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:contractuele_afspraken_data_en_artefacten?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Contractuele
          afspraken over data en artefacten\",\"description\":\"Maak (contractuele)
          afspraken met de aanbieder wie eigenaar is van de[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:leveren_bewijs_niet_schenden_auteursrechten_output?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Bewijs
          laten leveren dat auteursrechten niet worden geschonden met de output\",\"description\":\"Maak
          het al dan niet kunnen le[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:omgaan_restrisico's_aanbiede_onderdeel_beoordelingsmaatrix?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Restrisico''s
          met betrekking tot schending auteursrechten zijn inzichtelijk gemaakt","description":"Maak
          in de beoordelingsmatrix,[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:schending_auteursrechten_trainingsdata_onderdeel_conceptovereenkomst?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Garantie
          in conceptovereenkomst dat auteursrechten niet worden geschonden met de trainingsdata","description":"Neem
          in d[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:getroffen_maatregelen_van_aanbieder_voorkomen_schending_auteursrechten?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Verken
          maatregelen van aanbieder om schending auteursrechten te voorkomen","description":"Verken
          of aanbieder maatrege[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:schending_auteursrechten_output_onderdeel_conceptovereenkomst?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Garantie
          in conceptovereenkomst dat aanbieder auteursrechten niet schendt met de output","description":"Neem
          in de conceptovere[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:bepalende_invloed_besluit_richting_personen?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Bepaal
          of de output bepalende invloed heeft in een besluit richting personen","description":"Ga
          na of het algoritme of AI-systeem bepalende invlo[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:menselijke_tussenkomst_projectplan_en_dchargedocument?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Menselijke
          tussenkomst is een vast onderdeel in een projecptlan of een d\xE9chargedocument\",\"description\":\"Neem
          het elem[...]
[...]
