interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"instruments","path":"instruments","download_url":"https://task-registry.apps.digilab.network/instruments","links":{"self":"https://task-registry.apps.digilab.network/instruments"},"entries":[{"type":"file","size":32897,"name":"iama.yaml","path":"instruments/iama.yaml","urn":"urn:nl:aivt:tr:iama:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:iama:1.0"}},{"type":"file","size":60271,"name":"aiia.yaml","path":"instruments/aiia.yaml","urn":"urn:nl:aivt:tr:aiia:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:aiia:1.0"}},{"type":"file","size":5187,"name":"conformity_assessment_eu_ai_act.yaml","path":"instruments/conformity_assessment_eu_ai_act.yaml","urn":"urn:nl:aivt:tr:ca:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0"}},{"type":"file","size":14009,"name":"technical_docs_for_high_risk_ai.yaml","path":"instruments/technical_docs_for_high_risk_ai.yaml","urn":"urn:nl:aivt:tr:td:1.0","download_url":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0","links":{"self":"https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0"}}]}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:ca:1.0?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".assessments[]\",\"schema_version\":\"1.1.0\",\"name\":\"EU-conformiteitsverklaring
          voor hoog-risico AI-systemen\",\"description\":\"EU-conformiteitsverklaring
          van een AI-systeem met een hoog risico wordt ondertekend door de ontwikkelaar
          voordat dit systeem in de handel wordt gebracht of in gebruik wordt gesteld.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0\",\"language\":\"nl\",\"owners\":[{\"organization\":\"European
          Union\",\"name\":\"\",\"email\":\"\",\"role\":\"\"}],\"date\":\"\",\"url\":\"https://www.europarl.europa.eu/doceo/document/TA-9-2024-0138-FNL-COR01_NL.pdf\",\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"location\":\"$LOCATION\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]},\"tasks\":[{\"question\":\"De
          naam en het type van het AI-systeem, evenals eventuele aanvullende ondubbelzinnige
          verwijzingen waarmee het AI-systeem kan worden ge\xEFdentificeerd en getraceerd.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0:1.0\",\"labels\":[{\"key\":\"topic\",\"value\":\"EU-conformiteitsverklaring\"}],\"type\":[\"open_question\"],\"suggested_roles\":[\"Projectleider\",\"Aanbieder\"],\"lifecycle\":[],\"links\":[{\"systemcard_path\":\".name\",\"version\":\">0.1a1\"},{\"systemcard_path\":\".description\",\"version\":\">0.1a1\"}],\"template\":{\"question\":\"$QUESTION\",\"answer\":\"$ANSWER\",\"remarks\":\"$REMARKS\",\"timestamp\":\"$TIMESTAMP\",\"location\":\"$LOCATION\",\"authors\":[{\"name\":\"$AUTHOR.NAME\",\"email\":\"$AUTHOR.EMAIL\",\"role\":\"$AUTHOR.ROLE\"}]}},{\"question\":\"De
          naam en het adres van de aanbieder en, indien van toepassing, zijn gemachtigde.\",\"urn\":\"urn:nl:aivt:tr:ca:1.0:2.0\",\"labels\":[{\"key\":\"topic\",\"[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/instruments/urn/urn:nl:aivt:tr:td:1.0?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".assessments[]","schema_version":"1.1.0","name":"Technische
          documentatie voor hoog-risico AI-systemen","description":"De technische documentatie
          van een AI-systeem met een hoog risico wordt opgesteld voordat dit systeem
          in de handel wordt gebracht of in gebruik wordt gesteld.","urn":"urn:nl:aivt:tr:td:1.0","language":"nl","owners":[{"organization":"European
          Union","name":"","email":"","role":""}],"date":"","url":"https://www.europarl.europa.eu/doceo/document/TA-9-2024-0138-FNL-COR01_NL.pdf","template":{"question":"$QUESTION","answer":"$ANSWER","remarks":"$REMARKS","timestamp":"$TIMESTAMP","location":"$LOCATION","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]},"tasks":[{"question":"Wat
          is het beoogde doel van het AI-systeem?","urn":"urn:nl:aivt:tr:td:1.0:1.a.1","labels":[{"key":"topic","value":"Algemene
          beschrijving AI-systeem"}],"type":["open_question"],"suggested_roles":[],"lifecycle":[],"links":[{"text":"DPIA
          vraag 4"},{"urn":"urn:nl:aivt:tr:1.0:1.2.1"},{"systemcard_path":".goal_and_impact","version":">0.1a1"}],"template":{"question":"$QUESTION","answer":"$ANSWER","remarks":"$REMARKS","timestamp":"$TIMESTAMP","location":"$LOCATION","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}},{"question":"Wat
          is de naam van de aanbieder van het AI-systeem?","urn":"urn:nl:aivt:tr:td:1.0:1.a.2","labels":[{"key":"topic","value":"Algemene
          beschrij[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"requirements","path":"requirements","download_url":"https://task-registry.apps.digilab.network/requirements","links":{"self":"https://task-registry.apps.digilab.network/requirements"},"entries":[{"type":"file","size":3418,"name":"aia-19-toegankelijkheidseisen.yaml","path":"requirements/aia-19-toe[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:avg-13?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Een
          gegevensbeschermingseffectbeoordeling (DPIA) is verplicht, indien een verwerking
          van persoonsgegevens waarschijnlijk een hoog risico inhoudt voor de rechten
          en vrijheden van natuurlijke personen.\",\"description\":\"Een [gegevensbeschermingseffectbeoordeling
          (DPIA)](../hulpmiddelen/DPIA.md) is verplicht, indien een verwerking van persoonsgegevens
          waarschijnlijk een hoog risico inhoudt voor de rechten en vrijheden van natuurlijke
          personen.\\n\",\"explanation\":\"Een Gegevensbeschermingseffectbeoordeling
          (GEB) of [Data Protection Impact Assessment (DPIA)](../hulpmiddelen/DPIA.md)
          is verplicht wanneer de verwerking van persoonsgegevens waarschijnlijk een
          hoog risico met zich meebrengt voor de rechten en vrijheden van natuurlijke
          personen. \\n\\nDeze beoordeling identificeert en beperkt potenti\xEBle risico's
          en zorgt ervoor dat passende maatregelen worden genomen om de privacy van
          individuen te[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aia-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beoordeling
          als niet ''hoog-risico-AI-systeem'' is gedocumenteerd.","description":"Beoordeling
          als niet ''hoog-risico-AI-systeem'' is gedocumenteerd.\n","explanation":"Een
      [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:avg-05?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Persoonsgegevens
          zijn juist en actueel.","description":"\nPersoonsgegevens zijn juist en actueel.\n","explanation":"De
          te verwerken persoonsgegevens moeten nauwkeurig, juist en zo nodig actueel
          zijn.\nDit betekent dat alle maatregelen moeten worden genomen om ervoor te
          zorgen dat onjuiste persoonsgegevens worden gerectificeerd of gewist.\n\nDat
          kan betekenen dat persoonsgegevens moeten worden geactualiseerd of verbeterd.
          In de context van algoritmes is het van belang dat ook daar wordt onderzocht
          welke maatregelen nodig zijn om die [juistheid](../maatregelen/2-owp-11-gebruikte-data.md)
          toe te passen.\n\n\nAls er geen rekening wordt gehouden met de juistheid,
          nauwkeurigheid en volledigheid van persoonsgegevens, kunnen kwaliteit en integriteit
          van data niet voldoende worden gewaarborgd.\n","urn":"urn:nl:ak:ver:avg-05","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/vereisten/avg-05-juistheid-en-actualiteit-van-persoonsgegevens/index.html","subject":["privacy-en-gegevensbescherming"],"lifecycle":["dataverkenning-en-datapreparatie"],"links":["urn:nl:ak:mtr:owp-12","urn:nl:ak:mtr:owp-13","urn:nl:ak:mtr:owp-19","urn:nl:ak:mtr:owp-21","urn:nl:ak:mtr:owp-25","urn:nl:ak:mtr:dat-01","urn:nl:ak:mtr:mon-04"],"ai_act_profile":[{"type":[],"open_source":[],"risk_group":[],"systemic_risk":[],"transparency_obligations":[],"role":[],"conformity_assessment_body":[]}],"always_applicable":1,"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:arc-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Informatie
          over algoritmes wordt in goede, geordende en toegankelijke staat gebracht,
          bewaard en vernietigd wanneer nodig.","description":"\nInformatie over algoritmes
          [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:bio-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Computersystemen
          zijn voldoende beveiligd tegen ongelukken en cyberaanvallen","description":"Informatie
          en informatiesystemen moeten op de juiste manier worden beveiligd.\n","exp[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:grw-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Algoritmes
          schenden geen grondrechten of mensenrechten.\",\"description\":\"Fundamentele
          vrijheden, mensenrechten en grondrechten worden beschermd bij de inzet van
   [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:awb-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Organisaties
          kunnen duidelijk uitleggen waarom en hoe algoritmes leiden tot een besluit","description":"Een
          besluit berust op een deugdelijke en kenbare motivering.\n","explanati[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:bzk-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Impactvolle
          algoritmes en hoog-risico-AI-systemen staan in het Nederlandse Algoritmeregister","description":"Bestuursorganen
          publiceren algoritmes met impact en hoog-risico-AI-sy[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:woo-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Iedereen
          kan openbare informatie over algoritmes vinden of aanvragen","description":"\nEen
          bestuursorgaan draagt er zorg voor dat de documenten die het ontvangt, vervaardigt
    [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:dat-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Databanken
          worden alleen gebruikt met toestemming van de databank-producent.\",\"description\":\"Het
          is verboden om zonder goedkeuring van de producent een databank op[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/requirements/urn/urn:nl:ak:ver:aut-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Auteursrechten
          zijn beschermd.","description":"\nAuteursrechten en naburige rechten mogen
          niet geschonden worden bij het ontwikkelen, testen en gebruiken van algoritmes.\n","expl[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/
    response:
      body:
        string: '{"type":"dir","size":0,"name":"measures","path":"measures","download_url":"https://task-registry.apps.digilab.network/measures","links":{"self":"https://task-registry.apps.digilab.network/measures"},"entries":[{"type":"file","size":2121,"name":"2-owp-31-genereren-bronvermelding.yaml","path":"measures/2-owp-31-genereren-bronvermeld[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:org-07?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Richt
          een algoritmegovernance in met three lines of defence\",\"description\":\"\\nRicht
          een algoritmegovernance in met three lines of defence.\\n\",\"explanation\":\"Een
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          waardevolle data vindbaar, toegankelijk, interoperabel en herbruikbaar (FAIR)
          binnen en buiten de eigen organisatie.\",\"description\":\"\\nMaak waardevolle
         [...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owp-28?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Pas
          vastgestelde interne beleidskaders toe en maak aantoonbaar dat deze zijn nageleefd
          bij het ontwikkelen, inkopen en gebruiken van algoritmes.","description":"\n
          Pas vast[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:mon-03?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Maak
          een noodplan voor beveiligingsincidenten","description":"Richt een proces
          in waarmee beveiligingsincidenten m.b.t. algoritmes en data zo spoedig mogelijk
          worden opgelo[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owk-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          een noodplan voor het stoppen van het algoritme\",\"description\":\"\\n Tref
          (technische) maatregelen waarmee het gebruik van het algoritme kan worden
          stopg[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:imp-03?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Richt
          de juiste menselijke controle in van het algoritme\",\"description\":\"Richt
          (technische) controlemechanismen in voor menselijke tussenkomst (of: menselijke
        [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:pba-02?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          het doel van het algoritme","description":"\nHet doel en de eventuele subdoelen
          van het algoritme moeten zo specifiek mogelijk zijn geformuleerd, en waar
          mogelijk[...]
[...]
