interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/?version=latest
    response:
      body:
        string: '{"detail":"Not Found"}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 404
        message: Not Found
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/measures/urn/urn:nl:ak:mtr:dat-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Controleer
          de datakwaliteit\",\"description\":\"Stel vast of de gebruikte data van voldoende
          kwaliteit is voor de beoogde toepassing.\\n\",\"explanation\":\"- Stel functionele
          eisen voor de datakwaliteit vast en [analyseer structureel of er aan deze
          eisen wordt voldaan](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/7-mon-05-evalueer-bij-veranderingen-in-data/index.html).
          \\n\\n- De kwaliteit van de data die als input voor het algoritme wordt gebruikt
          is bepalend voor de uitkomsten van het algoritme. Hier wordt soms ook naar
          gerefereerd als *garbage in = garbage ou[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:avg-05?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Persoonsgegevens
          zijn juist en actueel.","description":"\nPersoonsgegevens zijn juist en actueel.\n","explanation":"De
          te verwerken persoonsgegevens moeten nauwkeurig, juist en zo nodig actueel
          zijn.\nDit betekent dat alle maatregelen moeten worden genomen om ervoor te
          zorgen dat onjuiste persoonsgegevens worden gerectificeerd of gewist.\n\nDat
          kan betekenen dat persoonsgegevens moeten worden geactualiseerd of verbeterd.
          In de context van algoritmes is het van belang dat ook daar wordt onderzocht
          welke maatregelen nodig zijn om die [juistheid](https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/2-owp-11-gebruikte-data/index.html)
          toe te passen.\n\n\nAls er geen rekening wordt gehouden met de juistheid,
          nauwkeurigheid en volledigheid van persoonsgegevens, kunnen kwaliteit en integriteit
          van data niet voldoende worden gewaarborgd.\n","urn":"urn:nl:ak:ver:avg-05","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/vereisten/avg-05-juistheid-en-actualiteit-van-persoonsgegevens/index.html","subject":["privacy-en-gegevensbescherming"],"lifecycle":["dataverkenning-en-datapreparatie"],"links":["urn:nl:ak:mtr:owp-15","urn:nl:ak:mtr:owp-16","urn:nl:ak:mtr:owp-22","urn:nl:ak:mtr:owp-24","urn:nl:ak:mtr:owp-28","urn:nl:ak:mtr:dat-01","urn:nl:ak:mtr:mon-05"],"ai_act_profile":[{"type":[],"open_source":[],"risk_group":[],"systemic_risk":[],"transparency_obligations":[],"role":[],"conformity_assessment_body":[]}],"always_applicable":1,"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl/requirements/urn/urn:nl:ak:ver:aia-05?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Datasets
          voor hoog-risico-AI-systemen voldoen aan kwaliteitscriteria","description":"\nAI-systemen
          met een hoog risico die technieken gebruiken die het trainen van AI-modellen
          m[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl//measures/urn/?version=latest
    response:
      body:
        string: '{"detail":"Not Found"}'
      headers:
        content-type:
          - application/json
      status:
        code: 404
        message: Not Found
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.rijksapp.nl//measures/urn/urn:nl:ak:mtr:dat-01?version=latest
    response:
      body:
        string: '{"detail":"Not Found"}'
      headers:
        content-type:
          - application/json
      status:
        code: 404
        message: Not Found
[...]
