interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owp-09?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Een
          model-verwerkersovereenkomst is onderdeel van de aanbesteding als persoonsgegevens
          worden verwerkt","description":"\nInventariseer of er mogelijk sprake is van
          een algoritme dat een hoog risico kan inhouden voor de rechten en vrijheden
          van natuurlijke personen of impactvol kan zijn voor hen en maak in voorkomend
          geval in de model-verwerkersovereenkomst een uitdrukkelijke verwijzing naar
          een concreet DPIA-document (met datum/kenmerk) of (indien op dat moment nog
          in bezit of bekend bij de steller) een expliciet invulveld voor het duiden
          van de betreffende DPIA, zodat die wordt genoemd ter completeren van de verwerkersovereenkomst
          vooraf het overeenkomen/ondertekenen van die verwerkersovereenkomst.\n","explanation":"Een
          model-verwerkersoverenkomst is veelal een verplicht onderdeel bij het publiek
          inkopen van software waarbij persoonsgegevens worden verwerkt en bij de totstandkoming
          van de overeenkomst.\n","urn":"urn:nl:ak:mtr:owp-09","language":"nl","owners":[{"organization":"Algoritmekader","name":"","email":"","role":""}],"date":"","url":"https://minbzk.github.io/Algoritmekader/voldoen-aan-wetten-en-regels/maatregelen/2-owp-09-model-verwerkersovereenkomst-onderdeel-aanbesteding/index.html","subject":["publieke-inkoop","privacy-en-gegevensbescherming"],"suggested_roles":["projectleider","beleid-en-advies"],"lifecycle":["ontwerp","monitoring-en-beheer"],"links":["urn:nl:ak:ver:avg-13"],"template":{"requirement":"$REQUIREMENT","remarks":"$REMARKS","status":"$STATUS","timestamp":"$TIMESTAMP","authors":[{"name":"$AUTHOR.NAME","email":"$AUTHOR.EMAIL","role":"$AUTHOR.ROLE"}]}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:org-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Bepaal
          of er genoeg experts beschikbaar zijn\",\"description\":\"\\nBepaal welke
          expertise en capaciteit noodzakelijk is voor het ontwikkelen, inkopen en gebruiken
       [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:pba-05?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Beschrijf
          de wettelijke grondslag voor de inzet van het algoritme","description":"Beschrijf
          de wettelijke grondslag voor de inzet van het algoritme en de beoogde besluiten
          [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:ver-01?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Controleer
          regelmatig of het algoritme werkt zoals het bedoeld is","description":"Stel
          vast dat het algoritme voortdurend functioneert in lijn met de [vastgestelde
          doelstel[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:imp-10?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Stel
          een protocol vast voor de situatie dat er (een vermoeden van) discriminatie
          door een algoritme is geconstateerd en pas dit wanneer nodig toe.\",\"description\":\"Stel[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:owk-02?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Maak
          een noodplan voor het stoppen van het algoritme\",\"description\":\"\\n Tref
          (technische) maatregelen waarmee het gebruik van het algoritme kan worden
          stopg[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:dat-01?version=latest
    response:
      body:
        string:
          "{\"systemcard_path\":\".systemcard.requirements[]\",\"schema_version\":\"1.1.0\",\"name\":\"Controleer
          de datakwaliteit\",\"description\":\"Stel vast of de gebruikte data van voldoende
          kwaliteit is voor de beoogde toepassing.\\n\",\"explanation\":\"- Stel functio[...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: https://task-registry.apps.digilab.network/measures/urn/urn:nl:ak:mtr:mon-04?version=latest
    response:
      body:
        string:
          '{"systemcard_path":".systemcard.requirements[]","schema_version":"1.1.0","name":"Monitor
          regelmatig op veranderingen in de data. Bij veranderingen evalueer je de prestaties
          en output van het algoritme.","description":"Monitor regelmatig op veranderingen
         [...]
[...]
  - request:
      body: ""
      headers:
      method: GET
      uri: http://testserver/algorithm/1/details/system_card/compliance
    response:
      body:
        string:
          "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n
          \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n
          \   <link rel=\"icon\" type=\"image/x-icon\" href=\"/static/dist/@nl-rvo/assets/images/favicon/favicon.ico?etag=72468084736f22cc85d357218f5d2ec8\">\n
          \   <title>\n        testalgorithm1 | AMT\n    </title>\n    \n    \n        \n
          \         <script type=\"text/javascript\" src=\"/static/dist/amt.js?etag=c6cbe99eaf1f66af057cc5354a6bcd43\"></script>\n
          \       \n    \n        \n          <script type=\"module\" src=\"/static/dist/@nl-rvo/design-tokens/index.mjs?etag=d1e69147f8a6b4f059708b747418020b\"></script>\n
          \       \n    \n    <script type=\"text/javascript\" src=\"/static/vendor/htmx/js/json-enc.js?etag=73c270c2deb80a8758471378bb47da4b\"></script>\n
          \   <script type=\"text/javascript\" src=\"/static/vendor/[...]
