:root {
    --clr-neutral-800: hsl(234deg 29% 20%);
    --clr-neutral-700: hsl(235deg 18% 26%);
    --clr-neutral-200: hsl(231deg 7% 60%);
    --clr-neutral-100: hsl(0deg 0% 100%);
    --clr-accent-600: hsl(211deg 69% 27%);
    --clr-accent-400: hsl(203deg 100% 39%);
    --clr-accent-200: hsl(203deg 63.8% 81.6%);
    --ff-base: "RijksoverheidSansWebText", sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --fs-300: 0.825rem;
    --fs-400: 1rem;
    --fs-900: 2.5rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-800);
    line-height: 1.5;
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--clr-neutral-100);
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    margin-inline: clamp(1rem, 2vw, 4rem);
}

.language-selection {
    margin-inline-end: clamp(1rem, 2vw, 4rem);
}

/* Add an empty line before the rule */
.project-list a {
    text-decoration: none;
    color: inherit;
}

.margin-bottom-large {
    margin-bottom: 1em;
}

.margin-bottom-small {
    margin-bottom: 0.5em;
}

.margin-bottom-extra-small {
    margin-bottom: 0.25em;
}

.progress-cards-container {
    min-height: 30em;
    background-color: rgb(229 241 249);
    border-radius: 10px;
    margin: 0 0.5em;
    overflow: hidden;
}

.progress-card-container {
    margin: 0.5em;
    border: 1px solid rgb(21 66 115);
    padding: 0.5em;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0 0 0 / 12%) 0 3px 6px 0;
    cursor: move;
    user-select: none;
}

.progress-card-assignees-container {
    display: flex;
    justify-content: flex-end;
}

.progress-card-assignees-image {
    border-radius: 50%;
    height: 35px;
}

.text-center-horizontal {
    text-align: center;
}

.as-inline-block {
    display: inline-block;
}

.project-list li {
    list-style-type: none;
    white-space: nowrap;
}
